<form name="formDetalleInseminacion" novalidate>
    <fieldset>
        <div class="alert alert-danger" ng-show=""></div>
        <div class="row">
            <div class="col-lg-10">
                <div style="margin-top:0px;" class="page-header">
                    <h1>
                        Inseminación
                        <small>Consulta</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="panel panel-default" ng-show="desde !== 'hembrasParaServ' && desde !== 'lactanciasActivas'">
            <div class="panel-heading">Datos de la inseminación</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-6 col-lg-6">
                        <label>
                            Tipo de Inseminación
                        </label>
                        <input name="tipoInseminacion" type="text" class="form-control" placeholder="Tipo de inseminación" disabled
                               ng-model="inseminacion.tipoInseminacion" />
                    </div>
                    <div class="form-group col-md-6 col-lg-6">
                        <label>
                            Fecha de inseminación
                        </label>
                        <input name="fechaInseminacion" type="text" class="form-control" placeholder="Fecha de inseminación" disabled
                               ng-model="inseminacion.fechaInseminacion" />
                    </div>
                </div>
                <div class="row" ng-if="desde === 'preniez'">
                    <div class="form-group col-md-6 col-lg-6">
                        <label>
                            Fecha estimada de parición
                        </label>
                        <input name="fechaParicion" type="text" class="form-control" placeholder="Fecha estimada de nacimiento" disabled
                               ng-model="inseminacion.fechaEstimadaNacimiento" />
                    </div>
                </div>
                <div class="form-group col-md-12 col-lg-12"
                     ng-if="desde === 'preniez'">
                    <!--grilla de tactos-->
                    <legend style="margin-bottom: 5px;">
                        Tacto
                    </legend>
                    <table st-table="displayedCollection" st-safe-src="tactos" class="table table-striped">
                        <thead>
                            <tr>
                                <!--<th st-sort="numero">N°</th>-->
                                <th st-sort="fechaTacto">Fecha</th>
                                <th st-sort="tipoTacto">Tipo</th>
                                <th st-sort="exitoso">Resultado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in displayedCollection">
                                <!--<td>{{item.numero }}</td>-->
                                <td>{{item.fechaTacto}}</td>
                                <td>{{item.tipoTacto | uppercase}}</td>
                                <td>{{item.exitoso | uppercase}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <label for="items" ng-show="tactos.length > 1">Registros por página</label>
                                    <input class="input-sm form-control" name="items" id="items" type="number" ng-model="itemsPorPaginaTacto" ng-disabled="disabled" ng-show="tactos.length > 1">                                    
                                </td>
                                <td colspan="5" class="text-center">
                                    <div st-pagination="" st-items-by-page="itemsPorPaginaTacto" st-displayed-pages="7"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default" ng-if="desde !== 'preniez' && rowCollection.length > 0">
            <div class="panel-heading">{{tituloTabla}}</div>
            <div class="panel-body">
                <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
                    <thead>
                        <tr>
                            <th st-sort="numCaravana">N° Caravana</th>
                            <th st-sort="categoriaNombre">Categoría</th>
                            <th st-sort="razaNombre">Raza</th>
                            <th st-sort="rodeoNombre">Rodeo</th>
                            <th st-sort="estadoNombre">Estado</th>
                            <th st-sort="peso">Peso (kg)</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in displayedCollection">
                            <td>{{item.numCaravana}}</td>
                            <td>{{item.categoriaNombre | uppercase}}</td>
                            <td>{{item.razaNombre | uppercase}}</td>
                            <td>{{item.rodeoNombre | uppercase}}</td>
                            <td>{{item.estadoNombre | uppercase}}</td>
                            <td>{{item.peso}}</td>
                            <td>
                                <a ui-sref="home.detalleBovino({id:item.idBovino, fecha: fecha, desde: desde, proviene: 'DetalleInseminacion', tipoInseminacion: inseminacion.idTipoInseminacion})"><span class="fa fa-search"></span></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <label for="items">Registros por página</label>
                                <input class="input-sm form-control" name="items" id="items" type="number" ng-model="itemsPorPagina" ng-disabled="disabled">
                            </td>
                            <td colspan="5" class="text-center">
                                <div st-pagination="" st-items-by-page="itemsPorPagina" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="panel panel-default" ng-if="desde !== 'preniez' && torosCollection.length > 0">
            <div class="panel-heading">Toros que participaron de la inseminación</div>
            <div class="panel-body">
                <table st-table="displayedCollection" st-safe-src="torosCollection" class="table table-striped">
                    <thead>
                        <tr>
                            <th st-sort="numCaravana">N° Caravana</th>
                            <th st-sort="categoriaNombre">Categoría</th>
                            <th st-sort="razaNombre">Raza</th>
                            <th st-sort="rodeoNombre">Rodeo</th>
                            <th st-sort="peso">Peso</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="toro in torosCollection">
                            <td>{{toro.numCaravana}}</td>
                            <td>{{toro.categoriaNombre | uppercase}}</td>
                            <td>{{toro.razaNombre | uppercase}}</td>
                            <td>{{toro.rodeoNombre | uppercase}}</td>
                            <td>{{toro.peso}}</td>
                            <td>
                                <a ui-sref="home.detalleBovino({id:toro.idBovino, fecha: fecha, desde: desde, proviene: 'DetalleInseminacion', tipoInseminacion: inseminacion.idTipoInseminacion})"><span class="fa fa-search"></span></a>                                
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <label for="items">Registros por página</label>
                                <input class="input-sm form-control" name="items" id="items" type="number" ng-model="itemsPorPagina" ng-disabled="disabled">
                            </td>
                            <td colspan="5" class="text-center">
                                <div st-pagination="" st-items-by-page="itemsPorPagina" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div>
            <div ng-if="desde === 'preniez'">
                <div class="panel panel-default">
                    <div class="panel-heading">Datos de la vaca</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-md-4 col-lg-4">
                                <label>
                                    Nº de Caravana
                                </label>
                                <input name="numCaravana" type="text" class="form-control" placeholder="Número" disabled
                                       ng-model="vaca.numCaravana" />
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label>
                                    Categoría
                                </label>
                                <input name="caravanaNombre" type="text" class="form-control" placeholder="Categoría" disabled
                                       ng-model="vaca.categoriaNombre" />
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label>
                                    Raza
                                </label>
                                <input name="raza" type="text" class="form-control" placeholder="Raza" disabled
                                       ng-model="vaca.razaNombre" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4 col-lg-4">
                                <label>
                                    Rodeo
                                </label>
                                <input name="numCaravana" type="text" class="form-control" placeholder="Rodeo" disabled
                                       ng-model="vaca.rodeoNombre" />
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label>
                                    Estado
                                </label>
                                <input name="estadoNombre" type="text" class="form-control" placeholder="Estado" disabled
                                       ng-model="vaca.estadoNombre" />
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label>
                                    Peso (kg)
                                </label>
                                <input name="raza" type="text" class="form-control" placeholder="Peso" disabled
                                       ng-model="vaca.peso" />
                            </div>
                        </div>
                        <button type="button" class="btn btn-default pull-right"
                                ui-sref="home.detalleBovino({id:vaca.idBovino, fecha: fecha, desde: desde, proviene: 'DetalleInseminacion', tipoInseminacion: inseminacion.idTipoInseminacion})" style="margin-top: 10px;">
                            Ir a detalle de bovino
                        </button>
                    </div>                    
                </div>               
                <div class="panel panel-default" ng-show="inseminacion.idTipoInseminacion === 2">
                    <div class="panel-heading">Datos del toro</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-md-4 col-lg-4">
                                <label>
                                    Nº de Caravana
                                </label>
                                <input name="numCaravana" type="text" class="form-control" placeholder="Número" disabled
                                       ng-model="toro.numCaravana" />
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label>
                                    Categoría
                                </label>
                                <input name="caravanaNombre" type="text" class="form-control" placeholder="Categoría" disabled
                                       ng-model="toro.categoriaNombre" />
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label>
                                    Raza
                                </label>
                                <input name="raza" type="text" class="form-control" placeholder="Raza" disabled
                                       ng-model="toro.razaNombre" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4 col-lg-4">
                                <label>
                                    Rodeo
                                </label>
                                <input name="numCaravana" type="text" class="form-control" placeholder="Rodeo" disabled
                                       ng-model="toro.rodeoNombre" />
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label>
                                    Estado
                                </label>
                                <input name="estadoNombre" type="text" class="form-control" placeholder="Estado" disabled
                                       ng-model="toro.estadoNombre" />
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label>
                                    Peso
                                </label>
                                <input name="raza" type="text" class="form-control" placeholder="Peso" disabled
                                       ng-model="toro.peso" />
                            </div>
                        </div>
                        <button type="button" class="btn btn-default pull-right"
                                ui-sref="home.detalleBovino({id:toro.idBovino, fecha: fecha, desde: desde, proviene: 'DetalleInseminacion', tipoInseminacion: inseminacion.idTipoInseminacion})" style="margin-top: 10px;">
                            Ir a detalle de la Toro
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="row">
        <button type="button" class="btn btn-default"
                ui-sref="home.inseminacion" style="margin-left: 15px;">
            Volver
        </button>
    </div>
</form>