<style>
    .cursor {
        cursor: pointer;
    }
</style>
<form name="formModificarInseminacion" novalidate>
    <fieldset>
        <div class="alert alert-danger" ng-show=""></div>
        <div class="row">
            <div class="col-lg-10">
                <div style="margin-top:0px;" class="page-header">
                    <h1>
                        Inseminación
                        <small>Modificación</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="panel panel-default" ng-show="desde !== 'hembrasParaServ' && desde !== 'lactanciasActivas'">
            <div class="panel-heading">Datos de la inseminación</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-6 col-lg-6" ng-class="{'has-success has-feedback':formModificarInseminacion.tipoInseminacion.$touched && formModificarInseminacion.tipoInseminacion.$valid,
                 'has-error has-feedback':formModificarInseminacion.tipoInseminacion.$touched && formModificarInseminacion.tipoInseminacion.$invalid}">
                        <label class="control-label" for="tipoInseminacion">
                            Tipo de Inseminación
                        </label>
                        <select class="form-control" name="tipoInseminacion" required
                                ng-disabled="!habilitar"
                                ng-model="inseminacion.idTipoInseminacion" ng-change="validarToros()">
                            <option value="">Seleccione...</option>
                            <option ng-repeat="item in tiposInseminacion"
                                    value="{{ item.idTipoInseminacion }}">
                                {{ item.descripcion }}
                            </option>
                        </select>
                        <div ng-show="formModificarInseminacion.tipoInseminacion.$touched">
                            <span class="help-block" ng-show="formModificarInseminacion.tipoInseminacion.$error.required">
                                Este campo es requerido
                            </span>
                        </div>
                        <div ng-show="inseminacion.idTipoInseminacion === '2' && ((!toro &&  desde === 'preniez') || (!torosCollection &&  desde !== 'preniez'))">
                            <span style="color:#0f0f73">Usted ha cambiado el Tipo de inseminación a <b>"Montura"</b>. Es necesario asociar 1 o más toros a dicha inseminación, click <a ng-click="buscarTorosCampo()" style="cursor:pointer;">Aquí</a>.</span>
                        </div>
                    </div>                    
                    <div class="form-group col-md-6 col-lg-6" ng-class="{'has-success has-feedback':formModificarInseminacion.fechaInseminacion.$touched && formModificarInseminacion.fechaInseminacion.$valid,
                 'has-error has-feedback':formModificarInseminacion.fechaInseminacion.$touched && formModificarInseminacion.fechaInseminacion.$invalid}">
                        <label>
                            Fecha de inseminación
                        </label>
                        <div name="fechaInseminacion">
                            <input type="datetime" placeholder="Fecha inseminación" name="fechaInseminacion" class="form-control" id='datetimepicker4' max="{{fechaDeHoy | date:'dd-MM-yyyy'}}" ng-disabled="!habilitar" ng-blur="getFecha()" data-date-format="DD/MM/YYYY" ng-model="inseminacion.fechaInseminacion" valueAsDate="{{inseminacion.fechaInseminacion}}" />
                        </div>
                        <div ng-show="formModificarInseminacion.fechaInseminacion.$touched">
                            <span class="help-block" ng-show="formModificarInseminacion.fechaInseminacion.$error.max || formModificarInseminacion.fechaInseminacion.$error.min">
                                Debe ingresar una fecha válida
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="desde === 'preniez'">
                    <div class="form-group col-md-6 col-lg-6" ng-class="{'has-success has-feedback':formModificarInseminacion.fechaParto.$touched && formModificarInseminacion.fechaParto.$valid,
                 'has-error has-feedback':formModificarInseminacion.fechaParto.$touched && formModificarInseminacion.fechaParto.$invalid}">
                        <label>
                            Fecha estimada de parición
                        </label>
                        <div name="fechaParto">
                            <input type="datetime" placeholder="Fecha estimada de parto" name="fechaParto" class="form-control" id='datetimepicker5' max="{{fechaDeHoy | date:'dd-MM-yyyy'}}" ng-disabled="!habilitar" ng-blur="getFechaParicion()" data-date-format="DD/MM/YYYY" ng-model="inseminacion.fechaEstimadaNacimiento" valueAsDate="{{inseminacion.fechaEstimadaNacimiento}}" />
                        </div>
                        <div ng-show="formModificarInseminacion.fechaParto.$touched">
                            <span class="help-block" ng-show="formModificarInseminacion.fechaParto.$error.max || formModificarInseminacion.fechaParto.$error.min">
                                Debe ingresar una fecha válida
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12 col-lg-12"
                     ng-if="desde === 'preniez'">
                    <!--grilla de tactos-->
                    <legend style="margin-bottom: 5px;">
                        Tacto
                    </legend>
                    <div class="col-md-12">
                        <div class="col-md-4" style="margin-left: -25px;">
                            <label>
                                Fecha Tacto
                            </label>
                            <div name="fechaTacto">
                                <input type="datetime" placeholder="Fecha tacto" name="fechaTacto" class="form-control" id='datetimepicker6' max="{{fechaDeHoy | date:'dd-MM-yyyy'}}" ng-disabled="!habilitar" ng-blur="getFechaTacto()" data-date-format="DD/MM/YYYY" ng-model="tacto.fechaTacto" valueAsDate="{{tacto.fechaTacto}}" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>
                                Tipo Tacto
                            </label>
                            <div name="tipoTacto">
                                <select class="form-control" name="tipoTacto"
                                        ng-disabled="!habilitar"
                                        ng-model="tacto.idTipoTacto"
                                        style="width:100%;">
                                    <option value="">Seleccione...</option>
                                    <option value="1">Tacto</option>
                                    <option value="2">Ecografía</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>
                                Resultado
                            </label>
                            <div name="resultado">
                                <label class="radio-inline">
                                    <input type="radio" name="exitoso" value="1"
                                           ng-disabled="!habilitar"
                                           ng-model="tacto.exitoso">
                                    Exitoso
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="exitoso" value="0"
                                           ng-disabled="!habilitar"
                                           ng-model="tacto.exitoso">
                                    Fallido
                                </label>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="panel panel-default" ng-if="desde !== 'preniez' && rowCollection.length > 0">
            <div class="panel-heading">{{tituloTabla}}</div>
            <div class="panel-body">
                <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
                    <thead>
                        <tr>
                            <th st-sort="numCaravana">N° Caravana</th>
                            <th st-sort="categoriaNombre">Categoría</th>
                            <th st-sort="razaNombre">Raza</th>
                            <th st-sort="rodeoNombre">Rodeo</th>
                            <th st-sort="estadoNombre">Estado</th>
                            <th st-sort="peso">Peso</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in displayedCollection">
                            <td>{{item.numCaravana}}</td>
                            <td>{{item.categoriaNombre | uppercase}}</td>
                            <td>{{item.razaNombre | uppercase}}</td>
                            <td>{{item.rodeoNombre | uppercase}}</td>
                            <td>{{item.estadoNombre | uppercase}}</td>
                            <td>{{item.peso}}</td>
                            <td>
                                <a ui-sref="home.detalleBovino({id:item.idBovino, fecha: fecha, desde: desde, proviene: 'ModificarInseminacion', tipoInseminacion: inseminacion.idTipoInseminacion})"><span class="fa fa-search"></span></a>
                                <a class="cursor" ng-click="openPopUp(item.idBovino, item.numCaravana)" title="Borrar vaca de inseminación" ng-show="showEliminar"><span class="fa fa-trash"></span></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <label for="items">Registros por página</label>
                                <input class="input-sm form-control" name="items" id="items" type="number" ng-model="itemsPorPagina" ng-disabled="disabled">
                            </td>
                            <td colspan="5" class="text-center">
                                <div st-pagination="" st-items-by-page="itemsPorPagina" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="panel panel-default" ng-if="desde !== 'preniez' && torosCollection.length > 0">
            <div class="panel-heading">Toros que participaron de la inseminación</div>
            <div class="panel-body">
                <table st-table="displayedCollection" st-safe-src="torosCollection" class="table table-striped">
                    <thead>
                        <tr>
                            <th st-sort="numCaravana">N° Caravana</th>
                            <th st-sort="categoriaNombre">Categoría</th>
                            <th st-sort="razaNombre">Raza</th>
                            <th st-sort="rodeoNombre">Rodeo</th>
                            <th st-sort="peso">Peso</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="toro in torosCollection">
                            <td>{{toro.numCaravana}}</td>
                            <td>{{toro.categoriaNombre | uppercase}}</td>
                            <td>{{toro.razaNombre | uppercase}}</td>
                            <td>{{toro.rodeoNombre | uppercase}}</td>
                            <td>{{toro.peso}}</td>
                            <td>
                                <a ui-sref="home.detalleBovino({id:toro.idBovino, fecha: fecha, desde: desde, proviene: 'ModificarInseminacion', tipoInseminacion: inseminacion.idTipoInseminacion})"><span class="fa fa-search"></span></a>
                                <a class="cursor" ng-click="openPopUpToro(toro.idBovino, toro.numCaravana)" title="Borrar toro de inseminación" ng-show="showEliminar"><span class="fa fa-trash"></span></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <label for="items">Registros por página</label>
                                <input class="input-sm form-control" name="items" id="items" type="number" ng-model="itemsPorPagina" ng-disabled="disabled">
                            </td>
                            <td colspan="5" class="text-center">
                                <div st-pagination="" st-items-by-page="itemsPorPagina" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div>
            <div ng-if="desde === 'preniez'">
                <div class="panel panel-default">
                    <div class="panel-heading">Datos de la vaca</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-md-4 col-lg-4">
                                <label>
                                    Nº de Caravana
                                </label>
                                <input name="numCaravana" type="text" class="form-control" placeholder="Número" disabled
                                       ng-model="vaca.numCaravana" />
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label>
                                    Categoría
                                </label>
                                <input name="caravanaNombre" type="text" class="form-control" placeholder="Categoría" disabled
                                       ng-model="vaca.categoriaNombre" />
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label>
                                    Raza
                                </label>
                                <input name="raza" type="text" class="form-control" placeholder="Raza" disabled
                                       ng-model="vaca.razaNombre" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4 col-lg-4">
                                <label>
                                    Rodeo
                                </label>
                                <input name="numCaravana" type="text" class="form-control" placeholder="Rodeo" disabled
                                       ng-model="vaca.rodeoNombre" />
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label>
                                    Estado
                                </label>
                                <input name="estadoNombre" type="text" class="form-control" placeholder="Estado" disabled
                                       ng-model="vaca.estadoNombre" />
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label>
                                    Peso
                                </label>
                                <input name="raza" type="text" class="form-control" placeholder="Peso" disabled
                                       ng-model="vaca.peso" />
                            </div>
                        </div>
                        <button type="button" class="btn btn-default pull-right"
                                ui-sref="home.detalleBovino({id:vaca.idBovino, fecha: fecha, desde: desde, proviene: 'ModificarInseminacion', tipoInseminacion: inseminacion.idTipoInseminacion})" style="margin-top: 10px;">
                            Ir a detalle de la Vaca
                        </button>
                    </div>
                </div>
                <div class="panel panel-default" ng-show="inseminacion.idTipoInseminacion === '2' && toro">
                    <div class="panel-heading">Datos del toro</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-md-4 col-lg-4">
                                <label>
                                    Nº de Caravana
                                </label>
                                <input name="numCaravana" type="text" class="form-control" placeholder="Número" disabled
                                       ng-model="toro.numCaravana" />
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label>
                                    Categoría
                                </label>
                                <input name="caravanaNombre" type="text" class="form-control" placeholder="Categoría" disabled
                                       ng-model="toro.categoriaNombre" />
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label>
                                    Raza
                                </label>
                                <input name="raza" type="text" class="form-control" placeholder="Raza" disabled
                                       ng-model="toro.razaNombre" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4 col-lg-4">
                                <label>
                                    Rodeo
                                </label>
                                <input name="numCaravana" type="text" class="form-control" placeholder="Rodeo" disabled
                                       ng-model="toro.rodeoNombre" />
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label>
                                    Estado
                                </label>
                                <input name="estadoNombre" type="text" class="form-control" placeholder="Estado" disabled
                                       ng-model="toro.estadoNombre" />
                            </div>
                            <div class="form-group col-md-4 col-lg-4">
                                <label>
                                    Peso
                                </label>
                                <input name="raza" type="text" class="form-control" placeholder="Peso" disabled
                                       ng-model="toro.peso" />
                            </div>
                        </div>
                        <button type="button" class="btn btn-default pull-right"
                                ui-sref="home.detalleBovino({id:toro.idBovino, fecha: fecha, desde: desde, proviene: 'ModificarInseminacion', tipoInseminacion: inseminacion.idTipoInseminacion})" style="margin-top: 10px;">
                            Ir a detalle de la Toro
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="row">
        <button type="submit" style="margin-left:15px;" class="btn btn-primary"
                ng-disabled="formModificarInseminacion.$invalid || !habilitar || !habilitarXToros"
                ng-click="antesDeModificar()">
            Aceptar
        </button>
        <button type="button" class="btn btn-default"
                ui-sref="home.inseminacion" style="margin-left: 15px;">
            Volver
        </button>
    </div>
</form>
<!--Modal-->
<div id="modalConfirmEliminarVaca" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmar eliminación</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea eliminar la vaca con número de caravana {{nroCaravana}} de la inseminación?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="eliminar()">Si</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cerrar()">No</button>
            </div>
        </div>
    </div>
</div>
<div id="modalConfirmEliminarToro" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmar eliminación</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea eliminar el Toro con número de caravana {{nroCaravanaToro}} de la inseminación?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="eliminarToro()">Si</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cerrar()">No</button>
            </div>
        </div>
    </div>
</div>
<div id="modalConfirmEliminarInseminacion" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmar modificación</h4>
            </div>
            <div class="modal-body">
                <p>Está inseminación quedo sin vacas asociadas, se procedera a eliminar la inseminación. ¿Está seguro que desea seguir adelante con la acción?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="modificar('', '')">Si</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cerrar()">No</button>
            </div>
        </div>
    </div>
</div>
<div id="modalConfirmEliminarInseminacionSinToros" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmar modificación</h4>
            </div>
            <div class="modal-body">
                <p>Está inseminación quedó o quedará sin toros asociadas, se procedera a pasar la inseminación como <b>"Artificial"</b>. ¿Está seguro que desea seguir adelante con la acción?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="modificar('', '')">Si</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cerrar()">No</button>
            </div>
        </div>
    </div>
</div>
<div id="modalToros" class="modal fade" role="dialog" style="overflow-y: scroll;">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Toros de su campo</h4>
            </div>
            <div class="modal-body">
                <p>{{tituloModalToros}}</p>
                <table st-table="tCollection" st-safe-src="torosCampo" class="table table-striped">
                    <thead>
                        <tr>
                            <th st-sort="numCaravana">N° Caravana</th>
                            <th st-sort="estadoNombre">Estado</th>
                            <th st-sort="categoriaNombre">Categoría</th>
                            <th st-sort="razaNombre">Raza</th>
                            <th st-sort="rodeoNombre">Rodeo</th>
                            <th st-sort="peso">Peso</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="t in tCollection">
                            <td>{{t.numCaravana}}</td>
                            <td>{{t.estadoNombre}}</td>
                            <td>{{t.categoriaNombre | uppercase}}</td>
                            <td>{{t.razaNombre | uppercase}}</td>
                            <td>{{t.rodeoNombre | uppercase}}</td>
                            <td>{{t.peso}}</td>
                            <td>
                                <a title="Asociar toro a Inseminación" ng-click="agregarToro(t)" style="cursor:pointer;"><span class="fa fa-plus"></span></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <label for="items">Registros por página</label>
                                <input class="input-sm form-control" name="items" id="items" type="number" ng-model="itemsPorPagina" ng-disabled="disabled">
                            </td>
                            <td colspan="5" class="text-center">
                                <div st-pagination="" st-items-by-page="itemsPorPagina" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cerrar()">Cerrar</button>
            </div>
        </div>
    </div>
</div>