<style>
    .cursor {
        cursor: no-drop;
    }
    .cursor a {
        pointer-events: none;
    }
</style>
<div class="row">
    <div class="col-lg-10">
        <div class="page-header">
            <div class="pull-right" style="margin-top: 13px; margin-right:130px; ">
                <button class="btn btn-success" ui-sref="home.registrarBovino">
                    <span class="glyphicon glyphicon-plus"></span>
                    Nuevo
                </button>
            </div>
            <h1>
                Consulta de Bovino
                <small> Criterios de búsqueda</small>
            </h1>
        </div>
    </div>
</div>
<p>Ingrese los filtros para la consulta:</p>
<form name="formConsultarBovino" novalidate>
    <fieldset>
        <div class="row">
            <div class="form-group col-md-3 col-lg-3">
                <label>
                    N° Caravana
                </label>
                <input class="form-control" type="text" ng-model="filtro.numCaravana" placeholder="N° Caravana" />
            </div>
            <div class="form-group col-md-3 col-lg-3">
                <label>
                    Categoría
                </label>
                <select class="form-control" name="categoria" required
                        ng-model="filtro.idCategoria">
                    <option value="0">Seleccione...</option>
                    <option ng-repeat="item in categorias"
                            value="{{ item.idCategoria }}">
                        {{ item.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-3 col-lg-3">
                <label>
                    Sexo
                </label>
                <select class="form-control" name="genero" required
                        ng-model="filtro.genero">
                    <option value="2">Seleccione...</option>
                    <option value="0">Hembra</option>
                    <option value="1">Macho</option>
                </select>
            </div>
            <div class="form-group col-md-3 col-lg-3">
                <label>
                    Raza
                </label>
                <select class="form-control" name="raza" required
                        ng-model="filtro.idRaza">
                    <option value="0">Seleccione...</option>
                    <option ng-repeat="item in razas"
                            value="{{ item.idRaza }}">
                        {{ item.nombre }}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3 col-lg-3">
                <label>
                    Rodeo
                </label>
                <select class="form-control" name="rodeo" required
                        ng-model="filtro.idRodeo">
                    <option value="0">Seleccione...</option>
                    <option ng-repeat="item in rodeos"
                            value="{{ item.idRodeo }}">
                        {{ item.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-3 col-lg-3">
                <label>
                    Estado
                </label>
                <select class="form-control" name="estado" required
                        ng-model="filtro.idEstado">
                    <option value="0">Seleccione...</option>
                    <option ng-repeat="item in estados"
                            value="{{ item.idEstado }}">
                        {{ item.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-2 col-lg-2">
                <label>
                    Peso
                </label>
                <select class="form-control" name="accionPeso" required
                        ng-model="filtro.accionPeso">
                    <option value="0">Seleccione...</option>
                    <option value="mayor">Mayor</option>
                    <option value="menor">Menor</option>
                </select>
            </div>
            <div style="margin-top:24px" class="form-group col-md-2 col-lg-2">
                <input class="form-control" type="text" ng-model="filtro.peso" placeholder="Peso (kg)" />
            </div>
            <div style="margin-top:24px" class="col-md-2 col-lg-2">
                <button style="margin-left:65px" class="btn btn-primary glyphicon glyphicon-filter"
                        ng-click="consultar()">
                    Filtrar
                </button>
            </div>
        </div>
    </fieldset>
    <!--<div class="col-lg-9 col-md-9">
        <div class="pull-right">
            <button class="btn btn-primary"
                    ng-click="consultar()">
                Filtrar
            </button>
        </div>
    </div>-->
</form>
<legend>Resultados</legend>
<div style="margin-top:25px;" class="row col-lg-9 col-md-9">
    <table class="table table-striped">
        <tr style="background: #B3E5FC;">
            <th>N° Caravana</th>
            <th>Categoria</th>
            <th>Sexo</th>
            <th>Raza</th>
            <th>Rodeo</th>
            <th>Estado</th>
            <th>Peso (kg)</th>
            <th>Acciones</th>
        </tr>
        <tr ng-repeat="item in listaBovinos">
            <td>{{item.numCaravana}}</td>
            <td>{{item.categoriaNombre}}</td>
            <td ng-show="item.sexo === 0">Hembra</td>
            <td ng-show="item.sexo === 1">Macho</td>
            <td>{{item.razaNombre}}</td>
            <td>{{item.rodeoNombre}}</td>
            <td>{{item.estadoNombre}}</td>
            <td>{{item.peso}}</td>
            <td>
                <a ui-sref="home.modificarBovino({id:item.idBovino})"><span class="glyphicon glyphicon-pencil"></span></a>
                <a ui-sref="home.detalleBovino({id:item.idBovino})"><span class="glyphicon glyphicon-search"></span></a>
                <a ui-sref="home.eliminarBovino({id:item.idBovino})"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination pull-right">
            <li>
                <span class="{{disabledAnt}}">
                    <a ui-sref="home.consultarBovino" aria-label="Previous" ng-click="anterior()">
                        <span aria-hidden="true">&laquo; Anterior</span>
                    </a>
                </span>
            </li>
            <li ui-sref="home.consultarBovino" ng-repeat="pag in Paginas" style="cursor:pointer">
                <a ng-click="paginar(pag)" style="background-color:{{pag.clase}}">{{pag.numPag}}</a>
            </li>
            <li>
                <span class="{{disabledSgte}}">
                    <a ui-sref="home.consultarBovino" aria-label="Next" ng-click="siguiente()">
                        <span aria-hidden="true">Siguiente &raquo;</span>
                    </a>
                </span>
            </li>
        </ul>
    </nav>
</div>
