<style>
    .cursor {
        cursor: no-drop;
    }

        .cursor a {
            pointer-events: none;
        }

    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 150px;
        height: 150px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <div class="pull-right" style="margin-top: 13px;">
                <button class="btn btn-success" ui-sref="home.registrarBovino" ng-disabled="disabled">
                    <span class="glyphicon glyphicon-plus"></span>
                    Nuevo
                </button>
            </div>
            <h1>
                Consulta de Bovino
                <small> Criterios de búsqueda</small>
            </h1>
        </div>
    </div>
</div>
<!--<p>Ingrese los filtros para la consulta:</p>-->
<form name="formConsultarBovino" novalidate>
    <fieldset>
        <div class="row">
            <div class="form-group col-md-3 col-lg-3">
                <label>
                    N° Caravana
                </label>
                <input class="form-control" type="text" ng-model="filtro.numCaravana" placeholder="N° Caravana" ng-disabled="disabled" />
            </div>
            <div class="form-group col-md-3 col-lg-3">
                <label>
                    Categoría
                </label>
                <select class="form-control" name="categoria" required
                        ng-model="filtro.idCategoria" ng-disabled="disabled">
                    <option value="0">Seleccione...</option>
                    <option ng-repeat="item in categorias"
                            value="{{ item.idCategoria }}">
                        {{ item.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-3 col-lg-3">
                <label>
                    Sexo
                </label>
                <select class="form-control" name="genero" required
                        ng-model="filtro.genero" ng-disabled="disabled">
                    <option value="2">Seleccione...</option>
                    <option value="0">Hembra</option>
                    <option value="1">Macho</option>
                </select>
            </div>
            <div class="form-group col-md-3 col-lg-3">
                <label>
                    Raza
                </label>
                <select class="form-control" name="raza" required
                        ng-model="filtro.idRaza" ng-disabled="disabled">
                    <option value="0">Seleccione...</option>
                    <option ng-repeat="item in razas"
                            value="{{ item.idRaza }}">
                        {{ item.nombre }}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3 col-lg-3">
                <label>
                    Rodeo
                </label>
                <select class="form-control" name="rodeo" required
                        ng-model="filtro.idRodeo" ng-disabled="disabled">
                    <option value="0">Seleccione...</option>
                    <option ng-repeat="item in rodeos"
                            value="{{ item.idRodeo }}">
                        {{ item.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-3 col-lg-3">
                <label>
                    Estado
                </label>
                <select class="form-control" name="estado" required
                        ng-model="filtro.idEstado" ng-disabled="disabled">
                    <option value="0">Seleccione...</option>
                    <option ng-repeat="item in estados"
                            value="{{ item.idEstado }}">
                        {{ item.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-3 col-lg-3">
                <label>
                    Peso
                </label>
                <select class="form-control" name="accionPeso" required
                        ng-model="filtro.accionPeso" ng-disabled="disabled">
                    <option value="0">Seleccione...</option>
                    <option value="mayor">Mayor</option>
                    <option value="menor">Menor</option>
                </select>
            </div>
            <div style="margin-top:24px" class="form-group col-md-3 col-lg-3">
                <input class="form-control" type="text" ng-model="filtro.peso" placeholder="Peso (kg)" ng-disabled="disabled" />
            </div>
        </div>
        <div class="row pull-right">
            <div class="col-md-12 col-lg-12">
                <button class="btn btn-default"
                        ng-click="limpiarCampos()" ng-disabled="disabled">
                    <span class="glyphicon glyphicon-remove"></span>
                    Limpiar Campos
                </button>
                <button class="btn btn-primary"
                        ng-click="consultar()" ng-disabled="disabled">
                    <span class="glyphicon glyphicon-search"></span>
                    Buscar
                </button>
            </div>
        </div>
    </fieldset>
</form>
<legend style="margin-bottom: 5px;">Resultados</legend>
<div class="row col-lg-12 col-md-12">
    <div class="pull-right" style="margin-bottom:5px">
        <button class="btn btn-success font-white" ng-click="exportarExcel()" title="Exportar a Excel" ng-disabled="disabledExportar">
            <i class="fa fa-file-excel-o"></i>
        </button>
        <button class="btn btn-success font-white" ng-click="exportarPDF()" title="Exportar a PDF" ng-disabled="disabledExportar">
            <i class="fa fa-file-pdf-o"></i>
        </button>
        <a class="btn btn-success font-white" href='javascript:window.print();' title="Imprimir" ng-disabled="disabledExportar">
            <i class="fa fa-print"></i>
        </a>
    </div>
    <table class="table table-striped">
        <tr style="background: #FAE5D3;">
            <th>N° Caravana</th>
            <th>Categoría</th>
            <th>Sexo</th>
            <th>Raza</th>
            <th>Rodeo</th>
            <th>Estado</th>
            <th>Peso (kg)</th>
            <th>Acciones</th>
        </tr>
        <tr ng-repeat="item in listaBovinos">
            <td>{{item.numCaravana}}</td>
            <td>{{item.categoriaNombre}}</td>
            <td>{{item.sexo}}</td>
            <td>{{item.razaNombre}}</td>
            <td>{{item.rodeoNombre}}</td>
            <td>{{item.estadoNombre}}</td>
            <td>{{item.peso}}</td>
            <td>
                <a ui-sref="home.modificarBovino({id:item.idBovino})" title="Modificar"><span class="glyphicon glyphicon-pencil"></span></a>
                <a ui-sref="home.detalleBovino({id:item.idBovino})" title="Ver"><span class="glyphicon glyphicon-search"></span></a>
                <a ui-sref="home.eliminarBovino({id:item.idBovino})" title="Eliminar"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    </table>
    <div class="col-md-offset-4">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <span class="{{disabledAnt}}" ng-disabled="disabledAnt">
                        <a ui-sref="home.bovino" aria-label="Previous" ng-click="anterior()">
                            <span aria-hidden="true">&laquo; Anterior</span>
                        </a>
                    </span>
                </li>
                <li ui-sref="home.bovino" ng-repeat="pag in Paginas" style="cursor:pointer">
                    <a ng-click="paginar(pag)" style="background-color:{{pag.clase}}">{{pag.numPag}}</a>
                </li>
                <li>
                    <span class="{{disabledSgte}}" ng-disabled="disabledSgte">
                        <a ui-sref="home.bovino" aria-label="Next" ng-click="siguiente()">
                            <span aria-hidden="true">Siguiente &raquo;</span>
                        </a>
                    </span>
                </li>
            </ul>
        </nav>
    </div>
    <!--<input class="input-sm form-control" name="items" id="items" type="number" ng-model="itemsPorPagina" />
    <table st-table="rowCollection" class="table table-striped">
        <thead>
            <tr>
                <th st-sort="numCaravana">N° Caravana</th>
                <th st-sort="categoriaNombre">Categoría</th>
                <th st-sort="sexo">Sexo</th>
                <th st-sort="razaNombre">Raza</th>
                <th st-sort="rodeoNombre">Rodeo</th>
                <th st-sort="estadoNombre">Estado</th>
                <th st-sort="peso">Peso</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in rowCollection">
                <td>{{row.numCaravana}}</td>
                <td>{{row.categoriaNombre}}</td>
                <td>{{row.sexo}}</td>
                <td>{{row.razaNombre}}</td>
                <td>{{row.rodeoNombre}}</td>
                <td>{{row.estadoNombre}}</td>
                <td>{{row.peso}}</td>
                <td>
                    <a ui-sref="home.modificarBovino({id:item.idBovino})" title="Modificar"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a ui-sref="home.detalleBovino({id:item.idBovino})" title="Ver"><span class="glyphicon glyphicon-search"></span></a>
                    <a ui-sref="home.eliminarBovino({id:item.idBovino})" title="Eliminar"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="5" st-displayed-pages="2"></div>
                </td>
            </tr>
        </tfoot>
    </table>-->
</div>
<div class="loader" ng-show="showSpinner" style="margin:0 auto"></div>