<fieldset>
    <div class="alert alert-danger" ng-show=""></div>
    <div class="row">
        <div class="col-lg-10">
            <div style="margin-top:0px;" class="page-header">
                <h1>
                    Inicio
                    <small>Dashboard</small>
                </h1>
            </div>
        </div>
    </div>
</fieldset>
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tags fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h1>{{cantBovinos}}</h1>
                        <h4>Bovinos registrados</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h1>{{cantEventos}}</h1>
                        <h4>Eventos registrados</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-money fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h1>{{cantVentas}}</h1>
                        <h4>Ventas concretadas</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-heart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h1>{{vacasPreniadas}}</h1>
                        <h4>Vacas preñadas</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><h4>Proporción de vacas según la raza</h4></div>
            </div>
            <div class="panel-body">
                <div id="graficoRazas"></div>
                <!--<div google-chart chart="myChartObject"></div>-->
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><h4>Cantidad de vacunos según la categoría</h4></div>
            </div>
            <div class="panel-body">
                <div id="graficoCategorias"></div>
                <!--<div google-chart chart="graficoCategorias"></div>-->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <button type="button" class="btn btn-default"
            ui-sref="seleccionCampo" style="margin-left: 15px;" title="Volver a selección de campos">
        Volver a Selección de Campos
    </button>
    <!--<button type="button" class="btn btn-default" style="margin-left: 15px;" title="Volver a selección de campos" ng-click="prueba()">
        Prueba
    </button>-->
</div>
<!--<div class="loader" ng-show="showSpinner" style="margin:0 auto"></div>-->
<!--Modal inconsistencias-->
<div id="modalInconsistencias" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cerrar()">&times;</button>
                <h4 class="modal-title">Conflictos</h4>
            </div>
            <div class="modal-body" style="height:20%; margin-top:15px;">
                <div class="text-center">
                    <p><b>Usted tiene {{inconsistencias}} conflicto/s que resolver.</b></p>
                    <p><b>¿Desea resolverlos ahora o mas tarde?</b></p>
                </div>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="irAConflictos()">Ahora</button>
                <button type="button" class="btn btn-default" ng-click="cerrar()">Mas tarde</button>
            </div>
        </div>
    </div>
</div>
