<form name="formRegistrarBovino" novalidate>
    <fieldset>
        <div class="alert alert-danger" ng-show=""></div>
        <div class="row">
            <div class="col-lg-10">
                <div style="margin-top:0px;" class="page-header">
                    <h1>
                        Bovino
                        <small>Registrar</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="text-left">Los campos marcados con * son obligatorios: </div>

        <div class="panel panel-default">
            <div class="panel-heading">Identificación</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-4 col-lg-4" ng-class="{'has-success has-feedback':formRegistrarBovino.idCaravana.$touched && formRegistrarBovino.idCaravana.$valid,
                 'has-error has-feedback':formRegistrarBovino.idCaravana.$touched && formRegistrarBovino.idCaravana.$invalid}">
                        <label class="control-label" for="idCaravana">
                            N° de Caravana (*)
                        </label>
                        <input name="idCaravana" type="number" class="form-control" placeholder="N° de Caravana" min="0" required
                               ng-disabled="!habilitar"
                               ng-model="bovino.numCaravana"
                               ng-blur="idCaravanaChange()" />
                        <div ng-show="formRegistrarBovino.idCaravana.$touched">
                            <span class="help-block" ng-show="formRegistrarBovino.idCaravana.$error.required">
                                Este campo es requerido
                            </span>
                            <span class="help-block" ng-show="formRegistrarBovino.idCaravana.$error.min">
                                El número no puede ser negativo
                            </span>
                            <span class="help-block" ng-show="formRegistrarBovino.idCaravana.$error.existeIdCaravana">
                                Ya hay un bovino registrado con este número de caravana
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-lg-4">
                        <label class="control-label" for="madre">
                            N° de Caravana Madre
                        </label>
                        <input name="madre" type="number" class="form-control" min="0" placeholder="N° de Caravana Madre"
                               ng-disabled="!habilitar"
                               ng-model="bovino.idBovinoMadre" />
                        <div ng-show="formRegistrarBovino.madre.$touched">
                            <span class="help-block" ng-show="formRegistrarBovino.madre.$error.min">
                                El número no puede ser negativo
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-lg-4">
                        <label class="control-label" for="padre">
                            N° de Caravana Padre
                        </label>
                        <input name="padre" type="number" class="form-control" min="0" placeholder="N° de Caravana Padre"
                               ng-disabled="!habilitar"
                               ng-model="bovino.idBovinoPadre" />
                        <div ng-show="formRegistrarBovino.padre.$touched">
                            <span class="help-block" ng-show="formRegistrarBovino.padre.$error.min">
                                El número no puede ser negativo
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4 col-lg-4">
                        <div class="col-md-11 col-lg-11" style="margin-left: -15px;">
                            <label class="control-label" for="establecimientoOrigen">
                                Establecimiento Origen
                            </label>
                            <select class="form-control" name="establecimientoOrigen"
                                    ng-disabled="!habilitar"
                                    ng-model="bovino.idEstablecimientoOrigen">
                                <option value="">Seleccione...</option>
                                <option ng-repeat="item in establecimientos"
                                        value="{{ item.idEstablecimiento }}">
                                    {{ item.nombre }}
                                </option>
                            </select>                            
                        </div>
                        <div class="col-md-1 col-lg-1">
                            <button type="button" class="btn btn-info" style="margin-top: 25px;background-color:#16A085;" title="Agregar establecimiento" ng-disabled="!habilitar">
                                <span class="glyphicon glyphicon-plus" style="color:white"></span>
                            </button>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-lg-4" ng-class="{'has-success has-feedback':formRegistrarBovino.rodeo.$touched && formRegistrarBovino.rodeo.$valid,
                 'has-error has-feedback':formRegistrarBovino.rodeo.$touched && formRegistrarBovino.rodeo.$invalid}">
                        <div class="col-md-11 col-lg-11" style="margin-left: -15px;">
                            <label class="control-label" for="rodeo">
                                Rodeo (*)
                            </label>
                            <select class="form-control" name="rodeo" required
                                    ng-disabled="!habilitar"
                                    ng-model="bovino.idRodeo">
                                <option value="">Seleccione...</option>
                                <option ng-repeat="item in rodeos"
                                        value="{{ item.idRodeo }}">
                                    {{ item.nombre }}
                                </option>
                            </select>
                            <div ng-show="formRegistrarBovino.rodeo.$touched">
                                <span class="help-block" ng-show="formRegistrarBovino.rodeo.$error.required">
                                    Este campo es requerido
                                </span>
                            </div>
                        </div>
                        <div class="col-md-1 col-lg-1">
                            <button type="button" class="btn" style="margin-top: 25px; background-color:#16A085;" title="Agregar rodeo" ng-disabled="!habilitar">
                                <span class="glyphicon glyphicon-plus" style="color:white"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Características</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-4 col-lg-4">
                        <label class="control-label" for="apodo">
                            Apodo
                        </label>
                        <input name="apodo" type="text" class="form-control" placeholder="Apodo"
                               ng-disabled="!habilitar"
                               ng-model="bovino.apodo" />
                    </div>
                    <div class="form-group" ng-class="{'has-success has-feedback':formRegistrarBovino.estado.$touched && formRegistrarBovino.estado.$valid,
                 'has-error has-feedback':formRegistrarBovino.estado.$touched && formRegistrarBovino.estado.$invalid}">
                        <div class="col-md-4 col-lg-4">
                            <div class="col-md-11 col-lg-11" style="margin-left: -15px;">
                                <label class="control-label" for="estado">
                                    Estado (*)
                                </label>
                                <select class="form-control" name="estado" required
                                        ng-disabled="!habilitar"
                                        ng-model="bovino.idEstado">
                                    <option value="">Seleccione...</option>
                                    <option ng-repeat="item in estados"
                                            value="{{ item.idEstado }}">
                                        {{ item.nombre }}
                                    </option>
                                </select>
                                <div ng-show="formRegistrarBovino.estado.$touched">
                                    <span class="help-block" ng-show="formRegistrarBovino.estado.$error.required">
                                        Este campo es requerido
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-1 col-lg-1">
                                <button type="button" class="btn" style="margin-top: 25px; background-color:#16A085;" title="Agregar estado" ng-disabled="!habilitar">
                                    <span class="glyphicon glyphicon-plus" style="color:white"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-lg-4">
                        <label class="control-label" for="genero">
                            Sexo (*)
                        </label>
                        <div ng-init="bovino.genero = 0">
                            <label class="radio-inline">
                                <input type="radio" name="genero" value="0"
                                       ng-disabled="!habilitar"
                                       ng-model="bovino.genero" ng-click="changeSexo()">
                                Hembra
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="genero" value="1"
                                       ng-disabled="!habilitar"
                                       ng-model="bovino.genero" ng-click="changeSexo()">
                                Macho
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4 col-lg-4" ng-class="{'has-success has-feedback':formRegistrarBovino.fechaNac.$touched && formRegistrarBovino.fechaNac.$valid,
                 'has-error has-feedback':formRegistrarBovino.fechaNac.$touched && formRegistrarBovino.fechaNac.$invalid}">
                        <label class="control-label" for="fechaNac">
                            Fecha de Nacimiento (*)
                        </label>
                        <div name="fechaNac">
                            <input type="datetime" name="fechaNac" class="form-control" id="datetimepicker4" ng-blur="getFecha()" min="2000-01-01" max="{{fechaDeHoy | date:'dd-MM-yyyy'}}" ng-disabled="!habilitar" data-date-format="DD/MM/YYYY" ng-model="bovino.fechaNacimiento" value="{{fechaDeHoy | date:'yyyy-MM-dd'}}" required />
                        </div>
                        <div ng-show="formRegistrarBovino.fechaNac.$touched">
                            <span class="help-block" ng-show="formRegistrarBovino.fechaNac.$error.required">
                                Este campo es requerido
                            </span>
                            <span class="help-block" ng-show="formRegistrarBovino.fechaNac.$error.max || formRegistrarBovino.fechaNac.$error.min">
                                Debe ingresar una fecha válida
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-lg-4" ng-class="{'has-success has-feedback':formRegistrarBovino.peso.$touched && formRegistrarBovino.peso.$valid,
                 'has-error has-feedback':formRegistrarBovino.peso.$touched && formRegistrarBovino.peso.$invalid}">
                        <label class="control-label" for="peso">
                            Peso (kg) (*)
                        </label>
                        <input name="peso" type="number" class="form-control" min="0" max="1000" required placeholder="Peso (kg)"
                               ng-disabled="!habilitar"
                               ng-model="bovino.peso" />
                        <div ng-show="formRegistrarBovino.peso.$touched">
                            <span class="help-block" ng-show="formRegistrarBovino.peso.$error.required || bovino.peso == 0 ">
                                Este campo es requerido
                            </span>
                            <span class="help-block" ng-show="formRegistrarBovino.peso.$error.min">
                                El peso no puede ser negativo
                            </span>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group col-md-4 col-lg-4">
                            <label class="control-label" for="pesoAlNacer">
                                Peso al nacimiento (kg)
                            </label>
                            <input name="pesoAlNacer" type="number" class="form-control" min="0" max="1000" placeholder="Peso al nacimiento (kg)"
                                   ng-disabled="!habilitar"
                                   ng-model="bovino.pesoAlNacer" />
                        </div>
                        <div ng-show="formRegistrarBovino.pesoAlNacer.$touched">
                            <span class="help-block" ng-show="formRegistrarBovino.pesoAlNacer.$error.number">
                                El campo debe ser numérico
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4 col-lg-4" ng-class="{'has-success has-feedback':formRegistrarBovino.categoria.$touched && formRegistrarBovino.categoria.$valid,
                 'has-error has-feedback':formRegistrarBovino.categoria.$touched && formRegistrarBovino.categoria.$invalid}">
                        <div class="col-md-11 col-lg-11" style="margin-left: -15px;">
                            <label class="control-label" for="categoria">
                                Categoría (*)
                            </label>
                            <select class="form-control" name="categoria" required
                                    ng-disabled="!habilitar"
                                    ng-model="bovino.idCategoria">
                                <option value="">Seleccione...</option>
                                <option ng-repeat="item in categorias"
                                        value="{{ item.idCategoria }}">
                                    {{ item.nombre }}
                                </option>
                            </select>
                            <div ng-show="formRegistrarBovino.categoria.$touched">
                                <span class="help-block" ng-show="formRegistrarBovino.categoria.$error.required">
                                    Este campo es requerido
                                </span>
                            </div>
                        </div>
                        <div class="col-md-1 col-lg-1">
                            <button type="button" class="btn" style="margin-top: 25px; background-color:#16A085;" title="Agregar categoría" ng-disabled="!habilitar">
                                <span class="glyphicon glyphicon-plus" style="color:white"></span>
                            </button>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-lg-4" ng-class="{'has-success has-feedback':formRegistrarBovino.raza.$touched && formRegistrarBovino.raza.$valid,
                 'has-error has-feedback':formRegistrarBovino.raza.$touched && formRegistrarBovino.raza.$invalid}">
                        <div class="col-md-11 col-lg-11" style="margin-left: -15px;">
                            <label class="control-label" for="raza">
                                Raza (*)
                            </label>
                            <select class="form-control" name="raza" required
                                    ng-disabled="!habilitar"
                                    ng-model="bovino.idRaza">
                                <option value="">Seleccione...</option>
                                <option ng-repeat="item in razas"
                                        value="{{ item.idRaza }}">
                                    {{ item.nombre }}
                                </option>
                            </select>
                            <div ng-show="formRegistrarBovino.raza.$touched">
                                <span class="help-block" ng-show="formRegistrarBovino.raza.$error.required">
                                    Este campo es requerido
                                </span>
                            </div>
                        </div>
                        <div class="col-md-1 col-lg-1">
                            <button type="button" class="btn" style="margin-top: 25px; background-color:#16A085;" title="Agregar raza" ng-disabled="!habilitar">
                                <span class="glyphicon glyphicon-plus" style="color:white"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12 col-lg-12">
                        <label class="control-label" for="descripcion">
                            Descripción
                        </label>
                        <textarea name="descripcion" type="text" rows="2" class="form-control" placeholder="Descripción"
                                  ng-disabled="!habilitar"
                                  ng-model="bovino.descripcion"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="row">
        <button type="submit" style="margin-left:15px;" class="btn btn-primary"
                ng-disabled="formRegistrarBovino.$invalid || !habilitar"
                ng-click="registrar()">
            Aceptar
        </button>

        <button type="button" class="btn btn-default"
                ui-sref="home.bovino">
            {{btnVolver}}
        </button>
    </div>
</form>
<div class="loader" ng-show="showSpinner" style="margin:0 auto; margin-left: 500px; margin-top:-500px"></div>