<form name="formEliminarBovino" novalidate>
    <fieldset>
        <div class="alert alert-danger" ng-show=""></div>
        <div class="row">
            <div class="col-lg-10">
                <div style="margin-top:0px;" class="page-header">
                    <h1>
                        Bovino
                        <small>Dar de baja</small>
                    </h1>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Identificación</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-4 col-lg-4">
                        <label>
                            N° de Caravana <!--(*)-->
                        </label>
                        <input name="idCaravana" type="number" class="form-control" placeholder="N° de Caravana" disabled
                               ng-model="bovino.numCaravana" />
                    </div>
                    <div class="form-group col-md-4 col-lg-4">
                        <label>
                            N° de Caravana Madre
                        </label>
                        <input name="madre" type="number" class="form-control" placeholder="N° de Caravana Madre" disabled
                               ng-model="bovino.idBovinoMadre" />
                    </div>
                    <div class="form-group col-md-4 col-lg-4">
                        <label>
                            N° de Caravana Padre
                        </label>
                        <input name="padre" type="number" class="form-control" placeholder="N° de Caravana Padre" disabled
                               ng-model="bovino.idBovinoPadre" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4 col-lg-4">
                        <label>
                            Establecimiento de Origen
                        </label>
                        <input class="form-control" type="text" name="establecimientoOrigen" ng-model="bovino.establecimientoOrigen" disabled
                               placeholder="Establecimiento de Origen" />
                    </div>
                    <div class="form-group col-md-4 col-lg-4">
                        <label>
                            Rodeo <!--(*)-->
                        </label>
                        <input class="form-control" type="text" name="rodeo" ng-model="bovino.rodeo" disabled
                               placeholder="Rodeo" />
                    </div>
                </div>
            </div>
        </div>
        <!--Dar de Baja-->
        <div class="panel panel-default">
            <div class="panel-heading">Dar de Baja</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-6 col-lg-6">
                        <label class="control-label" for="evento">
                            Evento
                        </label>
                        <select class="form-control" id="evento" name="evento" required
                                ng-model="tipoEliminacionSeleccionada" ng-disabled="!habilitar">
                            <option ng-repeat="item in tiposEliminacion" value="{{item.id}}">
                                {{item.nombre}}
                            </option>
                        </select>
                    </div>
                </div>
                <div ng-if="tipoEliminacionSeleccionada == '1'">
                    <div class="row">
                        <div class="form-group col-md-6 col-lg-6"
                             ng-class="{'has-success has-feedback':formEliminarBovino.monto.$touched && formEliminarBovino.monto.$valid,
                             'has-error has-feedback':formEliminarBovino.monto.$touched && formEliminarBovino.monto.$invalid}">
                            <label class="control-label" for="monto">
                                Precio ($)
                            </label>
                            <input class="form-control" type="number" id="monto" name="monto" min="0" placeholder="Precio ($)" required
                                   ng-disabled="!habilitar"
                                   ng-model="bajaBovino.monto" />
                            <div ng-show="formEliminarBovino.monto.$touched">
                                <span class="help-block" ng-show="formEliminarBovino.monto.$error.required || bajaBovino.monto == 0 ">
                                    Este campo es requerido
                                </span>
                                <span class="help-block" ng-show="formEliminarBovino.monto.$error.min">
                                    El peso no puede ser negativo
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-lg-6"
                             ng-class="{'has-success':formEliminarBovino.monto.$touched && formEliminarBovino.monto.$valid,
                             'has-error':formEliminarBovino.monto.$touched && formEliminarBovino.monto.$invalid}">
                            <label class="control-label" for="establecimientoDestino">
                                Establecimiento Destino
                            </label>
                            <select class="form-control" id="establecimientoDestino" name="establecimientoDestino" required
                                    ng-disabled="!habilitar"
                                    ng-model="bajaBovino.idEstablecimientoDestino">
                                <option value="">Seleccione...</option>
                                <option ng-repeat="item in establecimientos"
                                        value="{{ item.idEstablecimiento }}">
                                    {{ item.nombre }}
                                </option>
                            </select>
                            <div ng-show="formEliminarBovino.establecimientoDestino.$touched">
                                <span class="help-block" ng-show="formEliminarBovino.establecimientoDestino.$error.required">
                                    Este campo es requerido
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="tipoEliminacionSeleccionada == '2'" style="margin-left: -15px;">
                    <div class="form-group col-md-6 col-lg-6" ng-class="{'has-success has-feedback':formEliminarBovino.fechaMuerte.$touched && formEliminarBovino.fechaMuerte.$valid,
                             'has-error has-feedback':formEliminarBovino.fechaMuerte.$touched && formEliminarBovino.fechaMuerte.$invalid}">
                        <label class="control-label" for="fechaMuerte">
                            Fecha de Muerte
                        </label>
                        <input class="form-control" type="date" id="fechaMuerte" name="name" min="2000-01-01" required
                               max="{{fechaDeHoy | date:'yyyy-MM-dd'}}"
                               ng-disabled="!habilitar"
                               ng-model="bajaBovino.fechaMuerte" />
                    </div>
                    <div ng-show="formEliminarBovino.fechaMuerte.$touched">
                        <span class="help-block" ng-show="formEliminarBovino.fechaMuerte.$error.required">
                            Este campo es requerido
                        </span>
                        <span class="help-block" ng-show="formEliminarBovino.fechaMuerte.$error.max || formEliminarBovino.fechaMuerte.$error.min">
                            Debe ingresar una fecha válida
                        </span>
                    </div>
                </div>
            </div><!--fin panel body-->
        </div><!--fin panel-->
        <div class="row">
            <button type="submit" style="margin-left: 15px;" class="btn btn-primary"
                    ng-disabled="formEliminarBovino.$invalid || !habilitar"
                    data-toggle="modal" data-target="#modalConfirmEliminar">
                Aceptar
            </button>
            <button type="button" class="btn btn-default"
                    ui-sref="home.bovino">
                {{btnVolver}}
            </button>
        </div>
    </fieldset>
</form>

<!--Modal-->
<div id="modalConfirmEliminar" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmar eliminación</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea eliminar el bovino con número de caravana {{nroCaravana}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="eliminar()">Si</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cerrar()">No</button>
            </div>
        </div>
    </div>
</div>
<div class="loader" ng-show="showSpinner" style="margin:0 auto; margin-left: 500px; margin-top:-500px"></div>