<div class="seleccionCampo">
    <style>
        .seleccionCampo {
            background-image: url("../../images/fondo_seleccioncampo.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            font-family: 'Open Sans', sans-serif;
            background-position: center;
            background-attachment: fixed;
            padding: 0 10px;
            margin: 0;
            /*background: #0e0f11;*/
            color: #ecf0f1;
            font-family: 'Open Sans', sans-serif;
            min-height: 100vh;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 100%;
        }

        * {
            box-sizing: border-box;
        }

        h1,
        p {
            text-align: center;
        }

        p {
            width: 100%;
            max-width: 500px;
            margin: auto;
        }

        a:link,
        a:hover,
        a:active,
        a:visited {
            -webkit-transition: color 150ms;
            transition: color 150ms;
            color: #95a5a6;
            text-decoration: none;
        }

        a:hover {
            color: #7f8c8d;
            text-decoration: underline;
        }


        .row__inner {
            -webkit-transition: 450ms -webkit-transform;
            transition: 450ms -webkit-transform;
            transition: 450ms transform;
            transition: 450ms transform, 450ms -webkit-transform;
            font-size: 0;
            white-space: nowrap;
            margin: 70.3125px 0;
            padding-bottom: 10px;
        }

        .tile {
            position: relative;
            display: inline-block;
            width: 250px;
            height: 140.625px;
            margin-right: 10px;
            font-size: 20px;
            cursor: pointer;
            -webkit-transition: 450ms all;
            transition: 450ms all;
            -webkit-transform-origin: center left;
            transform-origin: center left;
        }

        .tile__img {
            width: 250px;
            height: 140.625px;
            -o-object-fit: cover;
            object-fit: cover;
        }

        .tile__details {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            font-size: 15px;
            color: white;
            opacity: 1;
            /*background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
                background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);*/
            -webkit-transition: 450ms opacity;
            transition: 450ms opacity;
        }

            .tile__details:after,
            .tile__details:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                display: #000;
            }

            .tile__details:after {
                margin-top: -25px;
                margin-left: -25px;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                z-index: 1;
            }

            .tile__details:before {
                left: 0;
                width: 100%;
                font-size: 30px;
                margin-left: 7px;
                margin-top: -18px;
                text-align: center;
                z-index: 2;
            }

        .tile:hover .tile__details {
            opacity: 1;
        }

        .tile__title {
            position: absolute;
            bottom: 0;
            padding: 10px;
        }

        .row__inner:hover {
            -webkit-transform: translate3d(-62.5px, 0, 0);
            transform: translate3d(-62.5px, 0, 0);
        }

            .row__inner:hover .tile {
                opacity: 1;
            }

                .row__inner:hover .tile:hover {
                    -webkit-transform: scale(1.5);
                    transform: scale(1.5);
                    opacity: 1;
                }

        .tile:hover ~ .tile {
            -webkit-transform: translate3d(125px, 0, 0);
            transform: translate3d(125px, 0, 0);
        }
    </style>

    <!-- comienzo pagina-->
    <div class="container">
        <div class="jumbotron" style="background:rgba(255, 255, 255,0.8)">
            <h1>Campos registrados</h1>
            <h3 style="text-align:center;color: black;">
                Seleccione con el que desea trabajar
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="row__inner">
            <div class="tile" ng-repeat="campo in campos">
                <div ng-click="seleccionarCampo(campo.codigoCampo)" title="Seleccionar este campo">
                    <div class="tile__media">
                        <img class="tile__img" src="{{campo.imagenNombre}}" alt="" />
                    </div>
                    <div class="tile__details">
                        <div class="tile__title">
                            {{campo.nombre}}
                        </div>
                    </div>
                </div>                
                <div class="circuloEliminarCampo">
                    <span ng-click="abrirModalEliminarCampo(campo.nombre, campo.codigoCampo)" title="Eliminar Campo">
                        <span style="color:white;font-size:35px;vertical-align:middle;margin-top:0"><i class="fa fa-minus"></i></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="circulo" ng-show="idRol === 1" style="right:90px">
        <span ng-click="validarCantCampos()" title="Agregar campo">
            <span style="color:white;font-size:35px;vertical-align:middle;margin-top:0">+</span>
        </span>
    </div>
    <div class="circulo">
        <span data-toggle="modal" data-target="#modalConfirmCerrarSesion" title="Cerrar Sesión">
            <span style="color:white;font-size:35px;vertical-align:middle;margin-top:0"><i class="fa fa-sign-out"></i></span>
        </span>
    </div>
</div>

<div id="modalConfirmCerrarSesion" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Atención</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea cerrar sesión?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="cerrarSesion()">Si</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cerrar()">No</button>
            </div>
        </div>
    </div>
</div>

<div id="modalEliminarCampo" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Atención</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea <b>Eliminar</b> el campo "{{campoAEliminar}}" ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="eliminarCampo()">Si</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cerrar()">No</button>
            </div>
        </div>
    </div>
</div>