<style>
    .cursor {
        cursor: no-drop;
    }

        .cursor a {
            pointer-events: none;
        }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <div class="pull-right hidden-print" style="margin-top: 13px;">
                <button class="btn btn-success" ng-click="validarCantUsuarios()" ng-disabled="deshabilitar"
                        data-toggle="tooltip" title="" data-placement="left" data-original-title="Permite registrar un nuevo usuario en el sistema.">
                    <span class="fa fa-plus"></span>
                    Nuevo
                </button>
            </div>
            <h1>
                Usuarios registrados
                <small> Criterios de búsqueda</small>
            </h1>
        </div>
    </div>
</div>
<!--<p>Ingrese los filtros para la consulta:</p>-->
<form name="formUsuarios" novalidate>
    <fieldset>
        <div class="row">
            <div class="form-group col-md-4 col-lg-4" ng-class="{'has-success has-feedback':formUsuarios.nombre.$touched && formUsuarios.nombre.$valid,
                 'has-error has-feedback':formUsuarios.nombre.$touched && formUsuarios.nombre.$invalid}">
                <label data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite buscar un usuario por su nombre.">
                    Nombre
                </label>
                <input class="form-control" name="nombre" type="text" ng-model="filtro.nombre" placeholder="Nombre" ng-disabled="deshabilitar" />
            </div>
            <div class="form-group col-md-4 col-lg-4" ng-class="{'has-success has-feedback':formUsuarios.apellido.$touched && formUsuarios.apellido.$valid,
                 'has-error has-feedback':formUsuarios.apellido.$touched && formUsuarios.apellido.$invalid}">
                <label data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite buscar un usuario por su apellido.">
                    Apellido
                </label>
                <input class="form-control" name="apellido" type="text" ng-model="filtro.apellido" placeholder="Apellido" ng-disabled="deshabilitar" />
            </div>
            <div class="form-group col-md-4 col-lg-4">
                <label data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite mostrar los usuarios según el rol que tiene asignado.">
                    Rol
                </label>
                <select class="form-control" name="rol" required
                        ng-model="filtro.idRol" ng-disabled="deshabilitar">
                    <option value="0">Seleccione...</option>
                    <option ng-repeat="item in roles"
                            value="{{ item.idRol }}">
                        {{ item.nombre }}
                    </option>
                </select>
            </div>
        </div>
        <div class="row pull-right hidden-print">
            <div class="col-md-12 col-lg-12">
                <button class="btn btn-default"
                        ng-click="limpiarCampos()" ng-disabled="deshabilitar"
                        data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite limpiar los filtros ingresados para mostrar todos los usuarios del campo.">
                    <span class="fa fa-trash"></span>
                    Limpiar Campos
                </button>
                <button class="btn btn-primary"
                        ng-click="consultar()" ng-disabled="formConsultarBovino.$invalid || deshabilitar"
                        data-toggle="tooltip" title="" data-placement="top" data-original-title="Muestra los usuarios que cumplan con las condiciones ingresadas en los criterios de búsqueda.">
                    <span class="fa fa-search"></span>
                    Buscar
                </button>
            </div>
        </div>
    </fieldset>
</form>
<legend style="margin-bottom: 5px;" ng-show="rowCollection.length > 0">Resultados</legend>
<div class="row col-lg-12 col-md-12" ng-show="rowCollection.length > 0">
    <div class="pull-right hidden-print" style="margin-bottom:5px">
        <button class="btn btn-success font-white" ng-click="exportarExcel()" ng-disabled="disabledExportar" data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite exportar el listado de usuarios (con los filtros ingresados) y descargar un documento en formato Excel.">
            <i class="fa fa-file-excel-o"></i>
        </button>
        <button class="btn btn-success font-white" ng-click="exportarPDF()" ng-disabled="disabledExportar" data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite exportar el listado de usuarios (con los filtros ingresados) y descargar un documento en formato PDF.">
            <i class="fa fa-file-pdf-o"></i>
        </button>
        <a class="btn btn-success font-white" href='javascript:window.print();' ng-disabled="disabledExportar" data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite realizar una impresión del listado de usuarios, con los filtros ingresados.">
            <i class="fa fa-print"></i>
        </a>
    </div>
    <div class="table-responsive">
        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
            <thead>
                <tr>
                    <th st-sort="usuario">Usuario</th>
                    <th st-sort="nombre">Nombre</th>
                    <th st-sort="apellido">Apellido</th>
                    <th st-sort="rol">Rol</th>
                    <th>Estado</th>
                    <th st-sort="fechaAlta">Fecha Alta</th>
                    <th st-sort="fechaBaja">Fecha Baja</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in displayedCollection">
                    <td>{{item.usuario}}</td>
                    <td>{{item.nombre | uppercase}}</td>
                    <td>{{item.apellido | uppercase}}</td>
                    <td ng-if="item.idRol === 1">Dueño</td>
                    <td ng-if="item.idRol === 2">Ingeniero</td>
                    <td ng-if="item.idRol === 3">Peón</td>
                    <td ng-if="item.fechaBaja === ' '">Activo</td>
                    <td ng-if="item.fechaBaja !== ' '">Inactivo</td>
                    <td>{{item.fechaAlta}}</td>
                    <td>{{item.fechaBaja}}</td>
                    <td>
                        <a ui-sref="home.detalleUsuario({id:item.idUsuario})" title="Ver"><span class="fa fa-search"></span></a>
                        <a ui-sref="home.modificarUsuario({id:item.idUsuario})" title="Modificar" ng-show="item.fechaBaja === ' '"><span class="fa fa-pencil"></span></a>                        
                        <a title="Eliminar" style="cursor:pointer" ng-show="item.fechaBaja === ' ' && (item.usuario !== usuario || item.idRol !== rol)"><span class="fa fa-trash" ng-click="openPopUp(item)"></span></a>
                        <a title="Activar usuario" style="cursor:pointer" ng-show="item.fechaBaja !== ' ' && item.usuario !== usuario"><span class="fa fa-check-circle-o " ng-click="openPopUpActivar(item)"></span></a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="hidden-print" ng-show="rowCollection.length > 0">
                        <label for="items" data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite indicar la cantidad de usuarios a mostrar en cada página.">Registros por página</label>
                        <input class="input-sm form-control" name="items" id="items" min="1" type="number" ng-model="itemsPorPagina" ng-disabled="deshabilitar">
                    </td>
                    <td colspan="5" class="text-center" data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite ir cambiando la página a visualizar (en azul se indica la página actual)." ng-show="rowCollection.length > 0">
                        <div st-pagination="" st-items-by-page="itemsPorPagina" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<!--Modal-->
<div id="modalConfirmEliminacionUser" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmar baja de usuario</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea dar de baja al usuario {{usuario}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="eliminar()">Si</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cerrar()">No</button>
            </div>
        </div>
    </div>
</div>
<!--Modal-->
<div id="modalConfirmActivacionUser" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmar baja de usuario</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea activar al usuario {{usuarioActivo}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="activar()">Si</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cerrar()">No</button>
            </div>
        </div>
    </div>
</div>