<form name="formDetalleBovino" novalidate>
    <fieldset>
        <div class="alert alert-danger" ng-show=""></div>
        <div class="row">
            <div class="col-lg-10">
                <div style="margin-top:0px;" class="page-header">
                    <h1>
                        Bovino
                        <small>Consulta</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="text-left">Los marcados con * son obligatorios: </div>

        <div class="panel panel-default">
            <div class="panel-heading">Identificación</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-4 col-lg-4">
                        <label>
                            N° de Caravana (*)
                        </label>
                        <input name="idCaravana" type="number" class="form-control" placeholder="N° de Caravana" disabled
                               ng-model="bovino.numCaravana" />
                    </div>
                    <div class="form-group col-md-4 col-lg-4">
                        <label>
                            N° de Caravana Madre
                        </label>
                        <input name="madre" type="number" class="form-control" placeholder="N° de Caravana Madre" disabled
                               ng-model="bovino.idBovinoMadre" />
                    </div>
                    <div class="form-group col-md-4 col-lg-4">
                        <label>
                            N° de Caravana Padre
                        </label>
                        <input name="padre" type="number" class="form-control" placeholder="N° de Caravana Padre" disabled
                               ng-model="bovino.idBovinoPadre" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4 col-lg-4">
                        <label>
                            Establecimiento de Origen
                        </label>
                        <input class="form-control" type="text" name="establecimientoOrigen" ng-model="bovino.establecimientoOrigen" disabled
                               placeholder="Establecimiento de Origen" />
                    </div>
                    <div class="form-group col-md-4 col-lg-4">
                        <label>
                            Rodeo (*)
                        </label>
                        <input class="form-control" type="text" name="rodeo" ng-model="bovino.rodeo" disabled
                               placeholder="Rodeo" />
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Características</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-4 col-lg-4">
                        <label for="apodo">
                            Apodo
                        </label>
                        <input name="apodo" type="text" class="form-control" placeholder="Apodo" disabled
                               ng-model="bovino.apodo" />
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 col-lg-4">
                            <label>
                                Estado (*)
                            </label>
                            <input class="form-control" type="text" name="estado" ng-model="bovino.estado" disabled
                                   placeholder="Estado" />
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-lg-4">
                        <label>
                            Sexo (*)
                        </label>
                        <div>
                            <label class="radio-inline">
                                <input type="radio" name="genero" ng-checked="checkH" value="0" disabled
                                       ng-model="bovino.sexo">
                                Hembra
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="genero" ng-checked="checkM" value="1" disabled
                                       ng-model="bovino.sexo">
                                Macho
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4 col-lg-4">
                        <label>
                            Fecha de Nacimiento (*)
                        </label>
                        <input name="fechaNac" type="date" class="form-control" disabled
                               ng-model="bovino.fechaNacimiento" />
                    </div>
                    <div class="form-group col-md-4 col-lg-4">
                        <label>
                            Peso (*)
                        </label>
                        <input name="peso" type="number" class="form-control" placeholder="Peso" disabled
                               ng-model="bovino.peso" />
                    </div>
                    <div class="row-fluid">
                        <div class="form-group col-md-4 col-lg-4">
                            <label>
                                Peso al nacimiento
                            </label>
                            <input name="pesoAlNacer" type="number" class="form-control" placeholder="Peso al nacimiento" disabled
                                   ng-model="bovino.pesoAlNacer" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4 col-lg-4">
                        <label>
                            Categoría (*)
                        </label>
                        <input class="form-control" type="text" name="categoria" ng-model="bovino.categoria" disabled
                               placeholder="Categoría" />
                    </div>
                    <div class="form-group col-md-4 col-lg-4">
                        <label>
                            Raza (*)
                        </label>
                        <input class="form-control" type="text" name="raza" ng-model="bovino.raza" disabled
                               placeholder="Raza" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12 col-lg-12">
                        <label>
                            Descripción
                        </label>
                        <textarea name="descripcion" type="text" rows="2" class="form-control" placeholder="Descripción" disabled
                                  ng-model="bovino.descripcion"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="row">
        <button type="button" style="margin-left:15px;" class="btn btn-primary" disabled>
            Aceptar
        </button>

        <button type="button" class="btn btn-default"
                ui-sref="home.consultarBovino">
            Volver
        </button>
    </div>
</form>