.fondo {
    background-image:url(../img/fondo_login.jpg);
}

.fondoMenu {
    background-color: transparent;
}
.fondoMenu .itemMenu {
      background-color: #444444;
      border-top: 1px solid;
      border-bottom: 1px solid;
      border-color: transparent;
      color: white;
}
.bordeBoton {
    border-color: black;
    background-color: #444444; 
    color: white;
}
.botonVerificar {
    border-color: black;
    background-color: #444444; 
    color: white;
    font-size: 12px;
    padding: 10px 25px;
}
.td{
    background-image:url(../img/vacuna.png);
    background-repeat:no-repeat;
    height:30%;
    width:45%;
    background-position:center;
}
.select{
    border-radius: 8px;
}
.bordeTabla {
    border-color: black;
    background-color: #FFFAFA;
    color: black;
    border-radius: 8px;
}
.itemTabla{
    border-top: 1px solid;
}
.botonIniciarSesion{
    width: 100%;
}
.botonIniciarSesionBienvenido{
    width: 90%;
    font-size: 20px;
    margin-left: 5%;
    
}
.botonCerrarSesion{
    width: 35%;
    margin-left: 10%;
}
.botonRegistrarEvento {
    width: 50%;
    margin-left: 25%;
}

.botonInseminacion {
    width: 60%;
    margin-left: 20%;
}

.botonMatriz {
    width: 50%;
    height: 50%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}


.fhm_container {
  position:absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
}

.fhm_row {
  height: 50%;
  left:0;
  right:0;
  clear:both;
}
.fhm_itemAntibiotico {
  height: 100%;
  width:50%;
  background-image:url(../img/antibiotico.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid black;
  float:left;
}
.fhm_itemAlimento {
  height: 100%;
  width:50%;
  background-image:url(../img/alimento.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid black;
  float:left;
}
.fhm_itemManejo {
  height: 100%;
  width:50%;
  background-image:url(../img/manejo.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid black;
  float:left;
}
.fhm_itemVacuna {
  height: 100%;
  width:50%;
  background-image:url(../img/vacuna.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid black;
  float:left;
}
.pas{
  position: relative;
  bottom: -85%;
  text-align: center;
  font-size: 140%;
}
.h9{
    text-align: center;
    font-size: 20px;

}
.myclass{
    background-color:transparent;
}