.fondo {
    background-color: #229954;
}

.fondoMenu {
    background-color: #FAE5D3;
}

.bordeBoton {
    border-color: black;
    background-color: #E59866;
    color: #fff;
}
.bordeTabla {
    border-color: black;
    background-color: #E59866;
    color: black;
}
.botonRegistrarEvento{
    width: 50%;
    margin-left:25%;
    
}
.botonMatriz {
    width: 50%;
    height: 50%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #E59866;
    color: black;
}