<style>
    .cursor {
        cursor: pointer;
    }
</style>
<form name="formModificarEvento" novalidate>
    <fieldset>
        <div class="alert alert-danger" ng-show=""></div>
        <div class="row">
            <div class="col-lg-10">
                <div style="margin-top:0px;" class="page-header">
                    <h1>
                        Evento
                        <small>Modificación</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="text-left">Los marcados campos con * son obligatorios: </div>
        <div class="panel panel-default">
            <div class="panel-heading">Datos del evento</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-6 col-lg-6" ng-class="{'has-success has-feedback':formModificarEvento.idTipoEvento.$touched && formModificarEvento.idTipoEvento.$valid,
                 'has-error has-feedback':formModificarEvento.idTipoEvento.$touched && formModificarEvento.idTipoEvento.$invalid}">
                        <label class="control-label" for="idTipoEvento">
                            Tipo de Evento (*)
                        </label>
                        <select class="form-control" name="idTipoEvento" required
                                ng-disabled="!habilitar"
                                ng-model="evento.idTipoEvento">
                            <option value="">Seleccione...</option>
                            <option ng-repeat="item in tiposEventos"
                                    value="{{ item.idTipoEvento }}">
                                {{ item.descripcion }}
                            </option>
                        </select>
                        <div ng-show="formModificarEvento.idTipoEvento.$touched">
                            <span class="help-block" ng-show="formModificarEvento.idTipoEvento.$error.required">
                                Este campo es requerido
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-lg-6" ng-class="{'has-success has-feedback':formModificarEvento.fechaEvento.$touched && formModificarEvento.fechaEvento.$valid,
                 'has-error has-feedback':formModificarEvento.fechaEvento.$touched && formModificarEvento.fechaEvento.$invalid}">
                        <label class="control-label" for="fechaEvento">
                            Fecha del Evento (*)
                        </label>
                        <div name="fechaEvento">
                            <input type="datetime" name="fechaEvento" class="form-control" id='datetimepicker4' ng-blur="getFecha()" min="2000-01-01" max="{{fechaDeHoy | date:'dd-MM-yyyy'}}" ng-disabled="!habilitar" data-date-format="DD/MM/YYYY hh:mm a" ng-model="evento.fechaHora" value="{{evento.fechaHora}}" required />
                        </div>
                        <div ng-show="formModificarEvento.fechaEvento.$touched">
                            <span class="help-block" ng-show="formModificarEvento.fechaEvento.$error.required">
                                Este campo es requerido
                            </span>
                            <span class="help-block" ng-show="formModificarEvento.fechaEvento.$error.max || formModificarEvento.fechaEvento.$error.min">
                                Debe ingresar una fecha válida
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3 col-lg-3" ng-show="evento.idTipoEvento === '1'" ng-class="{'has-success has-feedback':formModificarEvento.idVacuna.$touched && formModificarEvento.idVacuna.$valid,
                 'has-error has-feedback':formModificarEvento.idVacuna.$touched && formModificarEvento.idVacuna.$invalid}">
                        <label class="control-label" for="idVacuna">
                            Vacuna (*)
                        </label>
                        <select class="form-control" name="idVacuna"
                                ng-disabled="!habilitar"
                                ng-model="evento.idVacuna" required>
                            <option value="">Seleccione...</option>
                            <option ng-repeat="item in vacunas"
                                    value="{{ item.idVacuna }}">
                                {{ item.nombre }}
                            </option>
                        </select>
                        <div ng-show="formModificarEvento.idVacuna.$touched">
                            <span class="help-block" ng-show="formModificarEvento.idVacuna.$error.required">
                                Este campo es requerido
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-lg-3" ng-show="evento.idTipoEvento === '2'" ng-class="{'has-success has-feedback':formModificarEvento.idAntibiotico.$touched && formModificarEvento.idAntibiotico.$valid,
                 'has-error has-feedback':formModificarEvento.idAntibiotico.$touched && formModificarEvento.idAntibiotico.$invalid}">
                        <label class="control-label" name="idAntibiotico">
                            Antibiótico (*)
                        </label>
                        <select class="form-control" name="idAntibiotico" required
                                ng-disabled="!habilitar"
                                ng-model="evento.idAntibiotico">
                            <option value="">Seleccione...</option>
                            <option ng-repeat="item in antibioticos"
                                    value="{{ item.idAntibiotico }}">
                                {{ item.nombre }}
                            </option>
                        </select>
                        <div ng-show="formModificarEvento.idAntibiotico.$touched">
                            <span class="help-block" ng-show="formModificarEvento.idAntibiotico.$error.required">
                                Este campo es requerido
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-lg-3" ng-show="evento.idTipoEvento === '3'" ng-class="{'has-success has-feedback':formModificarEvento.campoDestino.$touched && formModificarEvento.campoDestino.$valid,
                 'has-error has-feedback':formModificarEvento.campoDestino.$touched && formModificarEvento.campoDestino.$invalid }">
                        <label class="control-label" name="campoOrigen">
                            Campo Destino (*)
                        </label>
                        <select class="form-control" name="campoDestino" required
                                ng-disabled="!habilitar" ng-change="changeCampos()"
                                ng-model="evento.idCampoDestino">
                            <option value="">Seleccione...</option>
                            <option ng-repeat="item in campos"
                                    value="{{ item.idCampo }}">
                                {{ item.nombre }}
                            </option>
                        </select>
                        <div ng-show="formModificarEvento.campoDestino.$touched">
                            <span class="help-block" ng-show="formModificarEvento.campoDestino.$error.required">
                                Este campo es requerido
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-lg-3" ng-show="evento.idTipoEvento === '3'" ng-class="{'has-success has-feedback':formModificarEvento.rodeoDestino.$touched && formModificarEvento.rodeoDestino.$valid,
                 'has-error has-feedback':formModificarEvento.rodeoDestino.$touched && formModificarEvento.rodeoDestino.$invalid}">
                        <label class="control-label" name="rodeoDestino">
                            Rodeo Destino (*)
                        </label>
                        <select class="form-control" name="rodeoDestino" required
                                ng-disabled="!habilitar"
                                ng-model="idRodeoDestino" ng-change="changeRodeos()">
                            <option value="">Seleccione...</option>
                            <option ng-repeat="item in rodeos"
                                    value="{{ item.idRodeo }}">
                                {{ item.nombre }}
                            </option>
                        </select>
                        <div ng-show="formModificarEvento.rodeoDestino.$touched">
                            <span class="help-block" ng-show="formModificarEvento.rodeoDestino.$error.required">
                                Este campo es requerido
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-lg-3" ng-show="evento.idTipoEvento === '4'" ng-class="{'has-success has-feedback':formModificarEvento.idAlimento.$touched && formModificarEvento.idAlimento.$valid,
                 'has-error has-feedback':formModificarEvento.idAlimento.$touched && formModificarEvento.idAlimento.$invalid}">
                        <label class="control-label" name="idAlimento">
                            Alimento (*)
                        </label>
                        <select class="form-control" name="idAlimento" required
                                ng-disabled="!habilitar"
                                ng-model="evento.alimento">
                            <option value="">Seleccione...</option>
                            <option ng-repeat="item in alimentos"
                                    value="{{ item.idAlimento }}">
                                {{ item.nombre }}
                            </option>
                        </select>
                        <div ng-show="formModificarEvento.idAlimento.$touched">
                            <span class="help-block" ng-show="formModificarEvento.idAlimento.$error.required">
                                Este campo es requerido
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-lg-3" ng-show="evento.idTipoEvento === '1' || evento.idTipoEvento === '2' || evento.idTipoEvento === '4'" ng-class="{'has-success has-feedback':formModificarEvento.cantidad.$touched && formModificarEvento.cantidad.$valid,
                 'has-error has-feedback':formModificarEvento.cantidad.$touched && formModificarEvento.cantidad.$invalid}">
                        <label class="control-label" for="cantidad">
                            Cantidad (*)
                            <label ng-show="evento.idTipoEvento === '1' || evento.idTipoEvento === '2'">(mgrs)</label>
                            <label ng-show="evento.idTipoEvento === '4'">(Kgrs)</label>
                        </label>
                        <input name="cantidad" type="number" class="form-control" placeholder="Cantidad" ng-disabled="!habilitar" required
                               ng-model="evento.cantidad" min="1" />
                        <div ng-show="formModificarEvento.cantidad.$touched">
                            <span class="help-block" ng-show="formModificarEvento.cantidad.$error.required">
                                Este campo es requerido
                            </span>
                            <span class="help-block" ng-show="formModificarEvento.cantidad.$error.min">
                                El número no puede ser negativo ni cero
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Bovinos que participaron del evento</div>
            <div class="panel-body">
                <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
                    <thead>
                        <tr>
                            <th st-sort="numCaravana">N° Caravana</th>
                            <th st-sort="categoriaNombre">Categoría</th>
                            <th st-sort="razaNombre">Raza</th>
                            <th st-sort="rodeoNombre">Rodeo</th>
                            <th st-sort="peso">Peso</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in displayedCollection">
                            <td>{{item.numCaravana}}</td>
                            <td>{{item.categoriaNombre | uppercase}}</td>
                            <td>{{item.razaNombre | uppercase}}</td>
                            <td>{{item.rodeoNombre | uppercase}}</td>
                            <td>{{item.peso}}</td>
                            <td>
                                <a ui-sref="home.detalleBovino({id:item.idBovino})" ng-show="showBotones" title="Ver"><span class="glyphicon glyphicon-search"></span></a>
                                <a class="cursor" ng-click="openPopUp(item.idBovino, item.numCaravana)" ng-show="showBotones" title="Borrar bovino del evento"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <label for="items">Registros por página</label>
                                <input class="input-sm form-control" name="items" id="items" type="number" ng-model="itemsPorPagina" ng-disabled="!habilitar">
                            </td>
                            <td colspan="5" class="text-center">
                                <div st-pagination="" st-items-by-page="itemsPorPagina" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </fieldset>
    <div class="row">
        <!--ng-disabled="formModificarEvento.$invalid || !habilitar"-->
        <button type="submit" style="margin-left:15px;" class="btn btn-primary"
                ng-disabled="!habilitarBtnAceptar"
                ng-click="modificar()">
            Aceptar
        </button>
        <button type="button" class="btn btn-default"
                ui-sref="home.trazabilidad">
            Volver
        </button>
    </div>
</form>
<!--Modal-->
<div id="modalConfirmEliminar" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmar eliminación</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea eliminar el bovino con número de caravana {{nroCaravana}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="eliminar()">Si</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cerrar()">No</button>
            </div>
        </div>
    </div>
</div>
<div id="modalConfirmEliminEvento" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmación</h4>
            </div>
            <div class="modal-body">
                <p>El evento quedo sin bovinos asociados, por lo tanto sera eliminado. Esta seguro de realizar esta acción?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="modificarEvento('')">Si</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cerrar()">No</button>
            </div>
        </div>
    </div>
</div>
<div class="loader" ng-show="showSpinner" style="margin:0 auto; margin-left: 500px; margin-top:-500px"></div>