<style>
    .cursor {
        cursor: pointer;
    }
    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 150px;
        height: 150px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        position: absolute;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>
<form name="formModificarEvento" novalidate>
    <fieldset>
        <div class="alert alert-danger" ng-show=""></div>
        <div class="row">
            <div class="col-lg-10">
                <div style="margin-top:0px;" class="page-header">
                    <h1>
                        Evento
                        <small>Modificación</small>
                    </h1>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Datos del evento</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-6 col-lg-6">
                        <label class="control-label" for="idTipoEvento">
                            Tipo de Evento
                        </label>
                        <select class="form-control" name="idTipoEvento"
                                ng-disabled="!habilitar"
                                ng-model="evento.idTipoEvento">
                            <option value="0">Seleccione...</option>
                            <option ng-repeat="item in tiposEventos"
                                    value="{{ item.idTipoEvento }}">
                                {{ item.descripcion }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-lg-6">
                        <label>
                            Fecha del Evento
                        </label>
                        <input name="fechaNac" type="date" class="form-control" min="2000-01-01" max="{{fechaDeHoy | date:'yyyy-MM-dd'}}" ng-disabled="!habilitar"                               
                               ng-model="evento.fechaHora" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3 col-lg-3" ng-show="evento.idTipoEvento === '1'">
                        <label>
                            Vacuna
                        </label>
                        <select class="form-control" name="idVacuna"
                                ng-disabled="!habilitar"
                                ng-model="evento.idVacuna">
                            <option value="0">Seleccione...</option>
                            <option ng-repeat="item in vacunas"
                                    value="{{ item.idVacuna }}">
                                {{ item.nombre }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-3 col-lg-3" ng-show="evento.idTipoEvento === '2'">
                        <label>
                            Antibiótico
                        </label>
                        <select class="form-control" name="idAntibiotico"
                                ng-disabled="!habilitar"
                                ng-model="evento.idAntibiotico">
                            <option value="0">Seleccione...</option>
                            <option ng-repeat="item in antibioticos"
                                    value="{{ item.idAntibiotico }}">
                                {{ item.nombre }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-3 col-lg-3" ng-show="evento.idTipoEvento === '3'">
                        <label>
                            Campo Origen
                        </label>
                        <input name="campoOrigen" type="text" class="form-control" placeholder="Campo Origen" disabled
                               ng-model="evento.campoOrigen" />
                        <label>
                            Campo Actual
                        </label>
                        <input name="campoActual" type="text" class="form-control" placeholder="Campo Actual" disabled
                               ng-model="evento.campoActual" />
                    </div>
                    <div class="form-group col-md-3 col-lg-3" ng-show="evento.idTipoEvento === '4'">
                        <label>
                            Alimento
                        </label>
                        <input name="alimento" type="text" class="form-control" placeholder="Alimento" disabled
                               ng-model="evento.alimento" />
                    </div>
                    <div class="form-group col-md-3 col-lg-3">
                        <label>
                            Cantidad
                            <label ng-show="evento.idTipoEvento === 1 || evento.idTipoEvento === 2">(mgrs)</label>
                            <label ng-show="evento.idTipoEvento === 4">(Kgrs)</label>
                        </label>
                        <input name="cantidad" type="number" class="form-control" placeholder="Cantidad" ng-disabled="!habilitar"
                               ng-model="evento.cantidad" />
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Bovinos que participaron del evento</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr style="background: #FAE5D3;">
                        <th>N° Caravana</th>
                        <th>Categoría</th>
                        <th>Raza</th>
                        <th>Rodeo</th>
                        <th>Peso (kg)</th>
                        <th ng-show="showBotones">Acciones</th>
                    </tr>
                    <tr ng-repeat="item in listaBovinos">
                        <td>{{item.numCaravana}}</td>
                        <td>{{item.categoriaNombre}}</td>
                        <td>{{item.razaNombre}}</td>
                        <td>{{item.rodeoNombre}}</td>
                        <td>{{item.peso}}</td>
                        <td>
                            <a ui-sref="home.detalleBovino({id:item.idBovino})" ng-show="showBotones" title="Ver"><span class="glyphicon glyphicon-search"></span></a>
                            <a class="cursor" ng-click="eliminar(item.idBovino)" ng-show="showBotones" title="Borrar bovino del evento"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </fieldset>
    <div class="row">
        <button type="submit" style="margin-left:15px;" class="btn btn-primary"
                ng-disabled="formModificarEvento.$invalid || !habilitar"
                ng-click="modificar()">
            Aceptar
        </button>
        <button type="button" class="btn btn-default"
                ui-sref="home.trazabilidad">
            Volver
        </button>
    </div>
</form>
<div class="loader" ng-show="showSpinner" style="margin:0 auto; margin-left: 500px; margin-top:-500px"></div>