<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>
                Resolución de Conflictos
                <small> Criterios de búsqueda</small>
            </h1>
        </div>
    </div>
</div>
<form name="formConsultarConflicto" novalidate>
    <fieldset>
        <div class="row">
            <div class="form-group col-md-3 col-lg-3" ng-class="{'has-success has-feedback':formConsultarConflicto.numCaravana.$touched && formConsultarConflicto.numCaravana.$valid,
                 'has-error has-feedback':formConsultarConflicto.numCaravana.$touched && formConsultarConflicto.numCaravana.$invalid}">
                <label>
                    N° Caravana
                </label>
                <input class="form-control" name="numCaravana" type="number" ng-model="filtro.numCaravana" placeholder="N° Caravana" min="0" ng-disabled="disabled" />
                <div ng-show="formConsultarConflicto.numCaravana.$touched">
                    <span class="help-block" ng-show="formConsultarConflicto.numCaravana.$error.min">
                        El número de Caravana no puede ser negativo
                    </span>
                </div>
            </div>
            <div class="form-group col-md-3 col-lg-3">
                <label>
                    Categoría
                </label>
                <select class="form-control" name="categoria" required
                        ng-model="filtro.idCategoria" ng-disabled="disabled">
                    <option value="0">Seleccione...</option>
                    <option ng-repeat="item in categorias | filter: { genero: filtro.genero }"
                            value="{{ item.idCategoria }}">
                        {{ item.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-3 col-lg-3">
                <label>
                    Sexo
                </label>
                <select class="form-control" name="genero" required
                        ng-model="filtro.genero" ng-disabled="disabled">
                    <option value="2">Seleccione...</option>
                    <option value="0">Hembra</option>
                    <option value="1">Macho</option>
                </select>
            </div>
            <div class="form-group col-md-3 col-lg-3">
                <label>
                    Raza
                </label>
                <select class="form-control" name="raza" required
                        ng-model="filtro.idRaza" ng-disabled="disabled">
                    <option value="0">Seleccione...</option>
                    <option ng-repeat="item in razas"
                            value="{{ item.idRaza }}">
                        {{ item.nombre }}
                    </option>
                </select>
            </div>
        </div>
    </fieldset>
</form>

<!--TABLA-->
<legend style="margin-bottom: 5px;" ng-show="rowCollection.length > 0">Resultados</legend>
<div class="row col-lg-12 col-md-12" ng-show="rowCollection.length > 0">
    <div class="pull-right" style="margin-bottom:5px">
        <button class="btn btn-success font-white" ng-click="exportarExcel()" title="Exportar a Excel" ng-disabled="disabledExportar">
            <i class="fa fa-file-excel-o"></i>
        </button>
        <button class="btn btn-success font-white" ng-click="exportarPDF()" title="Exportar a PDF" ng-disabled="disabledExportar">
            <i class="fa fa-file-pdf-o"></i>
        </button>
        <a class="btn btn-success font-white" href='javascript:window.print();' title="Imprimir" ng-disabled="disabledExportar">
            <i class="fa fa-print"></i>
        </a>
    </div>
    <div>
        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
            <thead>
                <tr>
                    <th st-sort="fecha">Fecha</th>
                    <th st-sort="tipoEvento">Tipo de Evento</th>
                    <th>Resolver</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in displayedCollection">
                    <td>{{item.numCaravana}}</td>
                    <td>{{item.categoriaNombre | uppercase}}</td>
                    <td>
                        <a ui-sref="home.resolverConflicto({id:item.idConflicto})" title="Ver"><span class="glyphicon glyphicon-search"></span></a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <label for="items">Registros por página</label>
                        <input class="input-sm form-control" name="items" id="items" type="number" ng-model="itemsPorPagina" ng-disabled="disabled">
                    </td>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsPorPagina" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
