<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>
                Resolución de Conflictos
                <small> Criterios de búsqueda</small>
            </h1>
        </div>
    </div>
</div>
<form name="formConsultarConflicto" novalidate>
    <fieldset>
        <div class="row">
            <div class="form-group col-md-3 col-lg-3">
                <label data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite filtrar los conflictos según el tipo al que corresponden.">
                    Tipo de Conflicto
                </label>
                <select class="form-control" name="categoria" required
                        ng-model="filtro.tipo" ng-disabled="disabled">
                    <option value="0">Seleccione...</option>
                    <option value="1">Tacto</option>
                    <option value="2">Inseminación</option>
                </select>
            </div>
            <div class="form-group col-md-3 col-lg-3">
                <label data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite mostrar los conflictos según el estado en que se encuentran.">
                    Estado
                </label>
                <select class="form-control" name="categoria" required
                        ng-model="filtro.estado" ng-disabled="disabled">
                    <option value="0">Seleccione...</option>
                    <option value="1">Solucionado</option>
                    <option value="2">Pendiente</option>                    
                </select>
            </div>
            <div class="form-group col-md-3 col-lg-3" ng-class="{'has-success has-feedback':formConsultarConflicto.fechaDesde.$touched && formConsultarConflicto.fechaDesde.$valid,
                 'has-error has-feedback':formConsultarConflicto.fechaDesde.$touched && formConsultarConflicto.fechaDesde.$invalid}">
                <label class="control-label" for="fechaDesde" data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite filtrar los conflictos para mostrar los que hayan sucedido desde la fecha ingresada.">
                    Fecha Desde
                </label>
                <div name="fechaDesde">
                    <input type="datetime" placeholder="Fecha desde" name="fechaDesde" class="form-control" id='datetimepicker4' max="{{fechaDeHoy | date:'dd-MM-yyyy'}}" ng-disabled="disabled" ng-blur="getFechaDesde()" data-date-format="DD/MM/YYYY" ng-model="filtro.fechaDesde" valueAsDate="{{filtro.fechaDesde}}" />
                </div>
                <div ng-show="formConsultarConflicto.fechaDesde.$touched">
                    <span class="help-block" ng-show="formConsultarConflicto.fechaDesde.$error.max || formConsultarConflicto.fechaDesde.$error.min">
                        Debe ingresar una fecha válida
                    </span>
                </div>
            </div>
            <div class="form-group col-md-3 col-lg-3" ng-class="{'has-success has-feedback':formConsultarConflicto.fechaHasta.$touched && formConsultarConflicto.fechaHasta.$valid,
                 'has-error has-feedback':formConsultarConflicto.fechaHasta.$touched && formConsultarConflicto.fechaHasta.$invalid}">
                <label class="control-label" for="fechaHasta" data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite filtrar los conflictos para mostrar los que hayan sucedido hasta la fecha ingresada.">
                    Fecha Hasta
                </label>
                <div name="fechaHasta">
                    <input type="datetime" placeholder="Fecha hasta" name="fechaHasta" class="form-control" id='datetimepicker5' max="{{fechaDeHoy | date:'dd-MM-yyyy'}}" ng-disabled="disabled" ng-blur="getFechaHasta()" data-date-format="DD/MM/YYYY" ng-model="filtro.fechaHasta" valueAsDate="{{filtro.fechaHasta}}" />
                </div>
                <div ng-show="formConsultarConflicto.fechaHasta.$touched">
                    <span class="help-block" ng-show="formConsultarConflicto.fechaHasta.$error.min">
                        Debe ingresar una fecha válida
                    </span>
                </div>
            </div>
        </div>
        <div class="row pull-right hidden-print">
            <div class="col-md-12 col-lg-12">
                <button class="btn btn-default"
                        ng-click="limpiarCampos()" ng-disabled="disabled"
                        data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite limpiar los filtros ingresados para mostrar todos los conflictos del campo.">
                    <span class="fa fa-trash"></span>
                    Limpiar Campos
                </button>
                <button class="btn btn-primary"
                        ng-click="consultar()" ng-disabled="formConsultarConflicto.$invalid || disabled"
                        data-toggle="tooltip" title="" data-placement="top" data-original-title="Muestra los conflictos que cumplan con las condiciones ingresadas en los criterios de búsqueda.">
                    <span class="fa fa-search"></span>
                    Buscar
                </button>
            </div>
        </div>
    </fieldset>
</form>

<!--TABLA-->
<legend style="margin-bottom: 5px;" ng-show="rowCollection.length > 0">Resultados</legend>
<div class="row col-lg-12 col-md-12" ng-show="rowCollection.length > 0">
    <div class="pull-right hidden-print" style="margin-bottom:5px">
        <button class="btn btn-success font-white" ng-click="exportarExcel()" ng-disabled="disabledExportar" data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite exportar el listado de conflictos (con los filtros ingresados) y descargar un documento en formato Excel.">
            <i class="fa fa-file-excel-o"></i>
        </button>
        <button class="btn btn-success font-white" ng-click="exportarPDF()" ng-disabled="disabledExportar" data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite exportar el listado de conflictos (con los filtros ingresados) y descargar un documento en formato PDF.">
            <i class="fa fa-file-pdf-o"></i>
        </button>
        <a class="btn btn-success font-white" href='javascript:window.print();' ng-disabled="disabledExportar" data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite realizar una impresión del listado de conflictos, con los filtros ingresados.">
            <i class="fa fa-print"></i>
        </a>
    </div>
    <div class="table-responsive">
        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
            <thead>
                <tr>
                    <th st-sort="tipo">Tipo de Conflicto</th>
                    <th st-sort="fecha">Fecha</th> 
                    <th st-sort="estado">Estado</th>               
                    <th>Resolver</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in displayedCollection">
                    <td>{{item.tipo  | uppercase}}</td>
                    <td>{{item.fecha}}</td>
                    <td>{{item.estado | uppercase}}</td>
                    <td>
                        <a ng-show="item.estado !== 'Solucionado'" ui-sref="home.resolverConflicto({idTacto: item.idTacto, fechaTacto: item.fechaTacto, idTactoConfl: item.idTactoConflictivo, fechaTactoConfl: item.fechaTactoConflictivo, idInseminacion: item.idInseminacion, idInseminConfl: item.idInseminacionConflictiva})" title="Ver"><span class="fa fa-search"></span></a>                        
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="hidden-print" ng-show="rowCollection.length > 0">
                        <label for="items" data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite indicar la cantidad de conflictos a mostrar en cada página.">Registros por página</label>
                        <input class="input-sm form-control" name="items" id="items" type="number" ng-model="itemsPorPagina" ng-disabled="disabled" min="1">
                    </td>
                    <td colspan="5" class="text-center" data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite ir cambiando la página a visualizar (en azul se indica la página actual)." ng-show="rowCollection.length > 0">
                        <div st-pagination="" st-items-by-page="itemsPorPagina" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
