<form name="formModificarBovino" novalidate>
    <fieldset>
        <div class="alert alert-danger" ng-show=""></div>
        <div class="row">
            <div class="col-lg-10">
                <div style="margin-top:0px;" class="page-header">
                    <h1>
                        Bovino
                        <small>Modificación</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="text-left">Los campos marcados con * son obligatorios: </div>

        <div class="panel panel-default">
            <div class="panel-heading">Identificación</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-4 col-lg-4" ng-class="{'has-success has-feedback':formModificarBovino.idCaravana.$touched && formModificarBovino.idCaravana.$valid,
                 'has-error has-feedback':formModificarBovino.idCaravana.$touched && formModificarBovino.idCaravana.$invalid}">
                        <label class="control-label" for="idCaravana">
                            N° de Caravana (*)
                        </label>
                        <input name="idCaravana" type="number" class="form-control" placeholder="N° de Caravana" min="0" required
                               ng-disabled="!habilitar"
                               ng-model="bovino.numCaravana"
                               ng-blur="idCaravanaChange()" />
                        <div ng-show="formModificarBovino.idCaravana.$touched">
                            <span class="help-block" ng-show="formModificarBovino.idCaravana.$error.required">
                                Este campo es requerido
                            </span>
                            <span class="help-block" ng-show="formModificarBovino.idCaravana.$error.min">
                                El número no puede ser negativo
                            </span>
                            <span class="help-block" ng-show="formModificarBovino.idCaravana.$error.existeIdCaravana">
                                Ya hay un bovino registrado con este número de caravana
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-lg-4">
                        <label class="control-label" for="madre">
                            N° de Caravana Madre
                        </label>
                        <input name="madre" type="number" class="form-control" min="0" placeholder="N° de Caravana Madre"
                               ng-disabled="!habilitar"
                               ng-model="bovino.idBovinoMadre" />
                        <div ng-show="formModificarBovino.madre.$touched">
                            <span class="help-block" ng-show="formModificarBovino.madre.$error.min">
                                El número no puede ser negativo
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-lg-4">
                        <label class="control-label" for="padre">
                            N° de Caravana Padre
                        </label>
                        <input name="padre" type="number" class="form-control" min="0" placeholder="N° de Caravana Padre"
                               ng-disabled="!habilitar"
                               ng-model="bovino.idBovinoPadre" />
                        <div ng-show="formModificarBovino.padre.$touched">
                            <span class="help-block" ng-show="formModificarBovino.padre.$error.min">
                                El número no puede ser negativo
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4 col-lg-4">
                        <div class="col-md-12 col-lg-12" style="margin-left: -15px;">
                            <label class="control-label" for="establecimientoOrigen">
                                Establecimiento de Origen
                            </label>
                            <section style="padding: 0px;">
                                <div class="input-group">
                                    <select class="form-control" name="establecimientoOrigen"
                                            ng-disabled="!habilitar"
                                            ng-model="bovino.idEstablecimientoOrigen"
                                            style="width:100%">
                                        <option value="">Seleccione...</option>
                                        <option ng-repeat="item in establecimientos"
                                                value="{{ item.idEstablecimiento }}">
                                            {{ item.nombre }}
                                        </option>
                                    </select>
                                    <span class="input-group-addon" style="margin-top: 25px;background-color:#16A085;cursor:pointer" title="Agregar establecimiento" ng-disabled="!habilitar" data-toggle="modal" data-target="#modalNuevoEstablecimiento" ng-click="cargarProvinciasyLocalidades()"><i class="glyphicon glyphicon-plus" style="color:white"></i></span>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-lg-4" ng-class="{'has-success has-feedback':formModificarBovino.rodeo.$touched && formModificarBovino.rodeo.$valid,
                 'has-error has-feedback':formModificarBovino.rodeo.$touched && formModificarBovino.rodeo.$invalid}">
                        <div class="col-md-12 col-lg-12" style="margin-left: -15px;">
                            <label class="control-label" for="rodeo">
                                Rodeo (*)
                            </label>
                            <section style="padding: 0px;">
                                <div class="input-group">
                                    <select class="form-control" name="rodeo" required
                                            ng-disabled="!habilitar"
                                            ng-model="bovino.idRodeo"
                                            style="width:100%;">
                                        <option value="">Seleccione...</option>
                                        <option ng-repeat="item in rodeos"
                                                value="{{ item.idRodeo }}">
                                            {{ item.nombre }}
                                        </option>
                                    </select>
                                    <span class="input-group-addon" style="margin-top: 25px;background-color:#16A085;cursor:pointer" title="Agregar rodeo" ng-disabled="!habilitar" data-toggle="modal" data-target="#modalNuevoRodeo"><i class="glyphicon glyphicon-plus" style="color:white"></i></span>
                                </div>
                            </section>
                            <div ng-show="formModificarBovino.rodeo.$touched">
                                <span class="help-block" ng-show="formModificarBovino.rodeo.$error.required">
                                    Este campo es requerido
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Características</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-4 col-lg-4">
                        <label class="control-label" for="apodo">
                            Apodo
                        </label>
                        <input name="apodo" type="text" class="form-control" placeholder="Apodo"
                               ng-disabled="!habilitar"
                               ng-model="bovino.apodo" />
                    </div>
                    <div class="form-group" ng-class="{'has-success has-feedback':formModificarBovino.estado.$touched && formModificarBovino.estado.$valid,
                 'has-error has-feedback':formModificarBovino.estado.$touched && formModificarBovino.estado.$invalid}">
                        <div class="col-md-4 col-lg-4">
                            <div class="col-md-12 col-lg-12" style="margin-left: -15px;">
                                <label class="control-label" for="estado">
                                    Estado (*)
                                </label>
                                <section style="padding: 0px;">
                                    <div class="input-group">
                                        <select class="form-control" name="estado" required
                                                ng-disabled="!habilitar"
                                                ng-model="bovino.idEstado"
                                                style="width:100%;">
                                            <option value="">Seleccione...</option>
                                            <option ng-repeat="item in estados"
                                                    value="{{ item.idEstado }}">
                                                {{ item.nombre }}
                                            </option>
                                        </select>
                                        <span class="input-group-addon" style="margin-top: 25px;background-color:#16A085;cursor:pointer" title="Agregar estado" ng-disabled="!habilitar" data-toggle="modal" data-target="#modalNuevoEstado"><i class="glyphicon glyphicon-plus" style="color:white"></i></span>
                                    </div>
                                </section>
                                <div ng-show="formModificarBovino.estado.$touched">
                                    <span class="help-block" ng-show="formModificarBovino.estado.$error.required">
                                        Este campo es requerido
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-lg-4">
                        <div class="form-group col-md-4">
                            <label class="control-label" for="genero">
                                Sexo (*)
                            </label>
                            <div>
                                <div class="row">
                                    <label class="radio-inline">
                                        <input type="radio" name="genero" value="0"
                                               ng-disabled="!habilitar"
                                               ng-model="bovino.genero" ng-checked="checkH" ng-click="cambiarSexo(); changeEstados()">
                                        Hembra
                                    </label>
                                </div>
                                <div class="row">
                                    <label class="radio-inline">
                                        <input type="radio" name="genero" value="1"
                                               ng-model="bovino.genero" ng-checked="checkM" ng-click="cambiarSexo(); changeEstados()">
                                        Macho
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="radio-inline">
                                <input type="checkbox" name="enfermo" ng-false-value="0" ng-true-value="1"
                                       ng-disabled="!habilitar"
                                       ng-model="bovino.enfermo"
                                       ng-change="changeEstadosXEnfermo()">
                                ¿Está enfermo?
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4 col-lg-4" ng-class="{'has-success has-feedback':formModificarBovino.fechaNac.$touched && formModificarBovino.fechaNac.$valid,
                 'has-error has-feedback':formModificarBovino.fechaNac.$touched && formModificarBovino.fechaNac.$invalid}">
                        <label class="control-label" for="fechaNac">
                            Fecha de Nacimiento (*)
                        </label>
                        <div name="fechaNac">
                            <input type="datetime" name="fechaNac" class="form-control" id="datetimepicker4" ng-blur="getFecha()" min="2000-01-01" max="{{fechaDeHoy | date:'dd-MM-yyyy'}}" ng-disabled="!habilitar" data-date-format="DD/MM/YYYY" ng-model="bovino.fechaNacimiento" value="{{bovino.fechaNacimiento}}" required />
                        </div>
                        <div ng-show="formModificarBovino.fechaNac.$touched">
                            <span class="help-block" ng-show="formModificarBovino.fechaNac.$error.required">
                                Este campo es requerido
                            </span>
                            <span class="help-block" ng-show="formModificarBovino.fechaNac.$error.max || formModificarBovino.fechaNac.$error.min">
                                Debe ingresar una fecha válida
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-lg-4" ng-class="{'has-success has-feedback':formModificarBovino.peso.$touched && formModificarBovino.peso.$valid,
                 'has-error has-feedback':formModificarBovino.peso.$touched && formModificarBovino.peso.$invalid}">
                        <label class="control-label" for="peso">
                            Peso (kg) (*)
                        </label>
                        <input name="peso" type="number" class="form-control" ng-blur="getPeso()" min="0" max="1000" required placeholder="Peso (kg)"
                               ng-disabled="!habilitar"
                               ng-model="bovino.peso" />
                        <div ng-show="formModificarBovino.peso.$touched">
                            <span class="help-block" ng-show="formModificarBovino.peso.$error.required || bovino.peso == 0 ">
                                Este campo es requerido
                            </span>
                            <span class="help-block" ng-show="formModificarBovino.peso.$error.min">
                                El peso no puede ser negativo
                            </span>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group col-md-4 col-lg-4">
                            <label class="control-label" for="pesoAlNacer">
                                Peso al nacimiento (kg)
                            </label>
                            <input name="pesoAlNacer" type="number" class="form-control" min="0" max="1000" placeholder="Peso al nacimiento (kg)"
                                   ng-disabled="!habilitar"
                                   ng-model="bovino.pesoAlNacer" />
                        </div>
                        <div ng-show="formModificarBovino.pesoAlNacer.$touched">
                            <span class="help-block" ng-show="formModificarBovino.pesoAlNacer.$error.number">
                                El campo debe ser numérico
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4 col-lg-4" ng-class="{'has-success has-feedback':formModificarBovino.categoria.$touched && formModificarBovino.categoria.$valid,
                 'has-error has-feedback':formModificarBovino.categoria.$touched && formModificarBovino.categoria.$invalid}">
                        <div class="col-md-12 col-lg-12" style="margin-left: -15px;">
                            <label class="control-label" for="categoria">
                                Categoría (*)
                            </label>
                            <section style="padding: 0px;">
                                <div class="input-group">
                                    <select class="form-control" name="categoria" required
                                            ng-disabled="!habilitar"
                                            ng-model="bovino.idCategoria"
                                            style="width:100%;">
                                        <option value="">Seleccione...</option>
                                        <option ng-repeat="item in categorias"
                                                value="{{ item.idCategoria }}">
                                            {{ item.nombre }}
                                        </option>
                                    </select>
                                    <span class="input-group-addon" style="margin-top: 25px;background-color:#16A085;cursor:pointer" title="Agregar categoría" ng-disabled="!habilitar" data-toggle="modal" data-target="#modalNuevoCategoria"><i class="glyphicon glyphicon-plus" style="color:white"></i></span>
                                </div>
                            </section>
                            <div ng-show="formModificarBovino.categoria.$touched">
                                <span class="help-block" ng-show="formModificarBovino.categoria.$error.required">
                                    Este campo es requerido
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-lg-4" ng-class="{'has-success has-feedback':formModificarBovino.raza.$touched && formModificarBovino.raza.$valid,
                 'has-error has-feedback':formModificarBovino.raza.$touched && formModificarBovino.raza.$invalid}">
                        <div class="col-md-12 col-lg-12" style="margin-left: -15px;">
                            <label class="control-label" for="raza">
                                Raza (*)
                            </label>
                            <section style="padding: 0px;">
                                <div class="input-group">
                                    <select class="form-control" name="raza" required
                                            ng-disabled="!habilitar"
                                            ng-model="bovino.idRaza"
                                            style="width:100%;">
                                        <option value="">Seleccione...</option>
                                        <option ng-repeat="item in razas"
                                                value="{{ item.idRaza }}">
                                            {{ item.nombre }}
                                        </option>
                                    </select>
                                    <span class="input-group-addon" style="margin-top: 25px;background-color:#16A085;cursor:pointer" title="Agregar raza" ng-disabled="!habilitar" data-toggle="modal" data-target="#modalNuevoRaza"><i class="glyphicon glyphicon-plus" style="color:white"></i></span>
                                </div>
                            </section>
                            <div ng-show="formModificarBovino.raza.$touched">
                                <span class="help-block" ng-show="formModificarBovino.raza.$error.required">
                                    Este campo es requerido
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-lg-4" ng-class="{'has-success has-feedback':formModificarBovino.alimento.$touched && formModificarBovino.alimento.$valid,
                 'has-error has-feedback':formModificarBovino.alimento.$touched && formModificarBovino.alimento.$invalid}">
                        <div class="col-md-12 col-lg-12" style="margin-left: -15px;">
                            <label class="control-label" for="alimento">
                                Alimento (*)
                            </label>
                            <section style="padding: 0px;">
                                <div class="input-group">
                                    <select class="form-control" name="alimento" required
                                            ng-disabled="!habilitar"
                                            ng-model="bovino.idAlimento"
                                            style="width:100%;">
                                        <option value="">Seleccione...</option>
                                        <option ng-repeat="item in alimentos"
                                                value="{{ item.idAlimento }}">
                                            {{ item.nombre }}
                                        </option>
                                    </select>
                                    <span class="input-group-addon" style="margin-top: 25px;background-color:#16A085;cursor:pointer" title="Agregar alimento" ng-disabled="!habilitar" data-toggle="modal" data-target="#modalNuevoAlimento"><i class="glyphicon glyphicon-plus" style="color:white"></i></span>
                                </div>
                            </section>
                            <div ng-show="formModificarBovino.alimento.$touched">
                                <span class="help-block" ng-show="formModificarBovino.alimento.$error.required">
                                    Este campo es requerido
                                </span>
                            </div>
                        </div>
                        <div class="col-md-11 col-lg-11" style="margin-left:-15px;margin-top: 5px;" ng-class="{'has-success has-feedback':formModificarBovino.cantidad.$touched && formModificarBovino.cantidad.$valid,
                 'has-error has-feedback':formModificarBovino.cantidad.$touched && formModificarBovino.cantidad.$invalid}">
                            <label class="control-label" for="cantidad">
                                Ración alimento (kg/día) (*)
                            </label>
                            <input name="cantidad" type="number" class="form-control" min="0" placeholder="Ración de alimento (kg) por día"
                                   ng-disabled="!habilitar"
                                   ng-model="bovino.cantAlimento" required />
                            <div ng-show="formModificarBovino.cantidad.$touched">
                                <span class="help-block" ng-show="formModificarBovino.cantidad.$error.required">
                                    Este campo es requerido
                                </span>
                                <span class="help-block" ng-show="formModificarBovino.cantidad.$error.min">
                                    El peso no puede ser negativo
                                </span>
                            </div>
                            <span class="help-block" ng-show="showCantAlimentoOptima" style="font-size: 11px;color: #5581af;margin-left:0;">
                                Se recomienda que la ración de alimento por día sea de: {{maxCantidad}} Kg.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12 col-lg-12">
                        <label class="control-label" for="descripcion">
                            Descripción
                        </label>
                        <textarea name="descripcion" type="text" rows="2" class="form-control" placeholder="Descripción"
                                  ng-disabled="!habilitar"
                                  ng-model="bovino.descripcion"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="row">
        <button type="submit" style="margin-left:15px;" class="btn btn-primary"
                ng-disabled="formModificarBovino.$invalid || !habilitar"
                ng-click="modificar()">
            Aceptar
        </button>

        <button type="button" class="btn btn-default"
                ui-sref="home.bovino">
            {{btnVolver}}
        </button>
    </div>
</form>
<!--Modal nuevo establecimiento-->
<div id="modalNuevoEstablecimiento" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <form name="formRegistrarEstablecimiento" novalidate>
            <fieldset>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Nuevo Establecimiento origen</h4>
                    </div>
                    <div class="modal-body" style="height:46%">
                        <p>Establecimiento</p>
                        <div class="col-md-12 col-lg-12" style="margin-left: -15px;" ng-class="{'has-success has-feedback':formRegistrarEstablecimiento.EstabNombre.$touched && formRegistrarEstablecimiento.EstabNombre.$valid,
                 'has-error has-feedback':formRegistrarEstablecimiento.EstabNombre.$touched && formRegistrarEstablecimiento.EstabNombre.$invalid}">
                            <label class="control-label" for="EstabNombre">
                                Nombre (*)
                            </label>
                            <input name="EstabNombre" type="text" class="form-control" placeholder="Nombre del establecimiento"
                                   ng-model="establecimiento.nombre" required maxlength="30" />
                        </div>
                        <div ng-show="formRegistrarEstablecimiento.EstabNombre.$touched">
                            <span class="help-block" ng-show="formRegistrarEstablecimiento.EstabNombre.$error.required" style="color: #e73d4a;">
                                Este campo es requerido
                            </span>
                            <span class="help-block" ng-show="formRegistrarEstablecimiento.EstabNombre.$error.maxlength" style="color: #e73d4a;">
                                El máximo de caracteres es 30
                            </span>
                        </div>
                        <div class="col-md-11 col-lg-11" style="margin-left: -15px; margin-top: 5px;" ng-class="{'has-success has-feedback':formRegistrarEstablecimiento.provincia.$touched && formRegistrarEstablecimiento.provincia.$valid,
                 'has-error has-feedback':formRegistrarEstablecimiento.provincia.$touched && formRegistrarEstablecimiento.provincia.$invalid}">
                            <label class="control-label" for="provincia">
                                Provincia (*)
                            </label>
                            <select class="form-control" name="provincia" required
                                    ng-model="establecimiento.idProvincia" ng-change="getLocalidades()">
                                <option value="">Seleccione...</option>
                                <option ng-repeat="item in provincias"
                                        value="{{ item.idProvincia }}">
                                    {{ item.nombre }}
                                </option>
                            </select>
                            <div ng-show="formRegistrarEstablecimiento.provincia.$touched">
                                <span class="help-block" ng-show="formRegistrarEstablecimiento.provincia.$error.required" style="color: #e73d4a;">
                                    Este campo es requerido
                                </span>
                            </div>
                        </div>
                        <div class="col-md-11 col-lg-11" style="margin-left: -15px; margin-top: 5px;" ng-class="{'has-success has-feedback':formRegistrarEstablecimiento.localidad.$touched && formRegistrarEstablecimiento.localidad.$valid,
                 'has-error has-feedback':formRegistrarEstablecimiento.localidad.$touched && formRegistrarEstablecimiento.localidad.$invalid}">
                            <label class="control-label" for="localidad">
                                Localidad (*)
                            </label>
                            <select class="form-control" name="localidad" required
                                    ng-model="establecimiento.idLocalidad" ng-disabled="!establecimiento.idProvincia">
                                <option value="">Seleccione...</option>
                                <option ng-repeat="item in localidades"
                                        value="{{ item.idLocalidad }}">
                                    {{ item.nombre }}
                                </option>
                            </select>
                            <div ng-show="formRegistrarEstablecimiento.localidad.$touched">
                                <span class="help-block" ng-show="formRegistrarEstablecimiento.localidad.$error.required" style="color: #e73d4a;">
                                    Este campo es requerido
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" ng-click="agregarEstabOrigen()" style="margin-top:10px;" ng-disabled="!establecimiento.nombre || !establecimiento.idProvincia || !establecimiento.idLocalidad">Agregar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cerrar()" style="margin-top:10px;">Cerrar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<!--Modal nuevo rodeo-->
<div id="modalNuevoRodeo" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <form name="formRegistrarRodeo" novalidate>
            <fieldset>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Nuevo Rodeo</h4>
                    </div>
                    <div class="modal-body" style="height:27%; margin-top:15px;">
                        <p>Rodeo</p>
                        <div class="col-md-12 col-lg-12" style="margin-left: -15px;" ng-class="{'has-success has-feedback':formRegistrarRodeo.RodeoNombre.$touched && formRegistrarRodeo.RodeoNombre.$valid,
                 'has-error has-feedback':formRegistrarRodeo.RodeoNombre.$touched && formRegistrarRodeo.RodeoNombre.$invalid}">
                            <label class="control-label" for="RodeoNombre">
                                Nombre (*)
                            </label>
                            <input name="RodeoNombre" type="text" class="form-control" placeholder="Nombre del rodeo"
                                   ng-model="rodeo.nombre" required />
                        </div>
                        <div ng-show="formRegistrarRodeo.RodeoNombre.$touched">
                            <span class="help-block" ng-show="formRegistrarRodeo.RodeoNombre.$error.required" style="color: #e73d4a;">
                                Este campo es requerido
                            </span>
                        </div>
                        <div class="col-md-12 col-lg-12" style="margin-top: 10px;">
                            <input type="checkbox" name="checkConfinado" ng-true-value="1" ng-false-value="0" ng-model="rodeo.confinado"> Confinado?<br>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" ng-click="agregarRodeo()" ng-disabled="!rodeo.nombre" style="margin-top:10px;">Agregar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cerrar()" style="margin-top:10px;">Cerrar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<!--Modal nuevo estado-->
<div id="modalNuevoEstado" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <form name="formRegistrarEstado" novalidate>
            <fieldset>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Nuevo Estado</h4>
                    </div>
                    <div class="modal-body" style="height:45%">
                        <p>Estado</p>
                        <div class="col-md-12 col-lg-12" style="margin-left: -15px;" ng-class="{'has-success has-feedback':formRegistrarEstado.EstadoNombre.$touched && formRegistrarEstado.EstadoNombre.$valid,
                 'has-error has-feedback':formRegistrarEstado.EstadoNombre.$touched && formRegistrarEstado.EstadoNombre.$invalid}">
                            <label class="control-label" for="EstadoNombre">
                                Nombre (*)
                            </label>
                            <input name="EstadoNombre" type="text" class="form-control" placeholder="Nombre del estado"
                                   ng-model="estado.nombre" required maxlength="30" />
                        </div>
                        <div ng-show="formRegistrarEstado.EstadoNombre.$touched">
                            <span class="help-block" ng-show="formRegistrarEstado.EstadoNombre.$error.required" style="color: #e73d4a;">
                                Este campo es requerido
                            </span>
                        </div>
                        <div class="form-group col-md-12 col-lg-12" style="margin-top:10px; margin-left: -10px;">
                            <label class="control-label" for="sexo">
                                Sexo (*)
                            </label>
                            <div ng-init="estado.genero = 2">
                                <label class="radio-inline">
                                    <input type="radio" name="genero" value="0"
                                           ng-model="estado.genero">
                                    Hembra
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="genero" value="1"
                                           ng-model="estado.genero">
                                    Macho
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="genero" value="2"
                                           ng-model="estado.genero">
                                    Ninguno
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12" style="margin-left: -15px; margin-top:10px">
                            <label class="control-label" for="descripcion">
                                Descripción
                            </label>
                            <textarea name="EstadoDescrip" type="text" rows="2" class="form-control" placeholder="Descripción del estado"
                                      ng-model="estado.descripcion"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" ng-click="agregarEstado()" ng-disabled="!estado.nombre" style="margin-top:10px;">Agregar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cerrar()" style="margin-top:10px;">Cerrar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<!--Modal nueva categoría-->
<div id="modalNuevoCategoria" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <form name="formRegistrarCategoria" novalidate>
            <fieldset>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Nueva Categoría</h4>
                    </div>
                    <div class="modal-body" style="height:30%">
                        <p>Categoría</p>
                        <div class="col-md-12 col-lg-12" style="margin-left: -15px;" ng-class="{'has-success has-feedback':formRegistrarCategoria.CategoriaNombre.$touched && formRegistrarCategoria.CategoriaNombre.$valid,
                 'has-error has-feedback':formRegistrarCategoria.CategoriaNombre.$touched && formRegistrarCategoria.CategoriaNombre.$invalid}">
                            <label class="control-label" for="CategoriaNombre">
                                Nombre (*)
                            </label>
                            <input name="CategoriaNombre" type="text" class="form-control" placeholder="Nombre de la categoría"
                                   ng-model="categoria.nombre" required maxlength="30" />
                        </div>
                        <div ng-show="formRegistrarCategoria.CategoriaNombre.$touched">
                            <span class="help-block" ng-show="formRegistrarCategoria.CategoriaNombre.$error.required" style="color: #e73d4a;">
                                Este campo es requerido
                            </span>
                        </div>
                        <div class="form-group col-md-12 col-lg-12" style="margin-top:10px; margin-left: -10px;">
                            <label class="control-label" for="sexo">
                                Sexo (*)
                            </label>
                            <div ng-init="categoria.genero = 0">
                                <label class="radio-inline">
                                    <input type="radio" name="genero" value="0"
                                           ng-model="categoria.genero">
                                    Hembra
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="genero" value="1"
                                           ng-model="categoria.genero">
                                    Macho
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" ng-click="agregarCategoria()" ng-disabled="!categoria.nombre" style="margin-top:10px;">Agregar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cerrar()" style="margin-top:10px;">Cerrar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<!--Modal nueva raza-->
<div id="modalNuevoRaza" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <form name="formRegistrarRaza" novalidate>
            <fieldset>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Nueva Raza</h4>
                    </div>
                    <div class="modal-body" style="height:20%">
                        <p>Raza</p>
                        <div class="col-md-12 col-lg-12" style="margin-left: -15px;" ng-class="{'has-success has-feedback':formRegistrarRaza.RazaNombre.$touched && formRegistrarRaza.RazaNombre.$valid,
                 'has-error has-feedback':formRegistrarRaza.RazaNombre.$touched && formRegistrarRaza.RazaNombre.$invalid}">
                            <label class="control-label" for="RazaNombre">
                                Nombre (*)
                            </label>
                            <input name="RazaNombre" type="text" class="form-control" placeholder="Nombre de la raza"
                                   ng-model="raza.nombre" required />
                        </div>
                        <div ng-show="formRegistrarRaza.RazaNombre.$touched">
                            <span class="help-block" ng-show="formRegistrarRaza.RazaNombre.$error.required" style="color: #e73d4a;">
                                Este campo es requerido
                            </span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" ng-click="agregarRaza()" ng-disabled="!raza.nombre" style="margin-top:10px;">Agregar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cerrar()" style="margin-top:10px;">Cerrar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<!--Modal nuevo alimento-->
<div id="modalNuevoAlimento" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <form name="formRegistrarAlimento" novalidate>
            <fieldset>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Nuevo Alimento</h4>
                    </div>
                    <div class="modal-body" style="height:20%">
                        <p>Alimento</p>
                        <div class="col-md-12 col-lg-12" style="margin-left: -15px;" ng-class="{'has-success has-feedback':formRegistrarAlimento.AlimentoNombre.$touched && formRegistrarAlimento.AlimentoNombre.$valid,
                 'has-error has-feedback':formRegistrarAlimento.AlimentoNombre.$touched && formRegistrarAlimento.AlimentoNombre.$invalid}">
                            <label class="control-label" for="AlimentoNombre">
                                Nombre (*)
                            </label>
                            <input name="AlimentoNombre" type="text" class="form-control" placeholder="Nombre del alimento"
                                   ng-model="alimento.nombre" required />
                        </div>
                        <div ng-show="formRegistrarAlimento.AlimentoNombre.$touched">
                            <span class="help-block" ng-show="formRegistrarAlimento.AlimentoNombre.$error.required" style="color: #e73d4a;">
                                Este campo es requerido
                            </span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" ng-click="agregarAlimento()" ng-disabled="!alimento.nombre" style="margin-top:10px;">Agregar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cerrar()" style="margin-top:10px;">Cerrar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>