<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>
                Reporte
                <small> Inseminación</small>
            </h1>
        </div>
    </div>
</div>
<div>
    <h4>
        Campo: <b>{{usuarioInfo.campo}}</b>
    </h4>
</div>
<form name="formReporteInseminacion" novalidate>
    <fieldset>
        <div class="row">
            <div class="form-group col-md-3 col-lg-3" ng-class="{'has-success has-feedback':formReporteInseminacion.numCaravana.$touched && formReporteInseminacion.numCaravana.$valid,
                 'has-error has-feedback':formReporteInseminacion.numCaravana.$touched && formReporteInseminacion.numCaravana.$invalid}">
                <label data-toggle="tooltip" title="" data-placement="top" data-original-title="{{tituloFiltroCaravana}}">
                    N° Caravana
                </label>
                <input class="form-control" name="numCaravana" type="number" ng-model="filtro.numCaravana" placeholder="N° Caravana" min="1" maxlength="15" ng-disabled="disabled" />
                <div ng-show="formReporteInseminacion.numCaravana.$touched">
                    <span class="help-block" ng-show="formReporteInseminacion.numCaravana.$error.min">
                        El número de Caravana no puede ser negativo ni 0
                    </span>
                    <span class="help-block" ng-show="formReporteInseminacion.numCaravana.$error.maxlength">
                        Puede colocar hasta 15 dígitos
                    </span>
                </div>
            </div>
            <div class="form-group col-md-3 col-lg-3">
                <label data-toggle="tooltip" title="" data-placement="top" data-original-title="{{tituloFiltroCategoria}}">
                    Categoría
                </label>
                <select class="form-control" name="categoria" required
                        ng-model="filtro.idCategoria" ng-disabled="disabled">
                    <option value="0">Seleccione...</option>
                    <option ng-repeat="item in categorias"
                            value="{{ item.idCategoria }}">
                        {{ item.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-3 col-lg-3" ng-show="tablaActiva === 0 || tablaActiva === 1">
                <label data-toggle="tooltip" title="" data-placement="top" data-original-title="{{tituloFiltroAccionPartos}}">
                    Nro. de partos
                </label>
                <select class="form-control" name="accionNroPartos" required
                        ng-model="filtro.accionNroPartos" ng-disabled="disabled">
                    <option value="0">Seleccione...</option>
                    <option value="mayor">Mayor</option>
                    <option value="menor">Menor ó igual</option>
                </select>
            </div>
            <div style="margin-top:24px" class="form-group col-md-3 col-lg-3" ng-class="{'has-success has-feedback':formReporteInseminacion.nroPartos.$touched && formReporteInseminacion.nroPartos.$valid,
                 'has-error has-feedback':formReporteInseminacion.nroPartos.$touched && formReporteInseminacion.nroPartos.$invalid}" ng-show="tablaActiva === 0 || tablaActiva === 1">
                <input class="form-control" name="nroPartos" type="number" ng-model="filtro.nroPartos" placeholder="Nro. de partos" min="0" ng-disabled="filtro.accionNroPartos === '0'" data-toggle="tooltip" title="" data-placement="top" data-original-title="Nro de partos a tomar como valor en el filtro anterior." />
                <div ng-show="formReporteInseminacion.nroPartos.$touched">
                    <span class="help-block" ng-show="formReporteInseminacion.nroPartos.$error.min">
                        El número de partos no puede ser negativo
                    </span>
                </div>
            </div>
            <div class="form-group col-md-3 col-lg-3" ng-show="tablaActiva === 3 || tablaActiva === 2">
                <label data-toggle="tooltip" title="" data-placement="top" data-original-title="{{tituloFiltroTipoInseminacion}}">
                    Tipo Inseminación
                </label>
                <select class="form-control" name="tipoInseminacion"
                        ng-model="filtro.idTipoInseminacion" ng-disabled="disabled">
                    <option value="0">Seleccione...</option>
                    <option value="1">Artificial</option>
                    <option value="2">Montura</option>
                </select>
            </div>
            <div class="form-group col-md-3 col-lg-3" ng-class="{'has-success has-feedback':formReporteInseminacion.fechaInseminacion.$touched && formReporteInseminacion.fechaInseminacion.$valid,
                 'has-error has-feedback':formReporteInseminacion.fechaInseminacion.$touched && formReporteInseminacion.fechaInseminacion.$invalid}" ng-show="tablaActiva === 3">
                <label class="control-label" for="fechaInseminacion" data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite filtrar {{tituloFiltroFechaInseminacion}} en la fecha ingresada.">
                    Fecha Inseminación
                </label>
                <div name="fechaInseminacion">
                    <input type="datetime" placeholder="Fecha Inseminación" name="fechaInseminacion" class="form-control" id='datetimepicker4' max="{{fechaDeHoy | date:'dd-MM-yyyy'}}" ng-disabled="disabled" ng-blur="getFechaInseminacion()" data-date-format="DD/MM/YYYY" ng-model="filtro.fechaInseminacion" valueAsDate="{{filtro.fechaInseminacion}}" />
                </div>
                <div ng-show="formReporteInseminacion.fechaInseminacion.$touched">
                    <span class="help-block" ng-show="formReporteInseminacion.fechaInseminacion.$error.max || formReporteInseminacion.fechaInseminacion.$error.min">
                        Debe ingresar una fecha válida
                    </span>
                </div>
            </div>
            <div class="form-group col-md-3 col-lg-3" ng-class="{'has-success has-feedback':formReporteInseminacion.fechaParto.$touched && formReporteInseminacion.fechaParto.$valid,
                 'has-error has-feedback':formReporteInseminacion.fechaParto.$touched && formReporteInseminacion.fechaParto.$invalid}" ng-show="tablaActiva === 2">
                <label class="control-label" for="fechaParto" data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite filtrar las Vacas preñadas para mostrar las que esten por parir en la fecha ingresada.">
                    Fecha Parto
                </label>
                <div name="fechaParto">
                    <input type="datetime" placeholder="Fecha Parto" name="fechaParto" class="form-control" id='datetimepicker5' max="{{fechaDeHoy | date:'dd-MM-yyyy'}}" ng-disabled="disabled" ng-blur="getFechaParto()" data-date-format="DD/MM/YYYY" ng-model="filtro.fechaParto" valueAsDate="{{filtro.fechaParto}}" />
                </div>
                <div ng-show="formReporteInseminacion.fechaParto.$touched">
                    <span class="help-block" ng-show="formReporteInseminacion.fechaParto.$error.max || formReporteInseminacion.fechaParto.$error.min">
                        Debe ingresar una fecha válida
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3 col-lg-3">
                <label data-toggle="tooltip" title="" data-placement="top" data-original-title="{{tituloFiltroEstado}}">
                    Estado
                </label>
                <select class="form-control" name="estado" required
                        ng-model="filtro.idEstado" ng-disabled="disabled">
                    <option value="0">Seleccione...</option>
                    <option ng-repeat="item in estados"
                            value="{{ item.idEstado }}">
                        {{ item.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-3 col-lg-3">
                <label data-toggle="tooltip" title="" data-placement="top" data-original-title="{{tituloFiltroRaza}}">
                    Raza
                </label>
                <select class="form-control" name="raza" required
                        ng-model="filtro.idRaza" ng-disabled="disabled">
                    <option value="0">Seleccione...</option>
                    <option ng-repeat="item in razas"
                            value="{{ item.idRaza }}">
                        {{ item.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-3 col-lg-3">
                <label data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite filtrar el resultado según un peso, “mayor” o “menor o igual” al valor ingresado.">
                    Peso
                </label>
                <select class="form-control" name="accionPeso" required
                        ng-model="filtro.accionPeso" ng-disabled="disabled">
                    <option value="0">Seleccione...</option>
                    <option value="mayor">Mayor</option>
                    <option value="menor">Menor ó igual</option>
                </select>
            </div>
            <div style="margin-top:24px" class="form-group col-md-3 col-lg-3" ng-class="{'has-success has-feedback':formReporteInseminacion.peso.$touched && formReporteInseminacion.peso.$valid,
                 'has-error has-feedback':formReporteInseminacion.peso.$touched && formReporteInseminacion.peso.$invalid}">
                <input class="form-control" name="peso" type="number" ng-model="filtro.peso" placeholder="Peso (kg)" min="0" ng-disabled="filtro.accionPeso === '0'" data-toggle="tooltip" title="" data-placement="top" data-original-title="Peso en Kilogramos a tomar como valor en el filtro anterior." />
                <div ng-show="formReporteInseminacion.peso.$touched">
                    <span class="help-block" ng-show="formReporteInseminacion.peso.$error.min">
                        El peso no puede ser negativo
                    </span>
                </div>
            </div>
        </div>
        <div class="row pull-right hidden-print">
            <div class="col-md-12 col-lg-12">
                <button class="btn btn-default"
                        ng-click="limpiarCampos()" ng-disabled="disabled"
                        data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite limpiar los filtros ingresados para mostrar {{tituloLimpiarCampos}} del campo.">
                    <span class="fa fa-trash"></span>
                    Limpiar Campos
                </button>
                <button class="btn btn-primary"
                        ng-click="consultar()" ng-disabled="formReporteInseminacion.$invalid || disabled"
                        data-toggle="tooltip" title="" data-placement="top" data-original-title="Muestra {{tituloBuscar}} que cumplan con las condiciones ingresadas en los criterios de búsqueda.">
                    <span class="fa fa-search"></span>
                    Buscar
                </button>
            </div>
        </div>
    </fieldset>
</form>
<div ng-include="'app/reportes/reporte-inseminacion/includes/hembras-para-servir.html'" ng-if="tablaActiva == 0"></div>
<div ng-include="'app/reportes/reporte-inseminacion/includes/lactancias-activas.html'" ng-if="tablaActiva == 1"></div>
<div ng-include="'app/reportes/reporte-inseminacion/includes/preniadas.html'" ng-if="tablaActiva == 2"></div>
<div ng-include="'app/reportes/reporte-inseminacion/includes/servicios-sin-confirmar.html'" ng-if="tablaActiva == 3"></div>
<div class="row hidden-print">
    <button type="button" class="btn btn-default"
            ui-sref="home.reportes">
        Volver
    </button>
</div>