<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>
                Reporte
                <small> Inseminacion</small>
            </h1>
        </div>
    </div>
</div>

<div ng-include="'./includes/hembras-para-servir'" ng-if="vm.tablaActiva == 0"></div>
<div ng-include="'./includes/lactancias-activas'" ng-if="vm.tablaActiva == 1"></div>
<div ng-include="'./includes/preniadas'" ng-if="vm.tablaActiva == 2"></div>
<div ng-include="'./includes/servicios-sin-confirmar'" ng-if="vm.tablaActiva == 3"></div>