<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>
                Reporte
                <small> Inseminación</small>
            </h1>
        </div>
    </div>
</div>
<div class="row">
    <button type="button" class="btn btn-default"
            ui-sref="home.reportes">
        Volver
    </button>
</div>
<div>
    <h4>
        Campo: <b>{{usuarioInfo.campo}}</b>
    </h4>
</div>
<div ng-include="'app/reportes/reporte-inseminacion/includes/hembras-para-servir.html'" ng-if="tablaActiva == 0"></div>
<div ng-include="'app/reportes/reporte-inseminacion/includes/lactancias-activas.html'" ng-if="tablaActiva == 1"></div>
<div ng-include="'app/reportes/reporte-inseminacion/includes/preniadas.html'" ng-if="tablaActiva == 2"></div>
<div ng-include="'app/reportes/reporte-inseminacion/includes/servicios-sin-confirmar.html'" ng-if="tablaActiva == 3"></div>