<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>
                Resolver Conflicto
            </h1>
        </div>
    </div>
</div>

<div>
    <div>
        <p>Seleccione los datos que desea mantener</p>
    </div>
    <form name="formResolverConflicto" novalidate>
        <!--
            Comienza tacto conflictivo
        -->
        <div ng-if="isUndefinedOrNull(inseminacionAnterior)">
            <div class="row">
                <div class="col-md-12" ng-show="tactoAnterior">
                    <div class="form-group">
                        <label class="control-label">Bovino</label>
                        <input type="text" class="form-control" placeholder="Bovino"
                               ng-model="tactoAnterior.numCaravanaBovino" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <!--Inicio Columna de Anterior-->
                    <h4>Tacto Anterior</h4>
                    <div class="form-group">
                        <label class="control-label">Fecha de Tacto</label>
                        <section style="padding: 0px;">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Fecha de Tacto"
                                       ng-model="tactoAnterior.fechaTacto" disabled style="width:100%;">
                                <span class="input-group-addon" style="margin-top: 25px;background-color:#16A085;cursor:pointer" title="Agregar" ng-disabled="!habilitar" ng-click="seleccionarPropiedadTacto(tactoAnterior, 'fechaTacto')"><i class="glyphicon glyphicon-plus" style="color:white"></i></span>
                            </div>
                        </section>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tipo de Tacto</label>
                        <section style="padding: 0px;">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Tipo de Tacto"
                                       ng-model="tactoAnterior.tipoTacto" disabled style="width:100%;">
                                <span class="input-group-addon" style="margin-top: 25px;background-color:#16A085;cursor:pointer" title="Agregar" ng-click="seleccionarPropiedadTacto(tactoAnterior, 'tipoTacto')"><i class="glyphicon glyphicon-plus" style="color:white"></i></span>
                            </div>
                        </section>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Resultado de Tacto</label>
                        <section style="padding: 0px;">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Resultado de Tacto"
                                       ng-model="tactoAnterior.exitoso" disabled style="width:100%;">
                                <span class="input-group-addon" style="margin-top: 25px;background-color:#16A085;cursor:pointer" title="Agregar" ng-click="seleccionarPropiedadTacto(tactoAnterior, 'exitoso')"><i class="glyphicon glyphicon-plus" style="color:white"></i></span>
                            </div>
                        </section>
                    </div>
                    <button type="button" class="btn btn-primary"
                            ng-click="seleccionarTacto(tactoAnterior)">
                        Seleccionar este tacto
                    </button>
                </div>
                <!--Inicio Columna de Resultado-->
                <div class="col-md-4">
                    <h4>Resultado</h4>
                    <div class="form-group">
                        <label class="control-label">Fecha de Tacto</label>
                        <input type="text" class="form-control" placeholder="Fecha de Tacto"
                               ng-model="tactoResultante.fechaTacto" disabled>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tipo de Tacto</label>
                        <input type="text" class="form-control" placeholder="Tipo de Tacto"
                               ng-model="tactoResultante.tipoTacto" disabled>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Resultado de Tacto</label>
                        <input type="text" class="form-control" placeholder="Resultado de Tacto"
                               ng-model="tactoResultante.exitoso" disabled>
                    </div>
                    <center>
                        <button type="button" class="btn btn-success btn-lg"
                                data-toggle="modal" data-target="#modalConfirmResolverTactoConflictivo"
                                ng-disabled="!tactoResultante.fechaTacto || !tactoResultante.tipoTacto || !tactoResultante.exitoso">
                            Resolver Conflicto
                        </button>
                    </center>
                </div>
                <!--Inicio Columna de Nuevo-->
                <div class="col-md-4">
                    <h4>Tacto Nuevo</h4>
                    <div class="form-group">
                        <label class="control-label">Fecha de Tacto</label>
                        <section style="padding: 0px;">
                            <div class="input-group">
                                <input type="datetime" class="form-control" placeholder="Fecha de Tacto"
                                       ng-model="tactoNuevo.fechaTacto" disabled style="width:100%;">
                                <span class="input-group-addon" style="margin-top: 25px;background-color:#16A085;cursor:pointer" title="Agregar" ng-click="seleccionarPropiedadTacto(tactoNuevo, 'fechaTacto')"><i class="glyphicon glyphicon-plus" style="color:white"></i></span>
                            </div>
                        </section>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tipo de Tacto</label>
                        <section style="padding: 0px;">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Tipo de Tacto"
                                       ng-model="tactoNuevo.tipoTacto" disabled style="width:100%;">
                                <span class="input-group-addon" style="margin-top: 25px;background-color:#16A085;cursor:pointer" title="Agregar" ng-click="seleccionarPropiedadTacto(tactoNuevo, 'tipoTacto')"><i class="glyphicon glyphicon-plus" style="color:white"></i></span>
                            </div>
                        </section>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Resultado de Tacto</label>
                        <section style="padding: 0px;">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Resultado de Tacto"
                                       ng-model="tactoNuevo.exitoso" disabled style="width:100%;">
                                <span class="input-group-addon" style="margin-top: 25px;background-color:#16A085;cursor:pointer" title="Agregar" ng-click="seleccionarPropiedadTacto(tactoNuevo, 'exitoso')"><i class="glyphicon glyphicon-plus" style="color:white"></i></span>
                            </div>
                        </section>
                    </div>
                    <button type="button" class="btn btn-primary"
                            ng-click="seleccionarTacto(tactoNuevo)">
                        Seleccionar este tacto
                    </button>
                </div>
            </div>
        </div>

        <!--
            Comienza Inseminacion conflictiva
        -->
        <div ng-if="!isUndefinedOrNull(inseminacionAnterior)">
            <div class="row">
                <div class="col-md-4">
                    <!--Inicio Columna de Anterior-->
                    <h4>Inseminación Anterior</h4>
                    <div class="form-group">
                        <label class="control-label">Fecha de Inseminación</label>
                        <section style="padding: 0px;">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Fecha de Inseminación"
                                       ng-model="inseminacionAnterior.fechaInseminacion" disabled style="width:100%;">
                                <span class="input-group-addon" style="margin-top: 25px;background-color:#16A085;cursor:pointer" title="Agregar" ng-click="seleccionarPropiedadInseminacion(inseminacionAnterior, 'fechaInseminacion')"><i class="glyphicon glyphicon-plus" style="color:white"></i></span>
                            </div>
                        </section>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tipo de Inseminación</label>
                        <section style="padding: 0px;">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Tipo de Inseminación"
                                       ng-model="inseminacionAnterior.tipoInseminacion" disabled style="width:100%;">
                                <span class="input-group-addon" style="margin-top: 25px;background-color:#16A085;cursor:pointer" title="Agregar" ng-click="seleccionarPropiedadInseminacion(inseminacionAnterior, 'tipoInseminacion')"><i class="glyphicon glyphicon-plus" style="color:white"></i></span>
                            </div>
                        </section>
                    </div>
                    <button type="button" class="btn btn-primary"
                            ng-click="seleccionarInseminacion(inseminacionAnterior)">
                        Seleccionar esta inseminación
                    </button>
                </div>
                <!--Inicio Columna de Resultado-->
                <div class="col-md-4">
                    <h4>Resultado</h4>
                    <div class="form-group">
                        <label class="control-label">Fecha de Inseminación</label>
                        <input type="text" class="form-control" placeholder="Fecha de Inseminación"
                               ng-model="inseminacionResultante.fechaInseminacion" disabled>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tipo de Inseminación</label>
                        <input type="text" class="form-control" placeholder="Tipo de Inseminación"
                               ng-model="inseminacionResultante.tipoInseminacion" disabled>
                    </div>
                    <center>
                        <button type="button" class="btn btn-success btn-lg"
                                data-toggle="modal" data-target="#modalConfirmResolverInseminacionConflictiva"
                                ng-disabled="!inseminacionResultante.fechaInseminacion || !inseminacionResultante.tipoInseminacion">
                            Resolver Conflicto
                        </button>
                    </center>                    
                </div>
                <!--Inicio Columna de Nuevo-->
                <div class="col-md-4">
                    <h4>Inseminación Nueva</h4>
                    <div class="form-group">
                        <label class="control-label">Fecha de Inseminación</label>
                        <section style="padding: 0px;">
                            <div class="input-group">
                                <input type="datetime" class="form-control" placeholder="Fecha de Inseminación"
                                       ng-model="inseminacionNueva.fechaInseminacion" disabled style="width:100%;">
                                <span class="input-group-addon" style="margin-top: 25px;background-color:#16A085;cursor:pointer" title="Agregar" ng-click="seleccionarPropiedadInseminacion(inseminacionNueva, 'fechaInseminacion')"><i class="glyphicon glyphicon-plus" style="color:white"></i></span>
                            </div>
                        </section>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tipo de Inseminación</label>
                        <section style="padding: 0px;">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Tipo de Inseminación"
                                       ng-model="inseminacionNueva.tipoInseminacion" disabled style="width:100%;">
                                <span class="input-group-addon" style="margin-top: 25px;background-color:#16A085;cursor:pointer" title="Agregar" ng-click="seleccionarPropiedadInseminacion(inseminacionNueva, 'tipoInseminacion')"><i class="glyphicon glyphicon-plus" style="color:white"></i></span>
                            </div>
                        </section>                       
                    </div>
                    <button type="button" class="btn btn-primary"
                            ng-click="seleccionarInseminacion(inseminacionNueva)">
                        Seleccionar esta inseminación
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<button type="button" class="btn btn-default"
        ui-sref="home.consultarConflicto">
    Volver
</button>
<!--Modal confirmar resolucion de inseminacion conflictiva-->
<div id="modalConfirmResolverInseminacionConflictiva" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmar Resolución</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea resolver este conflicto de Inseminaciones con los siguientes datos?</p>
                <center>
                    <span class="alert-info"><b>Fecha Inseminación: {{inseminacionResultante.fechaInseminacion}}</b></span>
                    <br />
                    <span class="alert-info"><b>Tipo de Inseminación: {{inseminacionResultante.tipoInseminacion}}</b></span>
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="resolverInseminacion()">Si</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cerrar()">No</button>
            </div>
        </div>
    </div>
</div>
<!--Modal confirmar resolucion de inseminacion conflictiva-->
<div id="modalConfirmResolverTactoConflictivo" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmar Resolución</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea resolver este conflicto de Tactos con los siguientes datos?</p>
                <center>
                    <span class="alert-info"><b>Fecha de Tacto: {{tactoResultante.fechaTacto}}</b></span>
                    <br />
                    <span class="alert-info"><b>Tipo de Tacto: {{tactoResultante.tipoTacto}}</b></span>
                    <br />
                    <span class="alert-info"><b>Resultado del Tacto: {{tactoResultante.exitoso}}</b></span>
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="resolverTacto()">Si</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cerrar()">No</button>
            </div>
        </div>
    </div>
</div>