<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>
                Reportes
                <small> Selección de reporte</small>
            </h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-4" data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite visualizar un reporte con los datos de todos los bovinos del campo.">
        <div class="panel panel-primary" ui-sref="home.reporteBovino" style="cursor:pointer;">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-tags fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h4>Bovinos</h4>
                    </div>
                </div>
            </div>
            <a>
                <div class="panel-footer">
                    <span class="pull-left">Ver reporte</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-md-4" data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite visualizar varios reportes con información sobre las inseminaciones registradas en el campo y las vacas involucradas en las mismas.">
        <div class="panel panel-primary" data-toggle="modal" data-target="#modalReporteInseminaciones" style="cursor:pointer">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-venus-mars fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h4>Inseminaciones</h4>
                    </div>
                </div>
            </div>
            <a>
                <div class="panel-footer">
                    <span class="pull-left">Ver reporte</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-md-4" data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite visualizar un reporte con la información de todos los eventos registrados en el campo.">
        <div class="panel panel-primary" ui-sref="home.reporteEvento" style="cursor:pointer;">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-list-alt fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h4>Eventos</h4>
                    </div>
                </div>
            </div>
            <a>
                <div class="panel-footer">
                    <span class="pull-left">Ver reporte</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>
                Estadísticas
                <small> Selección de estadísticas</small>
            </h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-4" data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite visualizar diferentes gráficos estadísticos con información generalizada de los bovinos del campo, además de mostrar una cabecera con datos más puntuales.">
        <div class="panel panel-primary" ui-sref="home.estadisticaBovino" style="cursor:pointer;">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-area-chart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h4>Bovinos</h4>
                    </div>
                </div>
            </div>
            <a>
                <div class="panel-footer">
                    <span class="pull-left">Ver estadística</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-md-4" data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite visualizar diferentes gráficos estadísticos con información generalizada de las inseminaciones registradas en el campo, además de mostrar una cabecera con datos más puntuales.">
        <div class="panel panel-primary" ui-sref="home.estadisticaInseminacion" style="cursor:pointer;">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-bar-chart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h4>Inseminaciones</h4>
                    </div>
                </div>
            </div>
            <a>
                <div class="panel-footer">
                    <span class="pull-left">Ver estadística</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-md-4" data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite visualizar diferentes gráficos estadísticos con información generalizada de los eventos registrados en el campo, además de mostrar una cabecera con datos más puntuales.">
        <div class="panel panel-primary" ui-sref="home.estadisticaEvento" style="cursor: pointer;">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-line-chart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h4>Eventos</h4>
                    </div>
                </div>
            </div>
            <a>
                <div class="panel-footer">
                    <span class="pull-left">Ver estadística</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>

<!--Modal reporte inseminaciones-->
<div id="modalReporteInseminaciones" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Seleccione el reporte de la Sección de Inseminaciones desea ver</h4>
            </div>
            <div class="modal-body" style="height:45%">
                <span ng-click="irAReportesInseminacion(0)" style="cursor:pointer"><i class="fa fa-check"></i> Hembras para Servicio</span>
                <br />
                <span ng-click="irAReportesInseminacion(3)" style="cursor:pointer"><i class="fa fa-check"></i> Servicios sin Confirmar</span>
                <br />
                <span ng-click="irAReportesInseminacion(2)" style="cursor:pointer"><i class="fa fa-check"></i> Hembras Preñadas</span>
                <br />
                <span ng-click="irAReportesInseminacion(1)" style="cursor:pointer"><i class="fa fa-check"></i> Lactancias Activas</span>
            </div>
        </div>
    </div>
</div>