<p>
    Hembras Preñadas
</p>

<div>
    <table st-table="displayedCollection" st-safe-src="preniadas" class="table table-striped">
        <thead>
            <tr>
                <th st-sort="orden">N° Orden</th>
                <th st-sort="caravana">N° Caravana</th>
                <th st-sort="raza">Raza</th>
                <th st-sort="categoria">Categoría</th>
                <th st-sort="edad">Edad</th>
                <th st-sort="peso">Peso (Kg)</th>
                <th st-sort="tipoInseminacion">Tipo Inseminación</th>
                <th st-sort="fechaParto">Fecha Parto</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in displayedCollection">
                <td>{{item.nroOrden}}</td>
                <td>{{item.numCaravana}}</td>
                <td>{{item.raza | uppercase}}</td>
                <td>{{item.categoria | uppercase}}</td>
                <td>{{item.anos}} años y {{item.meses}} meses</td>
                <td>{{item.peso}}</td>
                <td>{{item.tipoInseminacion | uppercase}}</td>
                <td>{{item.fechaParto}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <label for="items">Registros por página</label>
                    <input class="input-sm form-control" name="items" id="items" min="1" type="number" ng-model="itemsPorPagina" ng-disabled="disabled">
                </td>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsPorPagina" st-displayed-pages="7"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>