<fieldset>
    <div class="alert alert-danger" ng-show=""></div>
    <div class="row">
        <div class="col-lg-10">
            <div style="margin-top:0px;" class="page-header">
                <h1>
                    Estadísticas de Bovinos
                    <small>Gráficas Período {{ano}}</small>
                </h1>
            </div>
        </div>
    </div>
</fieldset>
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div>
                        <h4>Toro más pesado</h4>
                        <h4>Nº caravana: {{obj.inicio.caravanaToroMasPesado}}</h4>
                        <h4><a class="pull-right" style="color: white;" ng-disabled="obj.inicio.caravanaToroMasPesado" ui-sref="home.detalleBovino({id: obj.inicio.idToroMasPesado, proviene: 'EstadisticaBovino'})">Ver <span class="fa fa-search"></span></a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="row">
                    <div>
                        <h4>Vaca más pesada</h4>
                        <h4>Nº caravana: {{obj.inicio.caravanaVacaMasPesada}}</h4>
                        <h4><a class="pull-right" ng-disabled="obj.inicio.caravanaVacaMasPesada" ui-sref="home.detalleBovino({id: obj.inicio.idVacaMasPesada, proviene: 'EstadisticaBovino'})">Ver <span class="fa fa-search"></span></a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div>
                        <h4>Bovino más jóven</h4>
                        <h4>Nº caravana: {{obj.inicio.caravanaBovinoMasJoven}}</h4>
                        <h4><a class="pull-right" ng-disabled="obj.inicio.caravanaBovinoMasJoven" ui-sref="home.detalleBovino({id: obj.inicio.idBovinoMasJoven, proviene: 'EstadisticaBovino'})">Ver <span class="fa fa-search"></span></a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div>
                        <h4>Bovino mas nuevo del sistema</h4>
                        <h4>Nº caravana: {{obj.inicio.caravanaBovinoMasNuevo}}</h4>
                        <h4><a class="pull-right" ng-disabled="obj.inicio.caravanaBovinoMasNuevo" ui-sref="home.detalleBovino({id: obj.inicio.idBovinoMasNuevo, proviene: 'EstadisticaBovino'})">Ver <span class="fa fa-search"></span></a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div>
                        <h4>Toro más liviano</h4>
                        <h4>Nº caravana: {{obj.inicio.caravanaToroMasLiviano}}</h4>
                        <h4><a class="pull-right" ng-disabled="obj.inicio.caravanaToroMasLiviano" style="color: white;" ui-sref="home.detalleBovino({id: obj.inicio.idToroMasLiviano, proviene: 'EstadisticaBovino'})">Ver <span class="fa fa-search"></span></a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="row">
                    <div>
                        <h4>Vaca más liviana</h4>
                        <h4>Nº caravana: {{obj.inicio.caravanaVacaMasLiviana}}</h4>
                        <h4><a class="pull-right" ng-disabled="obj.inicio.caravanaVacaMasLiviana" ui-sref="home.detalleBovino({id: obj.inicio.idVacaMasLiviana, proviene: 'EstadisticaBovino'})">Ver <span class="fa fa-search"></span></a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div>
                        <h4>Bovino más viejo</h4>
                        <h4>Nº caravana: {{obj.inicio.caravanaBovinoMasViejo}}</h4>
                        <h4><a class="pull-right" ng-disabled="obj.inicio.caravanaBovinoMasViejo" ui-sref="home.detalleBovino({id: obj.inicio.idBovinoMasViejo, proviene: 'EstadisticaBovino'})">Ver <span class="fa fa-search"></span></a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div>
                        <h4>Bovino mas viejo del sistema</h4>
                        <h4>Nº caravana: {{obj.inicio.caravanaBovinoMasViejoSist}}</h4>
                        <h4><a class="pull-right" ng-disabled="obj.inicio.caravanaBovinoMasViejoSists" ui-sref="home.detalleBovino({id: obj.inicio.idBovinoMasViejoSist, proviene: 'EstadisticaBovino'})">Ver <span class="fa fa-search"></span></a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><h4>Porcentaje de Bovinos por Rodeo</h4></div>
            </div>
            <div class="panel-body">
                <div id="graficoPorcentajeBovinoPorRodeo"></div>
                <a id="descargaGraficoPorcentajeBovinoPorRodeo" ng-show="false" style="text-decoration:underline" download="Farmix - Gráfica de Bovinos por Rodeo">
                    Descargar Imagen
                </a>
                <a ng-click="descargarPdf('descargaGraficoPorcentajeBovinoPorRodeo', 'Gráfica de Bovinos por Rodeo')" style="cursor:pointer;">Descargar en PDF</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><h4>Cantidad de Bajas por Mes</h4></div>
            </div>
            <div class="panel-body">
                <div id="graficoBajasPorMes"></div>
                <a id="descargaGraficoBajasPorMes" ng-show="false" style="text-decoration:underline" download="Farmix - Gráfica de Bajas por Muerte o Venta por Mes">
                    Descargar Imagen
                </a>
                <a ng-click="descargarPdf('descargaGraficoBajasPorMes', 'Gráfica de Bajas por Muerte o Venta por Mes', 'apaisado')" style="cursor:pointer;">Descargar en PDF</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><h4>Peso promedio según raza y sexo</h4></div>
            </div>
            <div class="panel-body">
                <div id="graficoPesoPorRazaYSexo"></div>
                <a id="descargaGraficoPesoPorRazaYSexo" ng-show="false" style="text-decoration:underline" download="Farmix - Gráfica de Promedio de Peso por Raza y Sexo">
                    Descargar Imagen
                </a>
                <a ng-click="descargarPdf('descargaGraficoPesoPorRazaYSexo', 'Gráfica de Promedio de Peso por Raza y Sexo', 'apaisado')" style="cursor:pointer;">Descargar en PDF</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><h4>Top 10 Bovinos más livianos</h4></div>
            </div>
            <div class="panel-body">
                <div id="top10BovinosMasLivianos"></div>
            </div>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><h4>Nacimientos por mes</h4></div>
            </div>
            <div class="panel-body">
                <div id="graficoNacimientosPorMes"></div>
                <a id="descargaGraficoNacimientosPorMes" ng-show="false" style="text-decoration:underline" download="Farmix - Gráfica de Nacimientos Por Mes">
                    Descargar Imagen
                </a>
                <a ng-click="descargarPdf('descargaGraficoNacimientosPorMes', 'Gráfica de Nacimientos Por Mes', 'apaisado')" style="cursor:pointer;">Descargar en PDF</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <button type="button" class="btn btn-default"
            ui-sref="home.reportes" style="margin-left: 15px;">
        Volver
    </button>
</div>