<fieldset>
    <div class="row">
        <div class="col-lg-10">
            <div style="margin-top:0px;" class="page-header">
                <h1>
                    Inseminación
                    <small>Consulta</small>
                </h1>
            </div>
        </div>
    </div>
</fieldset>
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div ng-click="hembrasParaServicio()">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tags fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <h1>{{init.hembrasParaServicio}}</h1>
                            <h4>Hembras para servicio</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6" ng-click="serviciosSinConfirmar()">
        <a href="">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-exclamation-triangle fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <h1>{{init.serviciosSinConfirmar}}</h1>
                            <h4>Servicios sin confirmar</h4>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6" ng-click="proximosPartos()">
        <a href="">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-heart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <h1>{{init.preniadasPorParir}}</h1>
                            <h4>Preñadas por parir</h4>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6">
        <a href="">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-check-circle-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <h1>{{init.lactanciasActivas}}</h1>
                            <h4>Lactancias activas</h4>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<div ng-show="showServSinConfirm">
    <h3>Servicios sin confirmar <small>Aún no se realizo el tacto</small> <!--<small>Falta realizar tacto/ecografía</small>--></h3>
    <ul class="list-group">
        <li class="list-group-item">
            <span class="badge">{{serviciosSinConfirm.menor60}}</span>
            Menos de 60 días
        </li>
        <li class="list-group-item">
            <span class="badge">{{serviciosSinConfirm.entre90y60}}</span>
            Entre 60 y 90 días
        </li>
        <li class="list-group-item">
            <span class="badge">{{serviciosSinConfirm.mas90}}</span>
            Más de 90 días
        </li>
    </ul>
</div>
<div ng-show="showProxPartos">
    <h3>Vacas preñadas <small>Próximas a parir</small></h3>
    <ul class="list-group">
        <li class="list-group-item">
            <span class="badge">{{preniadasPorParir.prox10dias}}</span>
            Dentro de 10 días
        </li>
        <li class="list-group-item">
            <span class="badge">{{preniadasPorParir.entre10y30dias}}</span>
            Dentro de 30 días
        </li>
        <li class="list-group-item">
            <span class="badge">{{preniadasPorParir.entre30y60dias}}</span>
            Dentro de 60 días
        </li>
    </ul>
</div>
<!--<div>
    <span>
    Estaria bueno tambien mostrar algo referido a cuando es la fecha estimada para sacar a los toros que participaron
        de una inseminacion por montura de los corrales, ya que lei que es aconsejable dejarlos entre 60 a 90 dias solamente
    </span>
</div>-->
<div ng-show="mostrarTablaHembrasServicio">
    <table st-table="rowCollection" class="table table-striped">
        <thead>
            <tr>
                <th st-sort="col1">Col 1</th>
                <th st-sort="col2">Col 2</th>
                <th st-sort="col3">Col 3</th>
                <th st-sort="col4">Col 4</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in rowCollection">
                <td>{{item.col1 | uppercase}}</td>
                <td>{{item.col2}}</td>
                <td>{{item.col3}}</td>
                <td>{{item.col4}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsPorPagina" st-displayed-pages="7"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<!--<table st-table="caca" class="table table-striped">
    <thead>
        <tr>
            <th st-sort="col1">Col 1</th>
            <th st-sort="col2">Col 2</th>
            <th st-sort="col3">Col 3</th>
            <th st-sort="col4">Col 4</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in caca">
            <td>{{item.col1 | uppercase}}</td>
            <td>{{item.col2}}</td>
            <td>{{item.col3}}</td>
            <td>{{item.col4}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="3" st-displayed-pages="7"></div>
            </td>
        </tr>
    </tfoot>
</table>-->

<div class="loader" ng-show="showSpinner" style="margin:0 auto; margin-left: 500px; margin-top:-500px"></div>