<ion-view view-title="Grabar Tag">
    <ion-content padding="true" class="fondo">
        <h3>Bovinos con Tag sin grabar</h3>
        <table class="bordeTabla">
            <tr>
                <th>Numero de Caravana</th>
                <th></th>
            </tr>
            <tr ng-repeat="bovino in bovinos">
                <td>{{bovino.numCaravana}}</td>
                <td><button ng-click="grabar(bovino.id)" ion-button>Grabar Tag</button></td>
            </tr>
        </table><br />
        <h3>Bovinos con Tag ya grabados</h3>
        <table class="bordeTabla">
            <tr>
                <th>Numero de Caravana</th>
                <th></th>
            </tr>
            <tr ng-repeat="bovino in bovinosEscritos">
                <td>{{bovino.numCaravana}}</td>
                <td><button ng-click="grabar(bovino.id)" ion-button>Grabar Tag</button></td>
            </tr>
        </table>
    </ion-content>
</ion-view>