<ion-view view-title="Inseminación" cache-view="false">
    <ion-content padding="true" class="fondo">
        <button ng-click="inseminar()" class="button bordeBoton botonMatriz" ion-button>Registrar Inseminaci&oacute;n</button><button ng-click="verificarInseminacion()" class="button bordeBoton botonMatriz" ion-button>Verificar Inseminación</button>
        <button ng-click="registrarNacimiento()" class="button bordeBoton botonMatriz" ion-button>Registrar Nacimiento</button>
    </ion-content>
</ion-view>