<ion-view view-title="Datos del Bovino" cache-view="false">
    <ion-content padding="true" class="fondo">
        <table class="bordeTabla">
            <tr class="itemTabla">
                <td>Número de Caravana</td>
                <td>{{bovino.numCaravana}}</td>
            </tr>
            <tr ng-if="bovino.apodo != ''" class="itemTabla">
                <td>Apodo</td>
                <td>{{bovino.apodo}}</td>
            </tr>
            <tr ng-if="bovino.descripcion != ''" class="itemTabla">
                <td>Descripción</td>
                <td>{{bovino.descripcion}}</td>
            </tr>
            <tr class="itemTabla">
                <td>Género</td>
                <td>{{bovino.genero}}</td>
            </tr>
            <tr class="itemTabla">
                <td>Estado</td>
                <td>{{bovino.estado}}</td>
            </tr>
            <tr ng-if="bovino.fechaEstimadaParto != ''" class="itemTabla">
                <td>Fecha estimada de parto</td>
                <td>{{bovino.fechaEstimadaParto}}</td>
            </tr>
            <tr class="itemTabla">
                <td>Categoría</td>
                <td>{{bovino.categoria}}</td>
            </tr>
            <tr class="itemTabla">
                <td>Raza</td>
                <td>{{bovino.raza}}</td>
            </tr>
            <tr class="itemTabla">
                <td>Fecha de Nacimiento</td>
                <td>{{bovino.fechaNacimiento}}</td>
            </tr>
            <tr class="itemTabla">
                <td>Peso</td>
                <td>{{bovino.peso}} kg.</td>
            </tr>
            <tr ng-if="bovino.enfermo == '1'"  class="itemTabla">
                <td colspan="2" align="center">Esta enfermo</td>
            </tr>
        </table>
    </ion-content>
</ion-view>