<body>
    <a id="btn_login" data-toggle="modal" data-target="#login-modal" style="font-size: 25px;cursor:pointer"
       data-backdrop="static" data-keyboard="false"></a>
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <div>
                    <img src="../../images/mati-03.png" height="200" width="200" style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 10px; " />
                </div><form>
                    <input type="text" name="usuario" placeholder="Usuario"
                           ng-model="usuario.usuario" ng-show="ocultarUsuario">
                    <input type="password" name="contrasenia" placeholder="Contraseña"
                           ng-model="usuario.pass">
                    <input type="submit" name="login" class="login loginmodal-submit" value="Ingresar"
                           ng-click="aceptar()" ng-keyup="$event.keyCode === 13 && aceptar()">
                </form>

                <div class="login-help">
                    <a>Volver</a>
                </div>
                <div class="pull-right"><a ref="" ng-click="ocultarUsuario = true" style="cursor:pointer">Usar otra cuenta</a></div>
            </div>
        </div>
    </div>
    <div class="loader" ng-show="showSpinner" style="margin:0 auto; margin-left: 500px; margin-top:-500px"></div>
</body>
