<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>
                Consulta de Nacimientos de su Campo
                <small> Criterios de búsqueda</small>
            </h1>
        </div>
    </div>
</div>
<form name="formConsultarNacimiento" novalidate>
    <fieldset>
        <div class="row">
            <div class="form-group col-md-3 col-lg-3" ng-class="{'has-success has-feedback':formConsultarNacimiento.numCaravanaMadre.$touched && formConsultarNacimiento.numCaravanaMadre.$valid,
                 'has-error has-feedback':formConsultarNacimiento.numCaravanaMadre.$touched && formConsultarNacimiento.numCaravanaMadre.$invalid}">
                <label>
                    N° Caravana Madre
                </label>
                <input class="form-control" name="numCaravanaMadre" type="number" ng-model="filtro.numCaravanaMadre" placeholder="N° Caravana de la Madre" min="0" ng-disabled="disabled" />
                <div ng-show="formConsultarNacimiento.numCaravanaMadre.$touched">
                    <span class="help-block" ng-show="formConsultarNacimiento.numCaravanaMadre.$error.min">
                        El número de Caravana no puede ser negativo
                    </span>
                </div>
            </div>
            <div class="form-group col-md-3 col-lg-3" ng-class="{'has-success has-feedback':formConsultarNacimiento.numCaravanaPadre.$touched && formConsultarNacimiento.numCaravanaPadre.$valid,
                 'has-error has-feedback':formConsultarNacimiento.numCaravanaPadre.$touched && formConsultarNacimiento.numCaravanaPadre.$invalid}">
                <label>
                    N° Caravana Padre
                </label>
                <input class="form-control" name="numCaravanaPadre" type="number" ng-model="filtro.numCaravanaPadre" placeholder="N° Caravana del Padre" min="0" ng-disabled="disabled" />
                <div ng-show="formConsultarNacimiento.numCaravanaPadre.$touched">
                    <span class="help-block" ng-show="formConsultarNacimiento.numCaravanaPadre.$error.min">
                        El número de Caravana no puede ser negativo
                    </span>
                </div>
            </div>
            <div class="form-group col-md-3 col-lg-3" ng-class="{'has-success has-feedback':formConsultarNacimiento.fechaDesde.$touched && formConsultarNacimiento.fechaDesde.$valid,
                 'has-error has-feedback':formConsultarNacimiento.fechaDesde.$touched && formConsultarNacimiento.fechaDesde.$invalid}">
                <label class="control-label" for="fechaDesde">
                    Fecha Desde
                </label>
                <div name="fechaDesde">
                    <input type="datetime" placeholder="Fecha desde" name="fechaDesde" class="form-control" id='datetimepicker4' max="{{fechaDeHoy | date:'dd-MM-yyyy'}}" ng-disabled="disabled" ng-blur="getFechaDesde()" data-date-format="DD/MM/YYYY" ng-model="filtro.fechaDesde" valueAsDate="{{filtro.fechaDesde}}" />
                </div>
                <div ng-show="formConsultarNacimiento.fechaDesde.$touched">
                    <span class="help-block" ng-show="formConsultarNacimiento.fechaDesde.$error.max || formConsultarNacimiento.fechaDesde.$error.min">
                        Debe ingresar una fecha válida
                    </span>
                </div>
            </div>
            <div class="form-group col-md-3 col-lg-3" ng-class="{'has-success has-feedback':formConsultarNacimiento.fechaHasta.$touched && formConsultarNacimiento.fechaHasta.$valid,
                 'has-error has-feedback':formConsultarNacimiento.fechaHasta.$touched && formConsultarNacimiento.fechaHasta.$invalid}">
                <label class="control-label" for="fechaHasta">
                    Fecha Hasta
                </label>
                <div name="fechaHasta">
                    <input type="datetime" placeholder="Fecha hasta" name="fechaHasta" class="form-control" id='datetimepicker5' max="{{fechaDeHoy | date:'dd-MM-yyyy'}}" ng-disabled="disabled" ng-blur="getFechaHasta()" data-date-format="DD/MM/YYYY" ng-model="filtro.fechaHasta" valueAsDate="{{filtro.fechaHasta}}" />
                </div>
                <div ng-show="formConsultarNacimiento.fechaHasta.$touched">
                    <span class="help-block" ng-show="formConsultarNacimiento.fechaHasta.$error.min">
                        Debe ingresar una fecha válida
                    </span>
                </div>
            </div>
        </div>
        <div class="row pull-right hidden-print">
            <div class="col-md-12 col-lg-12">
                <button class="btn btn-default"
                        ng-click="limpiarCampos()" ng-disabled="disabled">
                    <span class="fa fa-trash"></span>
                    Limpiar Campos
                </button>
                <button class="btn btn-primary"
                        ng-click="consultar()" ng-disabled="formConsultarNacimiento.$invalid || disabled">
                    <span class="fa fa-search"></span>
                    Buscar
                </button>
            </div>
        </div>
    </fieldset>
</form>

<!--TABLA-->
<legend style="margin-bottom: 5px;" ng-show="rowCollection.length > 0">Resultados</legend>
<div class="row col-lg-12 col-md-12" ng-show="rowCollection.length > 0">
    <div class="pull-right hidden-print" style="margin-bottom:5px">
        <button class="btn btn-success font-white" ng-click="exportarExcel()" title="Exportar a Excel" ng-disabled="disabledExportar">
            <i class="fa fa-file-excel-o"></i>
        </button>
        <button class="btn btn-success font-white" ng-click="exportarPDF()" title="Exportar a PDF" ng-disabled="disabledExportar">
            <i class="fa fa-file-pdf-o"></i>
        </button>
        <a class="btn btn-success font-white" href='javascript:window.print();' title="Imprimir" ng-disabled="disabledExportar">
            <i class="fa fa-print"></i>
        </a>
    </div>
    <div class="table-responsive">
        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
            <thead>
                <tr>
                    <th st-sort="tipo">Nro de Caravana Madre</th>
                    <th st-sort="fecha">Nro de Caravana Padre</th>
                    <th st-sort="estado">Fecha Nacimiento</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in displayedCollection">
                    <td>{{item.numCaravanaMadre}}</td>
                    <td>{{item.numCaravanaPadre}}</td>
                    <td>{{item.fechaNacimiento}}</td>
                    <td>
                        <a ng-click="validarSiPuedoAgregar(item.idNacimiento)" title="Registrar bovino" style="cursor:pointer;"><span class="fa fa-plus"></span></a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="hidden-print">
                        <label for="items">Registros por página</label>
                        <input class="input-sm form-control" name="items" id="items" type="number" ng-model="itemsPorPagina" ng-disabled="disabled" min="1">
                    </td>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsPorPagina" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
