<fieldset>
    <div class="alert alert-danger" ng-show=""></div>
    <div class="row">
        <div class="col-lg-10">
            <div style="margin-top:0px;" class="page-header">
                <h1>
                    Estadísticas de Eventos
                    <small>Gráficas Período {{ano}}</small>
                </h1>
            </div>
        </div>
    </div>
</fieldset>
<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div>
                        <h4>Bovino con más cambios de Rodeos</h4>
                        <h4>Nº caravana: {{obj.inicio.caravanaBovinoMasCambiosRodeo}}</h4>
                        <h4><a class="pull-right" ng-disabled="obj.inicio.caravanaBovinoMasCambiosRodeo" style="color: white;" ui-sref="home.detalleBovino({id: obj.inicio.idBovinoMasCambiosRodeo, proviene: 'EstadisticaEvento'})">Ver <span class="fa fa-search"></span></a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="row">
                    <div>
                        <h4>Bovino con más cambios Alimenticios</h4>
                        <h4>Nº caravana: {{obj.inicio.caravanaBovinoMasCambiosAlimenticios}}</h4>
                        <h4><a class="pull-right" ng-disabled="obj.inicio.caravanaBovinoMasCambiosAlimenticios" ui-sref="home.detalleBovino({id: obj.inicio.idBovinoMasCambiosAlimenticios, proviene: 'EstadisticaEvento'})">Ver <span class="fa fa-search"></span></a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div>
                        <h4>Bovino que se ha enfermado más veces</h4>
                        <h4>Nº caravana: {{obj.inicio.caravanaBovinoMasEnfermo}}</h4>
                        <h4><a class="pull-right" ng-disabled="obj.inicio.caravanaBovinoMasEnfermo" ui-sref="home.detalleBovino({id: obj.inicio.idBovinoMasEnfermo, proviene: 'EstadisticaEvento'})">Ver <span class="fa fa-search"></span></a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="row">
                    <div>
                        <h4>Bovino que más ha comido</h4>
                        <h4>Nº caravana: {{obj.inicio.caravanaBovinoQueMasComio}}</h4>
                        <h4><a class="pull-right" ng-disabled="obj.inicio.caravanaBovinoQueMasComio"  ui-sref="home.detalleBovino({id: obj.inicio.idBovinoQueMasComio, proviene: 'EstadisticaEvento'})">Ver <span class="fa fa-search"></span></a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div>
                        <h4>Último Bovino que se ha vacunado</h4>
                        <h4>Nº caravana: {{obj.inicio.caravanaUltimoBovinoVacunado}}</h4>
                        <h4><a class="pull-right" ng-disabled="obj.inicio.caravanaUltimoBovinoVacunado" style="color: white;" ui-sref="home.detalleBovino({id: obj.inicio.idUltimoBovinoVacunado, proviene: 'EstadisticaEvento'})">Ver <span class="fa fa-search"></span></a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div>
                        <h4>Último Bovino que se le ha aplicado un antibiótico</h4>
                        <h4>Nº caravana: {{obj.inicio.caravanaUltimoBovinoConAntibiotico}}</h4>
                        <h4><a class="pull-right" ng-disabled="obj.inicio.caravanaUltimoBovinoConAntibiotico" ui-sref="home.detalleBovino({id: obj.inicio.idUltimoBovinoConAntibiotico, proviene: 'EstadisticaEvento'})">Ver <span class="fa fa-search"></span></a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><h4>Antibióticos más usados</h4></div>
            </div>
            <div class="panel-body">
                <div id="graficoAntibioticosMasUsados"></div>
                <a id="descargaGraficoAntibioticosMasUsados" ng-show="false" style="text-decoration:underline" download="Farmix - Gráfica de Antibióticos más usados">
                    Descargar Imagen
                </a>
                <a ng-click="descargarPdf('descargaGraficoAntibioticosMasUsados', 'Gráfica de Antibióticos más usados', 'apaisado')" style="cursor:pointer;">Descargar en PDF</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><h4>Top 10 Bovinos con más cambios de Alimentación</h4></div>
            </div>
            <div class="panel-body">
                <div id="graficoCambiosAlimentacionXBovino"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><h4>Top 10 Bovinos con mayor cambios de Rodeo</h4></div>
            </div>
            <div class="panel-body">
                <div id="graficoMovimientosXBovino"></div>

                <a id="descargaGraficoMovimientosXBovino" ng-show="false" style="text-decoration:underline" download="Farmix - Top 10 Mayor cantidad de Cambios Rodeo">
                    Descargar Imagen
                </a>
                <a ng-click="descargarPdf('descargaGraficoMovimientosXBovino', 'Top 10 Mayor cantidad de Cambios Rodeo', 'apaisado')" style="cursor:pointer;">Descargar en PDF</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><h4>Cantidad de eventos por tipo en cada mes</h4></div>
            </div>
            <div class="panel-body">
                <div id="graficoEventosXTipoXMes"></div>
                <!--<a id="descargaGraficoEventosXTipoXMes" ng-show="false" style="text-decoration:underline" download="Farmix - Eventos por tipo en cada mes">
                    Descargar Imagen
                </a>
                <a ng-click="descargarPdf('descargaGraficoEventosXTipoXMes', 'Eventos por tipo en cada mes', 'apaisado')" style="cursor:pointer;">Descargar en PDF</a>-->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><h4>Cantidad de Eventos por Tipo y por Sexo</h4></div>
            </div>
            <div class="panel-body">
                <div id="graficoEventosXTipoXGenero"></div>
                <a id="descargaGraficoEventosXTipoXGenero" ng-show="false" style="text-decoration:underline" download="Farmix - Cantidad de Eventos por Tipo y por Sexo">
                    Descargar Imagen
                </a>
                <a ng-click="descargarPdf('descargaGraficoEventosXTipoXGenero', 'Cantidad de Eventos por Tipo y por Sexo', 'apaisado')" style="cursor:pointer;">Descargar en PDF</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><h4>Top 10 Alimentos más usados</h4></div>
            </div>
            <div class="panel-body">
                <div id="graficotop10Alimentos"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><h4>Vacunas menos usadas</h4></div>
            </div>
            <div class="panel-body">
                <div id="graficoVacunasMenosUsadas"></div>
                <a id="descargaGraficoVacunasMenosUsadas" ng-show="false" style="text-decoration:underline" download="Farmix - Gráfica de Vacunas menos usadas">
                    Descargar Imagen
                </a>
                <a ng-click="descargarPdf('descargaGraficoVacunasMenosUsadas', 'Gráfica de Vacunas menos usadas', 'apaisado')" style="cursor:pointer;">Descargar en PDF</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <button type="button" class="btn btn-default"
            ui-sref="home.reportes" style="margin-left: 15px;">
        Volver
    </button>
</div>
