<!DOCTYPE html>
<html>
<form name="formRegistrarUsuario" novalidate>
    <fieldset>
        <div class="alert alert-danger" ng-show=""></div>
        <div class="row">
            <div class="col-lg-10">
                <div style="margin-top:0px;" class="page-header">
                    <h1>
                        Usuario
                        <small>Registrar</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="text-left">Los campos marcados con * son obligatorios: </div>
        <div class="panel panel-default">
            <div class="panel-heading">Datos Personales</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-4 col-lg-4" ng-class="{'has-success has-feedback':formRegistrarUsuario.nombre.$touched && formRegistrarUsuario.nombre.$valid,
                 'has-error has-feedback':formRegistrarUsuario.nombre.$touched && formRegistrarUsuario.nombre.$invalid}">
                        <label class="control-label" for="nombre" data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite ingresar el nombre del usuario a registrar. Dato obligatorio (*)">
                            Nombre (*)
                        </label>
                        <input name="nombre" type="text" class="form-control" placeholder="Nombre" required
                               ng-disabled="!habilitar"
                               ng-model="usuario.nombre" />
                        <div ng-show="formRegistrarUsuario.nombre.$touched">
                            <span class="help-block" ng-show="formRegistrarUsuario.nombre.$error.required">
                                Este campo es requerido
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-lg-4" ng-class="{'has-success has-feedback':formRegistrarUsuario.apellido.$touched && formRegistrarUsuario.apellido.$valid,
                 'has-error has-feedback':formRegistrarUsuario.apellido.$touched && formRegistrarUsuario.apellido.$invalid}">
                        <label class="control-label" for="apellido" data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite ingresar el apellido del usuario a registrar. Dato obligatorio (*)">
                            Apellido (*)
                        </label>
                        <input name="apellido" type="text" class="form-control" placeholder="Apellido" required
                               ng-disabled="!habilitar"
                               ng-model="usuario.apellido" />
                        <div ng-show="formRegistrarUsuario.apellido.$touched">
                            <span class="help-block" ng-show="formRegistrarUsuario.apellido.$error.required">
                                Este campo es requerido
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Cuenta</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-4 col-lg-4" ng-class="{'has-success has-feedback':formRegistrarUsuario.usuario.$touched && formRegistrarUsuario.usuario.$valid,
                 'has-error has-feedback':formRegistrarUsuario.usuario.$touched && formRegistrarUsuario.usuario.$invalid}">
                        <label class="control-label" for="usuario" data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite ingresar el nombre con el que va a ingresar al sistema el usuario una vez registrado. Dato obligatorio (*)">
                            Usuario (*)
                        </label>
                        <input name="usuario" type="text" class="form-control" placeholder="Usuario" required
                               ng-disabled="!habilitar"
                               ng-model="usuario.usuario" />
                        <div ng-show="formRegistrarUsuario.usuario.$touched">
                            <span class="help-block" ng-show="formRegistrarUsuario.usuario.$error.required">
                                Este campo es requerido
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-lg-4" ng-class="{'has-success has-feedback':formRegistrarUsuario.rol.$touched && formRegistrarUsuario.rol.$valid,
                 'has-error has-feedback':formRegistrarUsuario.rol.$touched && formRegistrarUsuario.rol.$invalid}">
                        <label class="control-label" for="rol" data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite seleccionar el rol que se le asigna al usuario a registrar. Dato obligatorio (*)">
                            Rol (*)
                        </label>
                        <select class="form-control" name="rol"
                                ng-disabled="!habilitar"
                                ng-model="usuario.idRol" required>
                            <option value="">Seleccione...</option>
                            <option ng-repeat="item in roles"
                                    value="{{ item.idRol }}">
                                {{ item.nombre }}
                            </option>
                        </select>
                        <div ng-show="formRegistrarUsuario.rol.$touched">
                            <span class="help-block" ng-show="formRegistrarUsuario.rol.$error.required">
                                Este campo es requerido
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4 col-lg-4" ng-class="{'has-success has-feedback':formRegistrarUsuario.contrasenia.$touched && formRegistrarUsuario.contrasenia.$valid,
                 'has-error has-feedback':formRegistrarUsuario.contrasenia.$touched && formRegistrarUsuario.contrasenia.$invalid}">
                        <label class="control-label" for="contrasenia" data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite ingresar la contraseña del usuario a registrar. No la olvide o anotela en un lugar seguro. Dato obligatorio (*)">
                            Contraseña (*)
                        </label>
                        <input name="contrasenia" type="password" class="form-control" placeholder="Contraseña" required
                               ng-disabled="!habilitar"
                               ng-model="usuario.pass" />
                        <div ng-show="formRegistrarUsuario.contrasenia.$touched">
                            <span class="help-block" ng-show="formRegistrarUsuario.contrasenia.$error.required">
                                Este campo es requerido
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-lg-4" ng-class="{'has-success has-feedback':formRegistrarUsuario.contraseniaRepetida.$touched && formRegistrarUsuario.contraseniaRepetida.$valid,
                 'has-error has-feedback':formRegistrarUsuario.contraseniaRepetida.$touched && formRegistrarUsuario.contraseniaRepetida.$invalid}">
                        <label class="control-label" for="contraseniaRepetida" data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite ingresar nuevamente la contraseña del usuario a registrar, para verificar la misma. Dato obligatorio (*)">
                            Repita la contraseña (*)
                        </label>
                        <input name="contraseniaRepetida" type="password" class="form-control" placeholder="Confirmar contraseña" required min=""
                               ng-disabled="!habilitar"
                               ng-model="contraseniaRepetida.contraseniaRepetida"
                               ng-blur="validarContrasenias()" />
                        <div ng-show="formRegistrarUsuario.contraseniaRepetida.$touched">
                            <span class="help-block" ng-show="formRegistrarUsuario.contraseniaRepetida.$error.required">
                                Este campo es requerido
                            </span>
                            <span class="help-block" ng-show="formRegistrarUsuario.contraseniaRepetida.$error.min">
                                Las contraseñas no coinciden
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row margin-top-20">
                        <div ng-show="imageToUpload.length != 0">
                            <img ng-repeat="img in imageToUpload"
                                 ngf-thumbnail="img"
                                 class="thumbnailImg"
                                 ng-click="selectUnselectImage(img)"
                                 ng-class="{selectedImgToDelete: ImageClass(img)}"
                                 ng-disabled="!habilitar" />
                        </div>
                        <div class="col-md-12 margin-top-20">
                            <!-- The fileinput-button span is used to style the file input field as button ng-model="imageToUpload"-->
                            <span class="btn font-white fileinput-button  margin-right-10"
                                  ngf-select="UploadImg($files, $invalidFiles)"
                                  ngf-model-invalid="invalidFiles"
                                  ngf-model-options="modelOptionsObj"
                                  ngf-multiple="true"
                                  ngf-pattern="image/*"
                                  ngf-accept="true"
                                  ng-disabled="!habilitar"
                                  ngf-capture="capture"
                                  ngf-drag-over-class="dragOverClassObj"
                                  ngf-validate="true"
                                  ngf-resize="{width: 670 , height: 377, centerCrop: true}"
                                  ngf-resize-if="$width > 670 || $height > 377 || $width < 670 || $height < 377"
                                  ngf-dimensions="dimensionsFn($file, $width, $height)"
                                  ngf-duration="durationFn($file, $duration)"
                                  ngf-keep="'distinct'"
                                  ngf-fix-orientation="orientation"
                                  ngf-max-files="1"
                                  ngf-ignore-invalid="ignoreInvalid"
                                  ngf-run-all-validations="runAllValidations"
                                  ngf-allow-dir="allowDir"
                                  data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite agregar una imágen para el perfil del usuario.">
                                <i class="fa fa-plus"></i>
                                <span> Agregar Imágen... </span>
                            </span>
                            <button type="button" class="btn" ng-click="deleteImagefromModel()" ng-disabled="!habilitar" style="margin-top:10px;" data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite eliminar la imágen ingresada.">
                                <i class="fa fa-trash"></i>
                                <span> Borrar Archivos... </span>
                            </button>
                            <!-- The global file processing state -->
                            <span class="fileupload-process"> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="row">
        <button type="submit" style="margin-left:15px;" class="btn btn-primary"
                ng-disabled="formRegistrarUsuario.$invalid || !habilitar"
                ng-click="registrar()"
                data-toggle="tooltip" title="" data-placement="top" data-original-title="Se confirman los datos y se registra un nuevo usuario en el sistema, con los datos previamente cargados.">
            Aceptar
        </button>

        <button type="button" class="btn btn-default"
                ui-sref="home.usuarios"
                data-toggle="tooltip" title="" data-placement="top" data-original-title="Se borran los datos ingresados, no se registra el usuario y se vuelve a la pantalla anterior.">
            {{btnVolver}}
        </button>
    </div>
</form>
<div class="loader" ng-show="showSpinner" style="margin:0 auto"></div>
