<!DOCTYPE html>
<html>
<form name="formRegistrarUsuario" novalidate>
    <fieldset>
        <div class="alert alert-danger" ng-show=""></div>
        <div class="row">
            <div class="col-lg-10">
                <div style="margin-top:0px;" class="page-header">
                    <h1>
                        Usuario
                        <small>Registrar</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="text-left">Los campos marcados con * son obligatorios: </div>
        <div class="panel panel-default">
            <div class="panel-heading">Datos Personales</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-4 col-lg-4" ng-class="{'has-success has-feedback':formRegistrarUsuario.nombre.$touched && formRegistrarUsuario.nombre.$valid,
                 'has-error has-feedback':formRegistrarUsuario.nombre.$touched && formRegistrarUsuario.nombre.$invalid}">
                        <label class="control-label" for="nombre">
                            Nombre (*)
                        </label>
                        <input name="nombre" type="text" class="form-control" placeholder="Nombre" required
                               ng-disabled="!habilitar"
                               ng-model="usuario.nombre" />
                        <div ng-show="formRegistrarUsuario.nombre.$touched">
                            <span class="help-block" ng-show="formRegistrarUsuario.nombre.$error.required">
                                Este campo es requerido
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-lg-4" ng-class="{'has-success has-feedback':formRegistrarUsuario.apellido.$touched && formRegistrarUsuario.apellido.$valid,
                 'has-error has-feedback':formRegistrarUsuario.apellido.$touched && formRegistrarUsuario.apellido.$invalid}">
                        <label class="control-label" for="apellido">
                            Apellido (*)
                        </label>
                        <input name="apellido" type="text" class="form-control" placeholder="Apellido" required
                               ng-disabled="!habilitar"
                               ng-model="usuario.apellido" />
                        <div ng-show="formRegistrarUsuario.apellido.$touched">
                            <span class="help-block" ng-show="formRegistrarUsuario.apellido.$error.required">
                                Este campo es requerido
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Cuenta</div>
            <div class="panel-body">

                <div class="row">
                    <div class="form-group col-md-4 col-lg-4" ng-class="{'has-success has-feedback':formRegistrarUsuario.usuario.$touched && formRegistrarUsuario.usuario.$valid,
                 'has-error has-feedback':formRegistrarUsuario.usuario.$touched && formRegistrarUsuario.usuario.$invalid}">
                        <label class="control-label" for="usuario">
                            Usuario (*)
                        </label>
                        <input name="usuario" type="text" class="form-control" placeholder="Usuario" required
                               ng-disabled="!habilitar"
                               ng-model="usuario.usuario" />
                        <div ng-show="formRegistrarUsuario.usuario.$touched">
                            <span class="help-block" ng-show="formRegistrarUsuario.usuario.$error.required">
                                Este campo es requerido
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-lg-4" ng-class="{'has-success has-feedback':formRegistrarUsuario.rol.$touched && formRegistrarUsuario.rol.$valid,
                 'has-error has-feedback':formRegistrarUsuario.rol.$touched && formRegistrarUsuario.rol.$invalid}">
                        <label class="control-label" for="rol">
                            Rol (*)
                        </label>
                        <select class="form-control" name="rol"
                                ng-disabled="!habilitar"
                                ng-model="usuario.idRol" required>
                            <option value="">Seleccione...</option>
                            <option ng-repeat="item in roles"
                                    value="{{ item.idRol }}">
                                {{ item.nombre }}
                            </option>
                        </select>
                        <div ng-show="formRegistrarUsuario.rol.$touched">
                            <span class="help-block" ng-show="formRegistrarUsuario.rol.$error.required">
                                Este campo es requerido
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4 col-lg-4" ng-class="{'has-success has-feedback':formRegistrarUsuario.contrasenia.$touched && formRegistrarUsuario.contrasenia.$valid,
                 'has-error has-feedback':formRegistrarUsuario.contrasenia.$touched && formRegistrarUsuario.contrasenia.$invalid}">
                        <label class="control-label" for="contrasenia">
                            Contraseña (*)
                        </label>
                        <input name="contrasenia" type="password" class="form-control" placeholder="Contraseña" required
                               ng-disabled="!habilitar"
                               ng-model="usuario.pass" />
                        <div ng-show="formRegistrarUsuario.contrasenia.$touched">
                            <span class="help-block" ng-show="formRegistrarUsuario.contrasenia.$error.required">
                                Este campo es requerido
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-lg-4" ng-class="{'has-success has-feedback':formRegistrarUsuario.contraseniaRepetida.$touched && formRegistrarUsuario.contraseniaRepetida.$valid,
                 'has-error has-feedback':formRegistrarUsuario.contraseniaRepetida.$touched && formRegistrarUsuario.contraseniaRepetida.$invalid}">
                        <label class="control-label" for="contraseniaRepetida">
                            Repita la contraseña (*)
                        </label>
                        <input name="contraseniaRepetida" type="password" class="form-control" placeholder="Confirmar contraseña" required min=""
                               ng-disabled="!habilitar"
                               ng-model="contraseniaRepetida.contraseniaRepetida"
                               ng-blur="validarContrasenias()" />
                        <div ng-show="formRegistrarUsuario.contraseniaRepetida.$touched">
                            <span class="help-block" ng-show="formRegistrarUsuario.contraseniaRepetida.$error.required">
                                Este campo es requerido
                            </span>
                            <span class="help-block" ng-show="formRegistrarUsuario.contraseniaRepetida.$error.min">
                                Las contraseñas no coinciden
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="row">
        <button type="submit" style="margin-left:15px;" class="btn btn-primary"
                ng-disabled="formRegistrarUsuario.$invalid || !habilitar"
                ng-click="registrar()">
            Aceptar
        </button>

        <button type="button" class="btn btn-default"
                ui-sref="home.usuarios">
            {{btnVolver}}
        </button>
    </div>
</form>
<div class="loader" ng-show="showSpinner" style="margin:0 auto"></div>
