<!DOCTYPE html>
<html>
<head>
    <title>Farmix - Sistema de Gestión Ganadera</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
    <link rel="stylesheet" href="../../lib/css/w3css/w3.css">
    <link rel="stylesheet" href="../../lib/css/w3css/w3-theme-black.css">
</head>
<body id="myPage">

    <!-- Sidebar on click -->
    <nav class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left w3-xxlarge" style="display:none;z-index:2" id="mySidebar">
        <a onclick="w3_close()" class="w3-bar-item w3-button w3-display-topright w3-text-teal">
            Close
            <i class="fa fa-remove"></i>
        </a>
        <a href="#" class="w3-bar-item w3-button">Link 1</a>
        <a href="#" class="w3-bar-item w3-button">Link 2</a>
        <a href="#" class="w3-bar-item w3-button">Link 3</a>
        <a href="#" class="w3-bar-item w3-button">Link 4</a>
        <a href="#" class="w3-bar-item w3-button">Link 5</a>
    </nav>

    <!-- Navbar -->
    <div class="w3-top" id="arriba">
        <div class="w3-bar w3-theme-d2 w3-left-align">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" ng-click="openNav()"><i class="fa fa-bars"></i></a>
            <a class="w3-bar-item w3-button w3-teal" ng-click="irArriba()"><i class="fa fa-home w3-margin-right"></i>Farmix</a>
            <a ng-click="irAEquipo()" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Equipo</a>
            <a ng-click="irAFuncionalidades()" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Funcionalidades</a>
            <a ng-click="irAPlanes()" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Planes</a>
            <a ng-click="irAContacto()" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contacto</a>
            <a ui-sref="login" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Iniciar sesión"><i class="fa fa-arrow-circle-o-right"></i></a>
        </div>

        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
            <a ng-click="irAEquipo()" class="w3-bar-item w3-button">Equipo</a>
            <a ng-click="irAFuncionalidades()" class="w3-bar-item w3-button">Trabajo</a>
            <a ng-click="irAPlanes()" class="w3-bar-item w3-button">Precio</a>
            <a ng-click="irAContacto()" class="w3-bar-item w3-button">Contacto</a>
            <a ui-sref="login" class="w3-bar-item w3-button">Iniciar Sesión</a>
        </div>
    </div>

    <!-- Image Header -->
    <div class="w3-display-container w3-animate-opacity">
        <img src="../../images/campo7.jpg" alt="campo" style="width:100%;min-height:350px;max-height:600px;">
        <div class="w3-container w3-display-middle w3-margin-bottom">
            <!-- <button class="w3-button w3-xlarge w3-theme w3-hover-teal">Farmix</button> -->
            <img class="img-responsive" src="/images/logo_farmix.png" alt="Farmix" height="250" width="700">
        </div>
    </div>

    <!-- Team Container -->
    <div class="w3-container w3-padding-64 w3-center w3-theme-l5" id="team">
        <h2>NUESTRO EQUIPO</h2>
        <p>Conoce a nuestro equipo:</p>

        <div class="w3-row">
            <br>

            <div class="w3-quarter">
                <img src="../../images/lucas.jpg" alt="Desarrollador" style="width:50%" class="w3-circle w3-hover-opacity">
                <h3>Lucas Lissandrello</h3>
                <p>Mobile Developer / Technical Manager</p>
            </div>

            <div class="w3-quarter">
                <img src="../../images/jere.jpg" alt="Desarrollador" style="width:55%" class="w3-circle w3-hover-opacity">
                <h3>Jeremías Ordoñez</h3>
                <p>DBA / Mobile Developer</p>
            </div>

            <div class="w3-quarter">
                <img src="../../images/mati.jpg" alt="Desarrollador" style="width:55%" class="w3-circle w3-hover-opacity">
                <h3>Matías Pavan</h3>
                <p>Web Developer</p>
            </div>

            <div class="w3-quarter">
                <img src="../../images/fede.jpg" alt="Desarrollador" style="width:55%" class="w3-circle w3-hover-opacity">
                <h3>Federico Prado Macat</h3>
                <p>Web Developer</p>
            </div>

        </div>
    </div>

    <!-- Work Row -->
    <div class="w3-row-padding w3-padding-64 w3-theme-l3" id="work">

        <div class="w3-quarter">
            <h2>Nuestro Trabajo</h2>
            <p>
                Farmix surge como iniciativa de Matías: oriundo de la ciudad de Hernando, en la provincia de Córdoba -una región de Argentina con un gran desarrollo agrícola-ganadero- y graduado de un colegio técnico agropecuario.
                Prontamente nos interiorizamos con actores allegados a la escena del campo, para conocer las necesidades y las condiciones de trabajo actuales.
                Luego de un gran trabajo de investigación, seleccionamos los conceptos más importantes y que más resonaban en las entrevistas que realizamos a los potenciales usuarios de la aplicación.
                Como resultado, planteamos el diseño de un sistema que brinde soporte para la administración de los bovinos en un campo, sin perder el enfoque de lograr un producto que sea económico y accesible para pequeños y medianos productores.
            </p>
            <p>Las principales funcionalidades son:</p>
        </div>

        <div class="w3-quarter">
            <div class="w3-card w3-white">
                <img src="../../images/nfc_tag.jpg" alt="campo7" style="width:100%">
                <div class="w3-container">
                    <h3>Identificación unívoca</h3>
                    <h4>Tag NFC</h4>
                    <p>
                        Mediante la colocación de una pequeña pegatina NFC en la caravana del animal, se puede levantar toda la información asociada al mismo haciendo uso de un celular.
                        Esta pegatina es muy barata, duradera y resistente a las condiciones meteorológicas del campo.
                        Una vez que el material se deteriora, el reemplazo del mismo es muy fácil.
                        Es una excelente alternativa a tecnologías más costosas, basadas en dispositivos que operan en RF y con un costo inicial de miles de dólares.
                    </p>
                </div>
            </div>
        </div>

        <div class="w3-quarter">
            <div class="w3-card w3-white">
                <img src="../../images/cows.jpg" alt="vacas" style="width:100%">
                <div class="w3-container">
                    <h3>Trazabilidad bovina</h3>
                    <h4>Eventos y ficha médica</h4>
                    <p>Mediante la aplicación, se puede dar de alta cada uno de los bovinos del campo, dejando asentados los datos básicos para su identificación. Ejemplo de ellos son el número de caravana, el peso actual del animal, su estado, categoría y raza, entre otros.</p>
                    <p>Farmix le permite dejar huella de todos los eventos asociados a las cabeza de ganado, como por ejemplo: vacunaciones, cambios de alimentación o rodeo, inseminaciones, suministro de antibióticos, entre los más importantes.</p>
                    <p>La información se carga a través de los teléfonos celulares de los peones del campo, que previamente deben tener instalada la aplicación para ello. La carga resulta muy fácil ya que la aplicación está diseñada con menús sencillos y botones grandes, pensada para el uso en el campo.</p>
                    <p>Todos los datos se sincronizan con la web una vez que se llega a una zona con acceso a Internet móvil o WiFi.</p>
                </div>
            </div>
        </div>

        <div class="w3-quarter">
            <div class="w3-card w3-white">
                <img src="../../images/statistics.png" alt="estadisticas" style="width:100%">
                <div class="w3-container">
                    <h3>Estadísticas y Reportería</h3>
                    <h4>Gráficos y consultas</h4>
                    <p>
                        Como salidas del sistema, los usuarios web -el dueño y el ingeniero agrónomo- podrán consultar exportar todo tipo de estadísticas y reportes. Estos se encuentran ordenados según el tema: eventos, bovinos e inseminación,  y permiten mejorar la toma de decisiones.
                        Con un rápido vistazo estos usuarios pueden conocer el estado actual del campo, y tomar acciones sobre ello.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <!-- Container -->
    <!--<div class="w3-container" style="position:relative">
        <a onclick="w3_open()" class="w3-button w3-xlarge w3-circle w3-teal"
           style="position:absolute;top:-28px;right:24px">+</a>
    </div>-->

    <!-- Pricing Row -->
    <div class="w3-row-padding w3-center w3-padding-64 w3-theme-l4" id="pricing">
        <h2>Planes</h2>
        <p>Elija el plan que se adecúe a su campo.</p><br>
        <div class="w3-third w3-margin-bottom">
            <ul class="w3-ul w3-border w3-hover-shadow">
                <li class="w3-theme">
                    <p class="w3-xlarge">Basico - Ternero</p>
                </li>
                <li class="w3-padding-16"><b>50</b> Bovinos</li>
                <li class="w3-padding-16"><b>3</b> Usuarios Dueño/Ing</li>
                <li class="w3-padding-16"><b>10</b> Peones</li>
                <li class="w3-padding-16">
                    <h2 class="w3-wide"><i class="fa fa-usd"></i> 300</h2>
                    <span class="w3-opacity">mensuales</span>
                </li>
                <li class="w3-theme-l5 w3-padding-24">
                    <button class="w3-button w3-teal w3-padding-large" ng-click="irAContacto()"><i class="fa fa-check"></i> Obtener</button>
                </li>
            </ul>
        </div>

        <div class="w3-third w3-margin-bottom">
            <ul class="w3-ul w3-border w3-hover-shadow">
                <li class="w3-theme-l2">
                    <p class="w3-xlarge">Intermedio - Torito</p>
                </li>
                <li class="w3-padding-16"><b>100</b> Bovinos</li>
                <li class="w3-padding-16"><b>6</b> Usuarios Dueño/Ing</li>
                <li class="w3-padding-16"><b>25</b> Peones</li>
                <li class="w3-padding-16">
                    <h2 class="w3-wide"><i class="fa fa-usd"></i> 500</h2>
                    <span class="w3-opacity">mensuales</span>
                </li>
                <li class="w3-theme-l5 w3-padding-24">
                    <button class="w3-button w3-teal w3-padding-large" ng-click="irAContacto()"><i class="fa fa-check"></i> Obtener</button>
                </li>
            </ul>
        </div>

        <div class="w3-third w3-margin-bottom">
            <ul class="w3-ul w3-border w3-hover-shadow">
                <li class="w3-theme">
                    <p class="w3-xlarge">Premium - Toruno</p>
                </li>
                <li class="w3-padding-16"><b>250</b> Bovinos</li>
                <li class="w3-padding-16"><b>10</b> Usuarios Dueño/Ing</li>
                <li class="w3-padding-16"><b>40</b> Peones</li>
                <li class="w3-padding-16">
                    <h2 class="w3-wide"><i class="fa fa-usd"></i> 600</h2>
                    <span class="w3-opacity">mensuales</span>
                </li>
                <li class="w3-theme-l5 w3-padding-24">
                    <button class="w3-button w3-teal w3-padding-large" ng-click="irAContacto()"><i class="fa fa-check"></i> Obtener</button>
                </li>
            </ul>
        </div>
    </div>

    <!-- Google Maps -->
    <div map-lazy-load="https://maps.google.com/maps/api/js"
         map-lazy-load-params="{{googleMapsUrl}}">
        <ng-map center="-31.442250, -64.193164" zoom="16" map-type-id="ROADMAP" draggable="false">
            <marker position="[-31.442250, -64.193164]" title="UTN-FRC" animation="Animation.BOUNCE"></marker>
        </ng-map>
    </div>

    <!-- Contact Container -->
    <div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
        <div class="w3-row">
            <div class="w3-col m5">
                <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Contáctanos</span></div>
                <h3>Domicilio</h3>
                <p>Organizar una reunión.</p>
                <p><i class="fa fa-map-marker w3-text-teal w3-xlarge"></i>  Córdoba, Argentina</p>
                <p><i class="fa fa-phone w3-text-teal w3-xlarge"></i>  +54 9 3541582613</p>
                <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i>  farmix@gmail.com</p>
            </div>
            <div class="w3-col m7">
                <form class="w3-container w3-card-4 w3-padding-16 w3-white" target="_blank">
                    <div class="w3-section">
                        <label>Nombre</label>
                        <input class="w3-input" type="text" name="Name" ng-model="name" required>
                    </div>
                    <div class="w3-section">
                        <label>Correo Electrónico</label>
                        <input class="w3-input" type="email" name="Email" ng-model="email" required>
                    </div>
                    <div class="w3-section">
                        <label>Mensaje</label>
                        <input class="w3-input" type="text" name="Message" ng-model="mensaje" required>
                    </div>
                    <button type="submit" class="w3-button w3-right w3-theme" ng-click="enviarCorreo()" ng-disabled="!name || !email || !mensaje">Enviar</button>
                </form>
            </div>
        </div>
    </div>

    <footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
        <p>Farmix 2018 v2.0</p>

        <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
            <span class="w3-text w3-padding w3-teal w3-hide-small">Ir arriba</span>
            <a class="w3-button w3-theme" ng-click="irArriba()">
                <span class="w3-xlarge">
                    <i class="fa fa-chevron-circle-up"></i>
                </span>
            </a>
        </div>
    </footer>

    <script src="http://maps.google.com/maps/api/js"></script>
    <script>
        // Script for side navigation
        function w3_open() {
            var x = document.getElementById("mySidebar");
            x.style.width = "300px";
            x.style.paddingTop = "10%";
            x.style.display = "block";
        }

        // Close side navigation
        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
        }

        // Used to toggle the menu on smaller screens when clicking on the menu button
        function openNav() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>
</body>
</html>
