<style>
    .cursor {
        cursor: no-drop;
    }

        .cursor a {
            pointer-events: none;
        }
</style>
<div class="row">
    <div class="col-lg-10">
        <div class="page-header">
            <h1>
                Consulta Trazabilidad
                <small> Criterios de búsqueda</small>
            </h1>
        </div>
    </div>
</div>
<!--<p>Ingrese los filtros para la consulta:</p>-->
<form name="formConsultarTrazabilidad" novalidate>
    <fieldset>
        <div class="row">
            <div class="form-group col-md-3 col-lg-3" ng-class="{'has-success has-feedback':formConsultarTrazabilidad.numCaravana.$touched && formConsultarTrazabilidad.numCaravana.$valid,
                 'has-error has-feedback':formConsultarTrazabilidad.numCaravana.$touched && formConsultarTrazabilidad.numCaravana.$invalid}">
                <label>
                    N° Caravana
                </label>
                <input class="form-control" name="numCaravana" type="number" min="0" ng-model="filtro.numCaravana" placeholder="N° Caravana" ng-disabled="disabled" />
                <div ng-show="formConsultarTrazabilidad.numCaravana.$touched">
                    <span class="help-block" ng-show="formConsultarTrazabilidad.numCaravana.$error.min">
                        El número de Caravana no puede ser negativo
                    </span>
                </div>
            </div>
            <div class="form-group col-md-3 col-lg-3">
                <label>
                    Tipo de Evento
                </label>
                <select class="form-control" name="tipoEvento" required
                        ng-model="filtro.idTipoEvento" ng-disabled="disabled">
                    <option value="0">Seleccione...</option>
                    <option ng-repeat="item in Eventos"
                            value="{{ item.idTipoEvento }}">
                        {{ item.descripcion }}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-3 col-lg-3" ng-class="{'has-success has-feedback':formConsultarTrazabilidad.fechaDesde.$touched && formConsultarTrazabilidad.fechaDesde.$valid,
                 'has-error has-feedback':formConsultarTrazabilidad.fechaDesde.$touched && formConsultarTrazabilidad.fechaDesde.$invalid}">
                <label class="control-label" for="fechaDesde">
                    Fecha Desde
                </label>
                <div name="fechaDesde">
                    <input type="datetime" placeholder="Fecha desde" name="fechaDesde" class="form-control" id='datetimepicker4' max="{{fechaDeHoy | date:'dd-MM-yyyy'}}" ng-disabled="disabled" ng-blur="getFechaDesde()" data-date-format="DD/MM/YYYY" ng-model="filtro.fechaDesde" valueAsDate="{{filtro.fechaDesde}}" />
                </div>
                <div ng-show="formConsultarTrazabilidad.fechaDesde.$touched">
                    <span class="help-block" ng-show="formConsultarTrazabilidad.fechaDesde.$error.max || formConsultarTrazabilidad.fechaDesde.$error.min">
                        Debe ingresar una fecha válida
                    </span>
                </div>               
            </div>
            <div class="form-group col-md-3 col-lg-3" ng-class="{'has-success has-feedback':formConsultarTrazabilidad.fechaHasta.$touched && formConsultarTrazabilidad.fechaHasta.$valid,
                 'has-error has-feedback':formConsultarTrazabilidad.fechaHasta.$touched && formConsultarTrazabilidad.fechaHasta.$invalid}">
                <label class="control-label" for="fechaHasta">
                    Fecha Hasta
                </label>
                <div name="fechaHasta">
                    <input type="datetime" placeholder="Fecha hasta" name="fechaHasta" class="form-control" id='datetimepicker5' max="{{fechaDeHoy | date:'dd-MM-yyyy'}}" ng-disabled="disabled" ng-blur="getFechaHasta()" data-date-format="DD/MM/YYYY" ng-model="filtro.fechaHasta" valueAsDate="{{filtro.fechaHasta}}" />
                </div>
                <div ng-show="formConsultarTrazabilidad.fechaHasta.$touched">
                    <span class="help-block" ng-show="formConsultarTrazabilidad.fechaHasta.$error.min">
                        Debe ingresar una fecha válida
                    </span>
                </div>
            </div>
        </div>
        <div class="row pull-right">
            <div class="col-md-12 col-lg-12">
                <button class="btn btn-default"
                        ng-click="limpiarCampos()" ng-disabled="disabled">
                    <span class="glyphicon glyphicon-remove"></span>
                    Limpiar Campos
                </button>
                <button class="btn btn-primary"
                        ng-click="consultar()" ng-disabled="formConsultarTrazabilidad.$invalid || disabled">
                    <span class="glyphicon glyphicon-search"></span>
                    Buscar
                </button>
            </div>
        </div>
    </fieldset>
</form>
<legend style="margin-bottom:5px" ng-show="rowCollection.length > 0">Resultados</legend>
<div class="row col-lg-12 col-md-12" ng-show="rowCollection.length > 0">
    <div class="pull-right" style="margin-bottom:5px">
        <button class="btn btn-success font-white" ng-click="exportarExcel()" title="Exportar a Excel" ng-disabled="disabledExportar">
            <i class="fa fa-file-excel-o"></i>
        </button>
        <button class="btn btn-success font-white" ng-click="exportarPDF()" title="Exportar a PDF" ng-disabled="disabledExportar">
            <i class="fa fa-file-pdf-o"></i>
        </button>
        <a class="btn btn-success font-white" href='javascript:window.print();' title="Imprimir" ng-disabled="disabledExportar">
            <i class="fa fa-print"></i>
        </a>
    </div>
    <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
        <thead>
            <tr>
                <th st-sort="tipoEvento">Tipo de Evento</th>
                <th st-sort="fechaHora">Fecha Evento</th>
                <th st-sort="cantidadBovinos">Bovinos que participaron</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in displayedCollection">
                <td>{{item.tipoEvento | uppercase}}</td>
                <td>{{item.fechaHora }}</td>
                <td>{{item.cantidadBovinos}}</td>
                <td>
                    <a ui-sref="home.modificarEvento({id: item.idEvento})" title="Editar"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a ui-sref="home.detalleEvento({id: item.idEvento})" title="Ver"><span class="glyphicon glyphicon-search"></span></a>
                    <a><span class="glyphicon glyphicon-trash" style="cursor:pointer" title="Eliminar" ng-click="openPopUp(item.tipoEvento, item.fechaHora, item.idEvento)"></span></a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <label for="items">Registros por página</label>
                    <input class="input-sm form-control" name="items" min="1" id="items" type="number" ng-model="itemsPorPagina" ng-disabled="disabled">
                </td>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsPorPagina" st-displayed-pages="7"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<div class="row col-lg-12 col-md-12">
    <div id="timeline"></div>
</div>
<!--Modal-->
<div id="modalConfirmEliminar" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmar eliminación</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea eliminar el evento {{tipoEventoPopUp}} de la fecha {{fecha}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="eliminar()">Si</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cerrar()">No</button>
            </div>
        </div>
    </div>
</div>
<div class="loader" ng-show="showSpinner" style="margin:0 auto"></div>