<form name="formModificarUsuario" novalidate>
    <fieldset>
        <div class="alert alert-danger" ng-show=""></div>
        <div class="row">
            <div class="col-lg-10">
                <div style="margin-top:0px;" class="page-header">
                    <h1>
                        Usuario
                        <small>Modificar</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="text-left">Los campos marcados con * son obligatorios: </div>
        <div class="panel panel-default">
            <div class="panel-heading">Datos Personales</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-4 col-lg-4" ng-class="{'has-success has-feedback':formModificarUsuario.nombre.$touched && formModificarUsuario.nombre.$valid,
                 'has-error has-feedback':formModificarUsuario.nombre.$touched && formModificarUsuario.nombre.$invalid}">
                        <label class="control-label" for="nombre">
                            Nombre (*)
                        </label>
                        <input name="nombre" type="text" class="form-control" placeholder="Nombre" required
                               ng-disabled="!habilitar"
                               ng-model="usuario.nombre" />
                        <div ng-show="formModificarUsuario.nombre.$touched">
                            <span class="help-block" ng-show="formModificarUsuario.nombre.$error.required">
                                Este campo es requerido
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-lg-4" ng-class="{'has-success has-feedback':formModificarUsuario.apellido.$touched && formModificarUsuario.apellido.$valid,
                 'has-error has-feedback':formModificarUsuario.apellido.$touched && formModificarUsuario.apellido.$invalid}">
                        <label class="control-label" for="apellido">
                            Apellido (*)
                        </label>
                        <input name="apellido" type="text" class="form-control" placeholder="Apellido" required
                               ng-disabled="!habilitar"
                               ng-model="usuario.apellido" />
                        <div ng-show="formModificarUsuario.apellido.$touched">
                            <span class="help-block" ng-show="formModificarUsuario.apellido.$error.required">
                                Este campo es requerido
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Cuenta</div>
            <div class="panel-body">

                <div class="row">
                    <div class="form-group col-md-4 col-lg-4" ng-class="{'has-success has-feedback':formModificarUsuario.usuario.$touched && formModificarUsuario.usuario.$valid,
                 'has-error has-feedback':formModificarUsuario.usuario.$touched && formModificarUsuario.usuario.$invalid}">
                        <label class="control-label" for="usuario">
                            Usuario (*)
                        </label>
                        <input name="usuario" type="text" class="form-control" placeholder="Usuario" required
                               ng-disabled="!habilitar"
                               ng-model="usuario.usuario" />
                        <div ng-show="formModificarUsuario.usuario.$touched">
                            <span class="help-block" ng-show="formModificarUsuario.usuario.$error.required">
                                Este campo es requerido
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-lg-4" ng-class="{'has-success has-feedback':formModificarUsuario.rol.$touched && formModificarUsuario.rol.$valid,
                 'has-error has-feedback':formModificarUsuario.rol.$touched && formModificarUsuario.rol.$invalid}">
                        <label class="control-label" for="rol">
                            Rol (*)
                        </label>
                        <select class="form-control" name="rol"
                                ng-disabled="!habilitar"
                                ng-model="usuario.idRol" required>
                            <option value="">Seleccione...</option>
                            <option ng-repeat="item in roles"
                                    value="{{ item.idRol }}">
                                {{ item.nombre }}
                            </option>
                        </select>
                        <div ng-show="formModificarUsuario.rol.$touched">
                            <span class="help-block" ng-show="formModificarUsuario.rol.$error.required">
                                Este campo es requerido
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4 col-lg-4">
                        <label class="control-label" for="contrasenia">
                            Contraseña (*)
                        </label>
                        <input name="contrasenia" type="password" class="form-control" placeholder="Contraseña"
                               ng-disabled="!habilitar"
                               ng-model="contrasenia.contrasenia" />
                        <div ng-show="noCoincidenPass">
                            <span class="help-block" style="color:red;">
                                Las contraseñas no conciden
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-lg-4">
                        <label class="control-label" for="contraseniaRepetida">
                            Repita la contraseña (*)
                        </label>
                        <input name="contraseniaRepetida" type="password" class="form-control" placeholder="Repita la contraseña"
                               ng-disabled="!habilitar"
                               ng-model="contraseniaRepetida.contraseniaRepetida"
                               ng-blur="validarContasenias()" />                        
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="row">
        <button type="submit" style="margin-left:15px;" class="btn btn-primary"
                ng-disabled="formModificarUsuario.$invalid || !habilitar || noCoincidenPass"
                ng-click="modificar()">
            Aceptar
        </button>

        <button type="button" class="btn btn-default"
                ui-sref="home.usuarios">
            {{btnVolver}}
        </button>
    </div>
</form>
