<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>
                Reporte
                <small> Eventos</small>
            </h1>
        </div>
    </div>
</div>
<div>
    <h4>
        Campo: <b>{{usuarioInfo.campo}}</b>
    </h4>
</div>
<form name="formConsultarReporteEvento" novalidate>
    <fieldset>
        <div class="row">
            <div class="form-group col-md-3 col-lg-3" ng-class="{'has-success has-feedback':formConsultarReporteEvento.numCaravana.$touched && formConsultarReporteEvento.numCaravana.$valid,
                 'has-error has-feedback':formConsultarReporteEvento.numCaravana.$touched && formConsultarReporteEvento.numCaravana.$invalid}">
                <label data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite buscar los eventos de un bovino por su número de caravana. Debajo de Resultados se mostrará una línea de tiempo donde se muestran los eventos que involucran a ese bovino, en orden cronológico.">
                    N° Caravana
                </label>
                <input class="form-control" name="numCaravana" type="number" min="1" maxlength="15" ng-model="filtro.numCaravana" placeholder="N° Caravana" ng-disabled="disabled" />
                <div ng-show="formConsultarReporteEvento.numCaravana.$touched">
                    <span class="help-block" ng-show="formConsultarReporteEvento.numCaravana.$error.min">
                        El número de Caravana no puede ser negativo ni 0
                    </span>
                    <span class="help-block" ng-show="formConsultarReporteEvento.numCaravana.$error.maxlength">
                        Puede colocar hasta 15 dígitos
                    </span>
                </div>
            </div>
            <div class="form-group col-md-3 col-lg-3">
                <label data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite mostrar los eventos de un tipo determinado.">
                    Tipo de Evento
                </label>
                <select class="form-control" name="tipoEvento" required
                        ng-model="filtro.idTipoEvento" ng-disabled="disabled">
                    <option value="0">Seleccione...</option>
                    <option ng-repeat="item in TiposEventos"
                            value="{{ item.idTipoEvento }}">
                        {{ item.descripcion }}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-3 col-lg-3" ng-class="{'has-success has-feedback':formConsultarReporteEvento.fechaDesde.$touched && formConsultarReporteEvento.fechaDesde.$valid,
                 'has-error has-feedback':formConsultarReporteEvento.fechaDesde.$touched && formConsultarReporteEvento.fechaDesde.$invalid}">
                <label class="control-label" for="fechaDesde" data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite filtrar los eventos para mostrar los que hayan sucedido desde la fecha ingresada.">
                    Fecha Desde
                </label>
                <div name="fechaDesde">
                    <input type="datetime" placeholder="Fecha desde" name="fechaDesde" class="form-control" id='datetimepicker4' max="{{fechaDeHoy | date:'dd-MM-yyyy'}}" ng-disabled="disabled" ng-blur="getFechaDesde()" data-date-format="DD/MM/YYYY" ng-model="filtro.fechaDesde" valueAsDate="{{filtro.fechaDesde}}" />
                </div>
                <div ng-show="formConsultarReporteEvento.fechaDesde.$touched">
                    <span class="help-block" ng-show="formConsultarReporteEvento.fechaDesde.$error.max || formConsultarReporteEvento.fechaDesde.$error.min">
                        Debe ingresar una fecha válida
                    </span>
                </div>
            </div>
            <div class="form-group col-md-3 col-lg-3" ng-class="{'has-success has-feedback':formConsultarReporteEvento.fechaHasta.$touched && formConsultarReporteEvento.fechaHasta.$valid,
                 'has-error has-feedback':formConsultarReporteEvento.fechaHasta.$touched && formConsultarReporteEvento.fechaHasta.$invalid}">
                <label class="control-label" for="fechaHasta" data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite filtrar los eventos para mostrar los que hayan sucedido hasta la fecha ingresada.">
                    Fecha Hasta
                </label>
                <div name="fechaHasta">
                    <input type="datetime" placeholder="Fecha hasta" name="fechaHasta" class="form-control" id='datetimepicker5' max="{{fechaDeHoy | date:'dd-MM-yyyy'}}" ng-disabled="disabled" ng-blur="getFechaHasta()" data-date-format="DD/MM/YYYY" ng-model="filtro.fechaHasta" valueAsDate="{{filtro.fechaHasta}}" />
                </div>
                <div ng-show="formConsultarReporteEvento.fechaHasta.$touched">
                    <span class="help-block" ng-show="formConsultarReporteEvento.fechaHasta.$error.min">
                        Debe ingresar una fecha válida
                    </span>
                </div>
            </div>
        </div>
        <div class="row pull-right hidden-print">
            <div class="col-md-12 col-lg-12">
                <button class="btn btn-default"
                        ng-click="limpiarCampos()" ng-disabled="disabled"
                        data-toggle="tooltip" title="" data-placement="top" data-original-title="Permite limpiar los filtros ingresados para mostrar todos los eventos del campo.">
                    <span class="fa fa-trash"></span>
                    Limpiar Campos
                </button>
                <button class="btn btn-primary"
                        ng-click="consultar()" ng-disabled="formConsultarReporteEvento.$invalid || disabled"
                        data-toggle="tooltip" title="" data-placement="top" data-original-title="Muestra los eventos que cumplan con las condiciones ingresadas en los criterios de búsqueda.">
                    <span class="fa fa-search"></span>
                    Buscar
                </button>
            </div>
        </div>
    </fieldset>
</form>
<br />
<div ng-show="rowCollection.length > 0">
    <div class="pull-right hidden-print" style="margin-bottom:5px">
        <button class="btn btn-success font-white" ng-click="exportarExcel()" title="Exportar a Excel">
            <i class="fa fa-file-excel-o"></i>
        </button>
        <button class="btn btn-success font-white" ng-click="exportarPDF()" title="Exportar a PDF">
            <i class="fa fa-file-pdf-o"></i>
        </button>
        <a class="btn btn-success font-white" href='javascript:window.print();' title="Imprimir">
            <i class="fa fa-print"></i>
        </a>
    </div>
    <div class="table-responsive">
        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
            <thead>
                <tr>
                    <th st-sort="nroOrden">N° Orden</th>
                    <th st-sort="tipoEvento">Tipo Evento</th>
                    <th st-sort="fechaHora">Fecha y hora</th>
                    <th st-sort="duracion">Duración (Días)</th>
                    <th st-sort="descripcion">Descripción</th>
                    <th st-sort="caravanas">Caravana de animales que participaron</th>
                </tr>
            </thead>
            <tbody id="tabla">
                <tr ng-repeat="item in displayedCollection">
                    <td>{{item.nroOrden}}</td>
                    <td>{{item.tipoEvento | uppercase}}</td>
                    <td>{{item.fechaHora}}</td>
                    <td>{{item.duracion}}</td>
                    <td>{{item.descripcion | uppercase}}</td>
                    <td>{{item.caravanas}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="hidden-print">
                        <label for="items">Registros por página</label>
                        <input class="input-sm form-control" name="items" id="items" min="1" type="number" ng-model="itemsPorPagina" ng-disabled="disabled">
                    </td>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsPorPagina" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>    
</div>
<div class="row hidden-print">
    <button type="button" class="btn btn-default"
            ui-sref="home.reportes">
        Volver
    </button>
</div>
